body {
	height: 100%;
	width: 100%;
  	font-family: "Gotham", "Lato", Helvetica, Arial, sans-serif;
  	font-size: 16px;
  	line-height: 1.72222;
  	color: #34495e;
  	background-color: #ffffff;
}

.searchbar input {
	border: 0;
	background-color: #1b3033;
	color: #FFF;
	border-bottom: solid 1px #CCC;
	border-radius: 0.5;

	width: 400px;
	height: 40px;
	font-size: 15px;
	padding: 5px;
	margin-top: 5px;
}

.searchbar input:focus {
	border: 0;
	text-decoration: none;
	outline: none;
	border-bottom: solid 1px #CCC;
	color: #FFF;
}

.searchbar input:hover {
	border: solid 1px #CCC;

}

.font12 {
	font-size: 12px;
}

.font13 {
	font-size: 13px;
}

.font14 {
	font-size: 14px;
}

.break {
	width: 98%;
	border-top: 1px solid #CCC;
	
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

.top-spacer {
	margin-top: 20px;
}

.input-no-style {
	border: 0px;
	width: 100%;
	height: 50px;
}

.input-no-style:hover {
	border: 0px;
	text-decoration: none;
}

.link {
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

.sub {
	font-size: 12px;
	color: #c5c5c5;
}

.status {
	font-size: 14px;
	color: #337ab7;
}

.header1 {
	color: #a3a3a3;
	font-weight: bold;
	font-size: 1.5em;
}

.header2 {
	color: #000;
	font-weight: bold;
}

.header3 {
	color: #a3a3a3;
	font-weight: bold;
	font-size: 1.2em;
}

.header4 {
	color: #000;
	font-weight: bold;
	font-size: 1.3em;
}

.credit {
	/*margin-left: 30px;*/
	text-align: center;
	font-size: 20px;
}

.credit .label {
	color: #000;
}

.credit .amount {
	color: #daa520;
}

.news {
	margin: 0 auto;
	width: 80%;
	height: auto;
	background-color: #CCC;
/*
	*/
}

.news .details {
	margin-top: 55px;
	width: 100%;
	height: 50px;

	border: 1px solid #CCC;
    box-shadow: 0 4px 8px -2px #000;
    -moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.employer-name {
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}

.credit {

}

.main {
	width: 100%;
	height: auto;
	/*padding-left: 102px;*/
	margin-top: 50px;
}

.main .profile {
	width: 100%;
	margin: 0 auto;
}

/*MENU*/

.profile .menu {
	float: left;
	width: 17%; 
	min-height: 300px;
	margin-top:10px;
	margin-left: 1%;
	background-color: #FFF;

	padding: 1.5em;

	border: 1px solid #CCC;
    box-shadow: 0 4px 8px -2px #000;
    -moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.profile .menu a{
	color: #34495e;
}

.button-selected {
	background-color: #EEE;
}

/*LEFT SIDE*/

.profile .left {
	float: left;
	width: 55%; 
	min-height: 450px;
	margin-top:10px;
	margin-left: 1%;
	background-color: #FFF;

	padding: 1.5em;

    border: 1px solid #CCC;
    box-shadow: 0 4px 8px -2px #000;
    -moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.left .basic {
	width: 100%;
	height: auto;
}

.left .basic .details {
	float: left;
	margin-left: 20px;
	width: 75%;
}

.left .basic .details .name {
	font-size: 2em;
	font-weight: bold;
}

.left .basic .details .status {
	margin-top: -20px;
	padding-left: 2px;
	color: #00a51c;
	font-weight: bold;
}

.left .basic .picture {
	float: left;
	margin-right: 20px;
}

.left .basic .picture .img-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.left .basic .picture .selftitle {
	width: 100%;
	margin-top: 10px;
}

.left .basic .details img {
	margin-right: 10px;
}

.left .background {
	margin-top: 20px;
	width: 100%;
	height: auto;
	padding-left: 10px;
}

.left .background {
	margin-top: 20px;
	width: 100%;
	height: auto;
	padding-left: 10px;
}

.left .feeds .post {

}

/*RIGHT SIDE*/

.profile .right {
	float: left;
	width: 24%; 
	min-height: 300px;
	margin-top:10px;
	margin-left: 1%;
	background-color: #FFF;

	padding: 1.5em;

	border: 1px solid #CCC;
    box-shadow: 0 4px 8px -2px #000;
    -moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.right .statistics {
	width: 100%;
	height: auto;
}

.right .statistics img {
	margin-right: 10px;
}

.right .updates {
	width: 100%;
	height: auto;
}

/*.jobpost {
	padding: 10px;
	height: 50px;
	color: #AAA;

	border: 0px;
	outline: none;
	border: none;
}

.jobpost .active{
	color: #000;
}*/

.jobpost div {
	margin-top: 5px;
	margin-bottom: 5px;
}

.jobpost input, textarea {
	background-color: #fafafa;
	width: 100%;

	padding: 1%;

	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	border: 0px;
	outline: none;
	border: solid 1px #FFF;

	
}

.jobpost input:hover,textarea:hover {
	background-color: #f6f6f6;
	border-bottom: solid #CCC 1px;
}

.jobpost input:focus,textarea:focus {
	background-color: #f6f6f6;
	border-bottom: solid #CCC 1px;
}

.jobpost-template {
	-webkit-animation: hideAndShow 2000ms ease;
    -moz-animation: hideAndShow 2000ms ease;
    -ms-animation: hideAndShow 2000ms ease;
}

.pitchbox:active {
	color: #000;
	border: 0px;
	outline: none;
	border: none;
}

.pitchbox:focus {
	color: #000;
	border: 0px;
	outline: none;
	border: none;
}

.feed-data {
	-webkit-animation: hideAndShow 2000ms ease;
    -moz-animation: hideAndShow 2000ms ease;
    -ms-animation: hideAndShow 2000ms ease;
}

@-webkit-keyframes hideAndShow{
    from {
    	-webkit-transform: translateY(-40%);
        opacity: 0;
    }
    to {
    	-webkit-transform: translateY(0%);
        opacity: 1;
    }
}
@-moz-keyframes hideAndShow{
    from {
    	-moz-transform: translateY(-40%);
        opacity: 0;
    }
    to {
    	-moz-transform: translateY(0%);
        opacity: 1;
    }
}    
@-ms-keyframes hideAndShow{
    from {
    	-ms-transform: translateY(-40%);
        opacity: 0;
    }
    to {
    	-ms-transform: translateY(0%);
        opacity: 1;
    }
}

.feed-filter ul {
	list-style: none;
	padding: 0px;
	margin: 0px;

}

.feed-filter ul li {
	float: left;
	padding: 5px;

	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	border: 0px;
	outline: none;
	border: solid 1px #CCC;

	border-right: solid 1px #FFF; 
}

.feed-filter ul li:last-child {
	border-right: solid 1px #CCC; 	
}

.feed-filter ul li a {
	line-height: 20px;
	padding: 15px 15px;
	font-weight:bold;
}


.feed-filter ul li:hover {
	color: #00709e;
	cursor: pointer;
	text-decoration: underline;
}

.feed-filter .active {
	color: #00709e;
	cursor: pointer;
	text-decoration: underline;
}

.feed-data .avatar {
	width: 20%;
	float: left;
}

/*.feed-data .avatar img {
	width: 125px;
}*/

.feed-data .img-circle {
	border-radius: 50%;
    width: 100px;
    height: 100px;
}

.feed-data .candidate-details {
	width: 80%;
	float: left;
}

.job-posts .feed-data {
	width: 100%;
	height: auto;
}

.job-posts .feed-data .employer-logo {
	width: 20%;
	float: left;
}

.job-posts .feed-data .employer-logo img {
	width: 125px;
}

.job-posts .feed-data .employer-details {
	width: 80%;
	float: left;
}

.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    /*margin-top: 30px;*/
    /*border: 1px solid #ccc;*/
    label {
        display: block;
        margin-bottom: 5px;
    }
}

.file-upload-wrapper {
    position: relative; 
    margin-bottom: 5px;
    /*//border: 1px solid #ccc;*/
}
.file-upload-input {
    width: $file-upload-size;
    color: #000;
    font-size: 16px;
    padding: 4px 17px; 
    border: 1px solid #eee;
    background-color: #eee; 
    float: left; /* IE 9 Fix */
    outline: none; 
}
