body{
	font-family: "Gotham", "Lato", Helvetica, Arial, sans-serif;
}
	.c-briefcase{
		width:100%;
		margin:62.5% 0% 0% 0%;
		padding:0%;
	}
	.jonathan {
		width:48%;
		margin:-187% 0% 0% 51.25%;
		padding:0%;
	}
	.welcome-emp{
		width: 60%;
		height: 5%;
		position:absolute;
		margin:31% 0% 0% 2.5%;

		font-size: 190%;
		font-style:bold;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #ffffff;		
		text-align: center;
		display:block;
	}
	.username {
		width:80%;
		height:6%;
		position:absolute;
		margin:90.75% 0% 0% 12.5%;

		font-size: 170%;
		border-radius: 5px;
		border: 0;
		text-align: center;
	}
	.password {
		width:80%;
		height:6%;
		position:absolute;
		margin:104.2% 0% 0% 12.5%;

		font-size: 170%;
		border-radius: 5px;
		border: 0;
		text-align: center;
	}
	.login {
		width:40%;
		height:8%;
		position:absolute;
		margin:133.5% 0% 0% 32%;

		font-size: 190%;
		border-radius: 5px;
		border: 0;
		text-align: center;
	}
	.message-spacing{
		margin:-99% 0% 0% -8.5%;
	}
	.message{
		width: 90%;
		height: 5%;
		position:absolute;
		margin:0% 0% 0% -4%;

		font-size: 70%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #ffffff;		
		text-align: center;
	}
	.message-2{
		width: 60%;
		height: 5%;
		position:absolute;
		margin:4% 0% 0% 11.75%;

		font-size: 70%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #ffffff;		
		text-align: center;
	}

@media(min-width: 375px){
	.c-briefcase{
		margin:56.5% 0% 0% 0%;
	}
	.jonathan {
		margin:-190% 0% 0% 52%;
	}
	.welcome-emp{
		margin:25% 0% 0% 1%;
		font-size: 245%;
	}
	.username {
		margin:79.75% 0% 0% 13%;
	}
	.password {
		margin:90.2% 0% 0% 13%;
	}
	.login {
		height:9%;
		margin:105.5% 0% 0% 32%;
	}
	.message-spacing{
		margin:-97% 0% 0% -11%;
	}
	.message{
		font-size: 83%;
	}
	.message-2{
		font-size: 83%;
	}
}
@media(min-width: 425px){
	.c-briefcase{
		margin:53.5% 0% 0% 0%;
	}
	.jonathan {
		margin:-191% 0% 0% 51.25%;
	}
	.welcome-emp{
		margin:25% 0% 0% 1%;
		font-size: 260%;
	}
	.username {
		margin:76.75% 0% 0% 13%;
	}
	.password {
		margin:87.2% 0% 0% 13%;
	}
	.login {
		height:9%;
		margin:102.5% 0% 0% 32%;
	}
	.message-spacing{
		margin:-95% 0% 0% -11%;
	}
	.message{
		font-size: 83%;
	}
	.message-2{
		font-size: 83%;
	}
}
@media (min-width:768px) {
	.c-briefcase{
		width:70%;
		margin:7.5% 20% 0% 3.6%;
	}
	.jonathan {
		width:35%;
		margin:-38% 0% 0% 64.5%;
	}
	.welcome-emp{
		display:none;
	}
	.username {
		width:48%;
		height: 4.5%;
		margin:34.5% 0% 0% 18%;
		font-size: 150%;
	}
	.password {
		width:48%;
		height: 4.5%;
		margin:39.5% 0% 0% 18%;
		font-size: 150%;
	}
	.login {
		width: 28%;
		height: 4.5%;
		margin:44.5% 0% 0% 28%;
		font-size: 150%;
	}
	.message-spacing{
		margin:-37.75% 0% 0% 23.55%;
	}
	.message{
		width: 40%;
		height: 5%;
		margin:0% 0% 0% 0%;
		font-size: 130%;
	}
	.message-2{
		width: 40%;
		height: 5%;
		margin:3% 0% 0% 0%;
		font-size: 130%;
	}
}
@media (min-width: 850px) {
	.c-briefcase{
		width:70%;
		margin:1% 0% 0% 3.35%;
	}
	.jonathan {
		width:35%;
		margin:-42% 0% 0% 64.5%;
	}
	.welcome-emp{
		display:none;
	}
	.username {
		width: 40%;
		height: 6%;
		margin:35.5% 0% 0% 23%;
		font-size: 200%;
	}
	.password {
		width:40%;
		height: 6%;
		margin:40.5% 0% 0% 23%;
		font-size: 200%;
	}
	.login {
		width: 20%;
		height: 6%;
		margin:45.5% 0% 0% 33%;
		font-size: 200%;
	}
	.message-spacing{
		margin:-38% 0% 0% 19.25%;
	}
	.message{
		width: 50%;
		height: 7%;
		margin:0% 0% 0% 0%;
		font-size: 150%;
	}
	.message-2{
		width: 50%;
		height: 7%;
		margin:3% 0% 0% 0%;
		font-size: 150%;
	}
}
@media (min-width: 992px) {
	.c-briefcase{
		width:70%;
		margin:3% 0% 0% 3.35%;
	}
	.jonathan {
		width:35%;
		margin:-40% 0% 0% 64.5%;
	}
	.welcome-emp{
		display:none;
	}
	.username {
		width: 40%;
		height: 6%;
		margin:33.5% 0% 0% 23%;
		font-size: 200%;
	}
	.password {
		width:40%;
		height: 6%;
		margin:38.5% 0% 0% 23%;
		font-size: 200%;
	}
	.login {
		width: 20%;
		height: 6%;
		margin:43.5% 0% 0% 33%;
		font-size: 200%;
	}
	.message-spacing{
		margin:-38% 0% 0% 19.25%;
	}
	.message{
		width: 50%;
		height: 7%;
		margin:0% 0% 0% 0%;
		font-size: 150%;
	}
	.message-2{
		width: 50%;
		height: 7%;
		margin:3% 0% 0% 0%;
		font-size: 150%;
	}
}
@media (min-width: 1200px) {
	.c-briefcase{
		width:60%;
		margin:2.5% 0% 0% 12.35%;
	}
	.jonathan {
		width:30%;
		margin:-32% 0% 0% 65%;
	}
	.welcome-emp{
		display:none;
	}
	.username {
		width: 35%;
		height: 7%;
		margin:25.5% 0% 0% 29%;
		font-size: 200%;
	}
	.password {
		width: 35%;
		height: 7%;
		margin:30.5% 0% 0% 29%;
		font-size: 200%;
	}
	.login {
		width: 15%;
		height: 7%;
		margin:35.5% 0% 0% 39%;
		font-size: 200%;
	}
	.message-spacing{
		margin:-32.5% 0% 0% 30%;
	}
	.message{
		width: 30%;
		height: 7%;
		margin:0% 0% 0% 0%;
		font-size: 150%;
	}
	.message-2{
		width: 30%;
		height: 7%;
		margin:3% 0% 0% 0.5%;
		font-size: 150%;
	}
}
@media (min-width: 1307px) {
	.c-briefcase{
		width:60%;
		margin:2.5% 0% 0% 12.35%;
	}
	.jonathan {
		width:30%;
		margin:-32% 0% 0% 65%;
	}
	.welcome-emp{
		display:none;
	}
	.username {
		width: 35%;
		height: 7%;
		margin:25.5% 0% 0% 29%;
		font-size: 200%;
	}
	.password {
		width: 35%;
		height: 7%;
		margin:30.5% 0% 0% 29%;
		font-size: 200%;
	}
	.login {
		width: 15%;
		height: 7%;
		margin:35.5% 0% 0% 39%;
		font-size: 200%;
	}
	.message-spacing{
		margin:-32.5% 0% 0% 30%;
	}
	.message{
		width: 30%;
		height: 7%;
		margin:0% 0% 0% 0%;
		font-size: 180%;
	}
	.message-2{
		width: 30%;
		height: 7%;
		margin:3% 0% 0% 0.5%;
		font-size: 180%;
	}
}
@media (min-width: 1441px) {
	.c-briefcase{
		width:60%;
		margin:2.5% 0% 0% 12.35%;
	}
	.jonathan {
		width:30%;
		margin:-32% 0% 0% 65%;
	}
	.welcome-emp{
		display:none;
	}
	.username {
		width: 35%;
		height: 7%;
		margin:25.5% 0% 0% 29%;
		font-size: 200%;
	}
	.password {
		width: 35%;
		height: 7%;
		margin:30.5% 0% 0% 29%;
		font-size: 200%;
	}
	.login {
		width: 15%;
		height: 7%;
		margin:35.5% 0% 0% 39%;
		font-size: 200%;
	}
	.message-spacing{
		margin:-32.5% 0% 0% 30%;
	}
	.message{
		width: 50%;
		height: 7%;
		margin:0% 0% 0% -9%;
		font-size: 300%;
	}
	.message-2{
		width: 50%;
		height: 7%;
		margin:3% 0% 0% -9%;
		font-size: 300%;
	}
}

.messagepop{
	width:68.2%;
	height:10%;
	float:right;
	margin-top: 105%;
	font-size: 14px;
	color: red;
	transition: all 1s ease-in-out;
}

@media(min-width: 331px){
	.messagepop{
		width:67%;
	}
}
@media(min-width: 341px){
	.messagepop{
		width:66%;
	}
}
@media(min-width: 351px){
	.messagepop{
		width:66%;
		margin-top: 100%;
	}
}
@media(min-width: 361px){
	.messagepop{
		width:65%;
		margin-top: 100%;
	}
}
@media(min-width: 375px){
	.messagepop{
		width:63%;
		margin-top: 85%;
	}
}
@media(min-width: 401px){
	.messagepop{
		width:62%;
		margin-top: 81%;
	}
}
@media(min-width: 426px){
	.messagepop{
		width:61%;
		margin-top: 81%;
	}
}
@media(min-width: 451px){
	.messagepop{
		width:61%;
		margin-top: 82%;
		font-size:16px;
	}
}
@media(min-width: 501px){
	.messagepop{
		width:60%;
		margin-top: 82%;
		font-size:16px;
	}
}
@media(min-width: 551px){
	.messagepop{
		width:59%;
		margin-top: 82%;
		font-size:16px;
	}
}
@media(min-width: 601px){
	.messagepop{
		width:57%;
		margin-top: 82%;
		font-size:16px;
	}
}
@media(min-width: 701px){
	.messagepop{
		width:55%;
		margin-top: 83%;
		font-size:16px;
	}
}
@media(min-width: 768px){
	.messagepop{
		width:92%;
		margin-top: 45%;
		font-size:16px;
	}
}
@media(min-width: 831px){
	.messagepop{
		width:90%;
		margin-top: 45%;
		font-size:16px;
	}
}
@media(min-width: 992px){
	.messagepop{
		width:83%;
		margin-top: 43%;
		font-size:18px;
	}
}
@media(min-width: 1101px){
	.messagepop{
		width:85%;
		margin-top: 43%;
		font-size:22px;
	}
}
@media(min-width: 1200px){
	.messagepop{
		width:92%;
		float:right;
		margin-top: 43%;
		font-size: 24px;
		color: red;
		transition: all 1s ease-in-out;
	}
}
@media(min-width: 1500px){
	.messagepop{
		width:90.5%;
		float:right;
		margin-top: 43%;
		font-size: 24px;
		color: red;
		transition: all 1s ease-in-out;
	}
}
@media(min-width: 1600px){
	.messagepop{
		width:88.5%;
		float:right;
		margin-top: 43%;
		font-size: 24px;
		color: red;
		transition: all 1s ease-in-out;
	}
}
@media(min-width: 1800px){
	.messagepop{
		width:90.5%;
		float:right;
		margin-top: 43%;
		font-size: 30px;
		color: red;
		transition: all 1s ease-in-out;
	}
}
@media(min-width: 2000px){
	.messagepop{
		width:88.25%;
		float:right;
		margin-top: 43%;
		font-size: 32px;
		color: red;
		transition: all 1s ease-in-out;
	}
}
@media(min-width: 2400px){
	.messagepop{
		width:88.25%;
		float:right;
		margin-top: 43%;
		font-size: 34px;
		color: red;
		transition: all 1s ease-in-out;
	}
}