.registration{
	width: 100%;
	min-height: 450px;
	background-color: #FFF;

	padding: 0em 1em 0em 1em;

    border: 1px solid #CCC;
    box-shadow: 0 4px 8px -2px #000;
    -moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.registration .inputs{
    width:90%;
    display:block;
    margin:0 auto;
    font-size: 1em;
}
.registration .breakthick{
    width:110%;
    border:35px solid #f02921;
    margin:0px 0em 10px -5%;
}
.registration .breakthickSec{
    width:110%;
    border:5px solid #f02921;
    margin:0px 0em 15px -5%;
}
.registration .breakthickR{
    width:110%;
    border:13px solid #f02921;
    margin:0px 0em 0px -5%;
}
.registration .breakthickSecR{
    width:110%;
    border:5px solid #f02921;
    margin:0px 0em 15px -5%;
}
.registration .inputs .breakthickSec{
    width:112%;
    border:2px hidden #f02921;
    margin:10px 0em 15px -1em;
}
.registration .title{
    width:100%;
    text-align: center;
    display: block;
    margin:-80px auto 50px auto;
    color:#fff;
    font-size: 1.5em;
}
.inputs .company{
    height:38px;
    font-size: 0.9;
    width:100%;
    text-align:center;
}

.inputs .fname{
    height:38px;
    font-size: 0.9;
    margin-bottom: 15px;
    margin-right: 1%;
    text-align:center;
}

.inputs .lname{
    height:38px;
    font-size: 0.9;
    margin-bottom: 15px;
    text-align:center;
}
.inputs .office_number{
    height:38px;
    font-size: 0.9;
    width:100%;
    text-align:center;
}

.inputs .extensions{
    height:38px;
    font-size: 0.9;
    width:100%;
    text-align:center;
}

.inputs .mobile_number{
    width:100%;
    height:38px;
    font-size: 0.9;
    margin-bottom: 15px;
    margin:1.5% 0% 0% 30%;
    text-align:center;
}

.inputs .callLabel{
    width:30%;
    text-align: center;
    line-height: 20px;
    height:30px;
    font-size: 0.88em;
    margin: 0px 0;
    float:left;
    color:#f02921;
}
.inputs .email{
    height:38px;
    font-size: 0.9;
    margin-bottom: 30px;
    text-align:center;
    width:100%;
}

.inputs .register{
    width:100%;
    height:50px;
    display:block;
    margin:32px auto 26px auto;
    background:#F02921;
    border:#F02921;
    border-radius: 5px;
    font-size:1.25em;
    padding:10px;
    color:#fff;
}
@media(min-width: 376px){
    .registration .inputs{
        width:90%;
        display:block;
        margin:0 auto;
        font-size: 1em;
    }
    .registration .breakthick{
        width:109%;
        border:35px solid #f02921;
        margin:0px 0em 10px -5%;
    }
    .registration .breakthickSec{
        width:109%;
        border:5px solid #f02921;
        margin:0px 0em 15px -5%;
    }
    .registration .breakthickR{
        width:109%;
        border:13px solid #f02921;
        margin:0px 0em 0px -5%;
    }
    .registration .breakthickSecR{
        width:109%;
        border:5px solid #f02921;
        margin:0px 0em 15px -5%;
    }
    .registration .registration .registration .registration .inputs .breakthickSec{
        width:112%;
        border:2px hidden #f02921;
        margin:10px 0em 15px -1em;
    }
}
@media(min-width: 471px){
    .registration .inputs{
        width:90%;
        display:block;
        margin:0 auto;
        font-size: 1em;
    }
    .registration .breakthick{
        width:107%;
        border:35px solid #f02921;
        margin:0px 0em 10px -3.5%;
    }
    .registration .breakthickSec{
        width:107%;
        border:5px solid #f02921;
        margin:0px 0em 15px -3.5%;
    }
    .registration .breakthickR{
        width:107%;
        border:13px solid #f02921;
        margin:0px 0em 0px -3.5%;
    }
    .registration .breakthickSecR{
        width:107%;
        border:5px solid #f02921;
        margin:0px 0em 15px -3.5%;
    }
    .registration .registration .registration .inputs .breakthickSec{
        width:112%;
        border:2px hidden #f02921;
        margin:10px 0em 15px -1em;
    }
}
@media(min-width: 531px){
    .registration .inputs{
        width:90%;
        display:block;
        margin:0 auto;
        font-size: 1em;
    }
    .registration .breakthick{
        width:104%;
        border:35px solid #f02921;
        margin:0px 0em 10px -2%;
    }
    .registration .breakthickSec{
        width:104%;
        border:5px solid #f02921;
        margin:0px 0em 15px -2%;
    }
    .registration .breakthickR{
        width:104%;
        border:13px solid #f02921;
        margin:0px 0em 0px -2%;
    }
    .registration .breakthickSecR{
        width:104%;
        border:5px solid #f02921;
        margin:0px 0em 15px -2%;
    }
    .registration .registration .inputs .breakthickSec{
        width:112%;
        border:2px hidden #f02921;
        margin:10px 0em 15px -1em;
    }
}
@media(min-width: 631px){
    .registration{
        width: 80%;
        display:block;
        margin:10px auto 10px auto;
        min-height: 450px;
        background-color: #FFF;

        padding: 2.5em 1.5em 1.5em 1.5em;

        border: 1px solid #CCC;
        box-shadow: 0 4px 8px -2px #000;
        -moz-box-shadow: 0 4px 8px -2px #000;
        -webkit-box-shadow: 0 4px 8px -2px #000;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }
    .registration .inputs{
        width:80%;
        display:block;
        margin:0 auto;
        font-size: 1em;
    }
    .registration .breakthick{
        width:110%;
        border:30px solid #f02921;
        margin:10px 0 10px -5%;
    }
    .registration .breakthickSec{
        width:110%;
        border:5px solid #f02921;
        margin:10px 0 15px -5%;
    }
    .registration .breakthickR{
        width:115%;
        border:13px hidden #f02921;
        margin:0px 0 0px -5%;
    }
    .registration .breakthickSecR{
        width:115%;
        border:5px hidden #f02921;
        margin:0px 0 15px -5%;
    }
    .registration .inputs .breakthickSec{
        width:150%;
        border:3px dashed #f02921;
        margin:10px 0 15px -7em;
    }
    .registration .title{
        width:100%;
        text-align: center;
        display:block;
        margin:-95px auto 50px auto;
        color:#fff;
        font-size: 2.5em;
    }
    .inputs .company{
        height:40px;
        font-size: 1.1em;
    }

    .inputs .fname{
        height:40px;
        font-size: 1.1em;
        margin-bottom: 15px;
        margin-right: 1%;
    }

    .inputs .lname{
        height:40px;
        font-size: 1.1em;
        margin-bottom: 15px;
    }
    .inputs .office_number{
        height:40px;
        font-size: 1.1em;
    }
    .inputs .extensions{
        height:40px;
        font-size: 1.1em;
    }

    .inputs .mobile_number{
        width:50%;
        height:40px;
        font-size: 1.1em;
        margin-bottom: 15px;
    }

    .inputs .callLabel{
        width:50%;
        text-align: left;
        line-height: 20px;
        height:30px;
        font-size: 1em;
        margin: 10px 0 0 0;
        float:left;
        color:#f02921;
    }
    .inputs .email{
        height:40px;
        font-size: 1.1em;
        margin-bottom: 30px;
    }

    .inputs .register{
        width:250px;
        height:50px;
        display:block;
        margin:32px auto 0px auto;
        background:#F02921;
        border:#F02921;
        border-radius: 5px;
        font-size:1.25em;
        padding:10px;
        color:#fff;
    }
}
@media(min-width: 768px){
    .inputs .mobile_number{
        width:100%;
        float:right;
    }
    .inputs .callLabel{
        width:40%;
    }
}
@media(min-width: 1200px){
    .inputs .breakthickSec{
        width:150%;
        border:3px dashed #f02921;
        margin:10px 0 15px -10em;
    }
    .inputs .mobile_number{
        width:100%;
        float:right;
    }
}
@media(min-width: 1500px){

    .inputs .company{
        height:70px;
        font-size: 2em;
    }

    .inputs .fname{
        height:70px;
        font-size: 2em;
        margin-bottom: 15px;
        margin-right: 1%;
    }

    .inputs .lname{
        height:70px;
        font-size: 2em;
        margin-bottom: 15px;
    }
    .inputs .office_number{
        height:70px;
        font-size: 2em;
    }
    .inputs .extensions{
        height:70px;
        font-size: 2em;
    }

    .inputs .mobile_number{
        height:70px;
        font-size: 2em;
    }

    .inputs .callLabel{
        height:70px;
        font-size: 1.75em;
        line-height: 35px;
        margin: 18px 0;
        float:left;
        color:#f02921;
    }
    .inputs .email{
        height:70px;
        font-size: 2em;
        margin-bottom: 30px;
    }

    .inputs .register{
        width:250px;
        height:70px;
        display:block;
        margin:32px auto 0px auto;
        background:#F02921;
        border:#F02921;
        border-radius: 5px;
        font-size:2.25em;
        padding:10px;
        color:#fff;
    }
}
@media(min-width: 1800px){

    .registration{
        margin:70px auto 30px auto;
    }
}
@media(min-width: 2000px){
    .registration{
            padding:5em 1.5em 5em 1.5em;
        }
    }
    .inputs .breakthickSec{
        width:150%;
        border:3px dashed #f02921;
        margin:10px 0 15px -15em;
    }
}