

/*REGISTRATION*/
.registration{
    width: 100%;
    min-height: 450px;
    background-color: #FFF;

    padding:1px 0px 0px 0px;

    border: 1px solid #CCC;
    box-shadow: 0 4px 8px -2px #000;
    -moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
<<<<<<< HEAD
.registration .register{
    width:100%;
    background-color: #f02921;
    color: #fff;
    font-size: 30px;
    text-align: center;
=======
th{text-align: center;}
.registration .inputs{
    width:90%;
    display:block;
    margin:0 auto;
    font-size: 1em;
}
.registration .breakthick{
    width:110%;
    border:35px solid #f02921;
    margin:0px 0em 10px -5%;
>>>>>>> 00a0fc7165c3ca0877703606d83dec609278e047
}
.registration .inputs{
    margin:10px 7%;
}
.registration .fname{
    width:48%;
    margin: 0px 0px 0px 0px;
    display:block;
    float:left;
    border-radius: 5px;
    border:2px solid #ff9999;
    text-align: center;
    height:33px;
}
.registration .oname{
    width:48%;
    margin: 0px 0px 0px 0px;
    display:block;
    float:left;
    border-radius: 5px;
    border:2px solid #ff9999;
    text-align: center;
    font-size:0.85em;
    height:33px;
}
.registration .lname{
    width:48%;
    margin: 0px 0px 0px 0px;
    display:block;
    float:right;
    border-radius: 5px;
    border:2px solid #ff9999;
    text-align: center;
    height:33px;
}
.registration .email{
    width:100%;
    margin: 0px 0px 25px 0px;
    border-radius: 5px;
    border:2px solid #ff9999;
    text-align: center;
}
.registration .company{
    width:100%;
    margin: 10px 0px 25px 0px;
    border-radius: 5px;
    border:2px solid #ff9999;
    text-align: center;
}
.registration .contact{
    width:100%;
    margin: 0px 0px 25px 0px;
    border-radius: 5px;
    border:2px solid #ff9999;
    text-align: center;
}
.registration .cerror{
    display: block;
    float:center;
    font-size: 13px;
    margin-top: -20px;
    margin-bottom: 0px;
    color:red;
    text-align: center;
}
.registration .button{
    width:150px;
    background-color:#f02921;
    border-color: #f02921;
    font-size: 1.15em;
    display: block;
    margin:0px auto 50px auto;
}
.registration .extra{
    margin:25px 0px;
    text-align: center;
}
.registration .regbreak{
    width:100%;
    border:1px solid #ff9999;
    margin-bottom: 15px;
    margin-top: 15px;
}
@media(min-width:375px){   
    .registration .oname{
        font-size:1em;
    }
}
@media(min-width: 531px){
    .registration{
        height:520px;
    }
    .registration .register{
        width:100%;
        background-color: #f02921;
        color: #fff;
        font-size: 30px;
        text-align: center;
    }
    .registration .inputs{
        margin:10px 7%;
        padding-top:40px;
    }
    .registration .leftinputs{
        float:left;
        width:45%;
    }
    .registration .button{
        width:150px;
        background-color:#f02921;
        border-color: #f02921;
        font-size: 1.15em;
        float:right;
    }
    .registration .extra{
        margin:5px 0px;
        text-align: left;
        float:right;
        width:45%;
        padding-left: 15px;
        padding-bottom: 25%;
    }
    .registration .regbreak{
        display: none;
    }
    .registration .regbreakSec{
        float:left;
        width:1%;
        border-right:1px solid #ff9999;
        padding-right: 1%;
        padding-left: 6%;
        height:350px;
    }
    .registration .fname{
        font-size: 0.85em;
    }
    .registration .lname{
        font-size: 0.85em;
    }
    .registration .oname{
        font-size: 0.62em;
    }
}
@media(min-width: 700px){

    .registration .fname{
        font-size: 1em;
    }
    .registration .lname{
        font-size: 1em;
    }
    .registration .oname{
        font-size: 0.85em;
    }
}
@media(min-width: 768px){
    .registration{
        width: 80%;
        display:block;
        margin:65px auto 10px auto;
        background-color: #FFF;

        padding: 2.5em 1.5em 0em 1.5em;

        border: 1px solid #CCC;
        box-shadow: 0 4px 8px -2px #000;
        -moz-box-shadow: 0 4px 8px -2px #000;
        -webkit-box-shadow: 0 4px 8px -2px #000;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }
    .registration .register{
        border-radius: 6px;
    }
    .registration .inputs{
        padding-top: 20px;
    }
    .registration .extra{
        padding-bottom: 150px;
    }
    .registration .fname{
        font-size: 0.9em;
    }
    .registration .lname{
        font-size: 0.9em;
    }
    .registration .oname{
        font-size: 0.67em;
    }
}
@media(min-width: 992px){
    .registration .extra{
        padding-bottom: 175px;
    }
    .registration .fname{
        font-size: 1em;
    }
    .registration .lname{
        font-size: 1em;
    }
    .registration .oname{
        font-size: 0.85em;
    }
}
@media(min-width: 1200px){
    .registration .register{
        width:90%;
        display:block;
        margin:0px auto;
    }
    .registration .extra{
        padding-bottom: 185px;
    }
    .registration .button{
        margin-right:1%;
    }
    .registration .oname{
        font-size: 1em;
        height:auto;
    }
    .registration .fname{
        font-size: 1em;
        height:auto;
    }
    .registration .lname{
        font-size: 1em;
        height:auto;
    }
}
@media(min-width: 1440px){
    .registration{
        height:700px;
    }
    .registration .inputs{
        margin-top: 40px;
    }
    .registration .register{
        font-size: 50px;
    }
    .registration .fname{
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    .registration .oname{
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    .registration .lname{
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    .registration .email{
        font-size: 1.2em;
    }
    .registration .company{
        font-size: 1.2em;
    }
    .registration .contact{
        font-size: 1.2em;
    }
    .registration .cerror{
        font-size: 18px;
    }
    .registration .button{
        font-size: 30px;
        width:250px;
    }
    .registration .extra{
        font-size: 1.2em;
        padding-bottom:160px;
    }
    .registration .regbreakSec{
        height:430px;
    }
}
@media(min-width: 2000px){
    .registration{
        height:800px;
    }
    .registration .inputs{
        margin-top: 40px;
    }
    .registration .register{
        font-size: 60px;
    }
    .registration .fname{
        font-size: 1.6em;
        margin-bottom: 20px;
    }
    .registration .oname{
        font-size: 1.6em;
        margin-bottom: 20px;
    }
    .registration .lname{
        font-size: 1.6em;
        margin-bottom: 20px;
    }
    .registration .email{
        font-size: 1.6em;
    }
    .registration .company{
        font-size: 1.6em;
    }
    .registration .contact{
        font-size: 1.6em;
    }
    .registration .cerror{
        font-size: 25px;
    }
    .registration .button{
        font-size: 35px;
        width:290px;
    }
    .registration .extra{
        padding-bottom: 250px;
        font-size: 1.6em;
    }
    .registration .regbreakSec{
        height:550px;
        border-right:3px solid #ff9999;
    }
}