body {
	height: 100%;
	width: 100%;
  	font-family: "Gotham", "Lato", Helvetica, Arial, sans-serif;
  	font-size: 16px;
  	line-height: 1.72222;
  	color: #34495e;
  	background-color: #ffffff;
}

.searchbar {
	border: 0;
	background-color: #1b3033;
	color: #FFF;
	border-bottom: solid 1px #CCC;
	border-radius: 0.5;

	width: 70%;
	height: 40px;
	font-size: 15px;
	padding: 5px;
	margin-top: 5px;
}
@media(min-width: 768px){
	.searchbar {
	border: 0;
	background-color: #1b3033;
	color: #FFF;
	border-bottom: solid 1px #CCC;
	border-radius: 0.5;

	width: 400px;
	height: 40px;
	font-size: 15px;
	padding: 5px;
	margin-top: 5px;
	}
}

.searchbar:focus {
	border: 0;
	text-decoration: none;
	outline: none;
	border-bottom: solid 1px #CCC;
	color: #FFF;
}

.searchbar:hover {
	border: solid 1px #CCC;

}

.font12 {
	font-size: 12px;
}

.font13 {
	font-size: 13px;
}

.font14 {
	font-size: 14px;
}

.break {
	width: 98%;
	border-top: 1px solid #CCC;
	
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

.top-spacer {
	margin-top: 20px;
}

.input-no-style {
	border: 0px;
	width: 100%;
	height: 50px;
}

.input-no-style:hover {
	border: 0px;
	text-decoration: none;
}

.link {
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

.sub {
	font-size: 12px;
	color: #c5c5c5;
}

.header1 {
	color: #a3a3a3;
	font-weight: bold;
	font-size: 1.5em;
}

.header2 {
	color: #000;
	font-weight: bold;
}

.header3 {
	color: #a3a3a3;
	font-weight: bold;
	font-size: 1.2em;
}

.header4 {
	color: #000;
	font-weight: bold;
	font-size: 1.3em;
}

.news {
	margin: 0 auto;
	width: 80%;
	height: auto;
	background-color: #CCC;
/*
	*/
}

.news .details {
	margin-top: 55px;
	width: 100%;
	height: 50px;

	border: 1px solid #CCC;
    box-shadow: 0 4px 8px -2px #000;
    -moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.main {
	width: 100%;
	height: auto;
	/*padding-left: 102px;*/
	margin-top: 30px;
}

.main .profile {
	width: 100%;
	margin: 0 auto;
}

/*MENU*/

.profile .menu {
	display:none;
	visibility:hidden;
	float: left;
	width: 17%; 
	min-height: 300px;
	margin-top:10px;
	margin-left: 1%;
	background-color: #FFF;

	padding: 1.5em;

	border: 1px solid #CCC;
    box-shadow: 0 4px 8px -2px #000;
    -moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
@media(min-width: 768px){
	.profile .menu {
		display:block;
		visibility:visible;
	}
}
@media(min-width: 992px){
	.profile .menu {
		display:block;
		visibility:visible;
	}
}
@media(min-width: 1200px){
	.profile .menu {
		display:block;
		visibility:visible;
	}
}


.profile .c-menu {
	position:fixed;
	display:inline-block;
	visibility:visible;
	width: 100%; 
	min-height: 20px;
	padding-left: 3px;
	background-color: #f1f3f5;
	border: 1px solid #CCC;
    /*box-shadow: 0 4px 8px -2px #000;*/
    /*-moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

@media(min-width: 768px){
	.profile .c-menu {
		display:none;
		visibility:hidden;
	}
}
@media(min-width: 992px){
	.profile .c-menu {
		display:none;
		visibility:hidden;
	}
}
@media(min-width: 1200px){
	.profile .c-menu {
		display:none;
		visibility:hidden;
	}
}
/*.c-menu li a img{
	width:8%;
	margin: 0;
    padding: 0;
}*/
.c-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.c-menu li {
    float: left;
}

.c-menu li a {
    display: block;
    text-align: center;
    padding: 10px 37px 8px 37px;
    text-decoration: none;
}

.c-menu li a:focus{
    background-color: #21e8b7;
}

.c-menu .active{
    background-color: #21e8b7;
}

.c-menu li a img{
    width:20px;
}

/*LEFT SIDE*/

.profile .left {
	float: left;
	width: 100%; 
	min-height: 450px;
	margin-left: 0%;
	background-color: #FFF;

	padding: 3.5em 1.5em 1.5em 1.5em;

    border: 1px solid #CCC;
    box-shadow: 0 4px 8px -2px #000;
    -moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
@media(min-width: 768px){
	.profile .left {
		width: 55%;
		margin-left: 1%;
		margin-top:10px;
	}
}
@media(min-width: 992px){
	.profile .left {
		width: 55%;
		margin-left: 1%;
		margin-top:10px;
	}
}
@media(min-width: 1200px){
	.profile .left {
		width: 55%;
		margin-left: 1%;
		margin-top:10px;
	}
}
	.left .basic {
		width: 100%;
		height: auto;
	}
	.left .basic .details {
		margin-top:0px;
		float: left;
		margin-left: 5px;
		padding-top: 230px;
		width: 100%;
	}
	.left .basic .details .name {
		font-size: 1.5em;
		font-weight: bold;
		margin-left:12px;
	}

	.left .basic .details .status {
		margin-top: -15px;
		padding-left: 2px;
		margin-right: 50%;
		margin-left:60px;
		padding-bottom: 0px;
		color: #00a51c;
		font-weight: bold;
	}
	.left .basic .picture {
		float: left;
		margin:0px -4% 0px -100%;
	}

	.left .basic .picture .img-circle {
	    border-radius: 50%;
	    width: 200px;
	    height: 200px;
	    margin:0px 0% 0px 0%;
	}
	.left .basic .picture .selftitle {
		width: 100%;
		margin-top: 10px;
		margin-right: 0%;
		margin-left: 8%;
		font-size: 110%;
	}
	.left .basic .details .c-more{
		margin:0% 0% 0% 1%;
	}

	.left .basic .picture .c-border {
		visibility: hidden;
	}
@media(min-width: 768px){
	.left .basic {
		width: 100%;
		height: auto;
	}
	.left .basic .details {
		margin-top:0px;
		float: left;
		margin-left: 5px;
		padding-top: 0px;
		width: 55%;
	}
	.left .basic .details .name {
		font-size: 1.5em;
		font-weight: bold;
	}

	.left .basic .details .status {
		margin-top: -15px;
		padding-left: 2px;
		padding-bottom: 0px;
		color: #00a51c;
		font-weight: bold;
	}
	.left .basic .picture {
		float: left;
		margin:0px -4px 0px 9%;
	}

	.left .basic .picture .img-circle {
	    border-radius: 50%;
	    width: 130px;
	    height: 130px;
	}
	.left .basic .picture .selftitle {
		width: 100%;
		margin-top: 10px;
		margin-right: 0%;
		margin-left: 2.25%;
		font-size: 75%;
	}
	.left .basic .details .c-more{
		margin:0% -0% 0% -0%;
	}

	.left .basic .picture .c-border {
		visibility: hidden;
	}
}
@media(min-width: 992px){
	.left .basic {
		width: 100%;
		height: auto;
	}
	.left .basic .details {
		margin-top:0px;
		float: left;
		margin-left: 10px;
		padding-top: 0px;
		width: 65%;
	}
	.left .basic .details .name {
		font-size: 1.75em;
		font-weight: bold;
	}

	.left .basic .details .status {
		margin-top: -20px;
		padding-left: 2px;
		padding-bottom: 0px;
		color: #00a51c;
		font-weight: bold;
	}
	.left .basic .picture {
		float: left;
		margin:0px -4px 0px 8%;
	}

	.left .basic .picture .img-circle {
	    border-radius: 50%;
	    width: 120px;
	    height: 120px;
	}
	.left .basic .picture .selftitle {
		width: 100%;
		margin-top: 10px;
		font-size: 75%;
	}
	.left .basic .details .c-more{
		margin:0% -0% 0% -0%;
	}

	.left .basic .picture .c-border {
		visibility: hidden;
	}
}
@media(min-width: 1200px){
	.left .basic {
		width: 100%;
		height: auto;
	}
	.left .basic .details {
		margin-top:0px;
		float: left;
		margin-left: 20px;
		padding-top: 0px;
		width: 75%;
	}
	.left .basic .details .name {
		font-size: 2em;
		font-weight: bold;
	}

	.left .basic .details .status {
		margin-top: -20px;
		padding-left: 2px;
		padding-bottom: 0px;
		color: #00a51c;
		font-weight: bold;
	}
	.left .basic .picture {
		float: left;
		margin:0px 20px 0px -2%;
	}

	.left .basic .picture .img-circle {
	    border-radius: 50%;
	    width: 130px;
	    height: 130px;
	}
	.left .basic .picture .selftitle {
		width: 100%;
		margin-top: 10px;
		font-size: 75%;
	}
	.left .basic .details .c-more{
		margin:0% -0% 0% -0%;
	}

	.left .basic .picture .c-border {
		visibility: hidden;
	}
}





.left .basic .details img {
	margin-right: 10px;
}

.left .background {
	margin-top: 20px;
	width: 100%;
	height: auto;
	padding-left: 10px;
}

.left .background {
	margin-top: 20px;
	width: 100%;
	height: auto;
	padding-left: 10px;
}

.left .feeds .post {

}

/*RIGHT SIDE*/

.profile .right {
	display:none;
	visibility:hidden;
	float: left;
	width: 24%; 
	min-height: 300px;
	margin-top:10px;
	margin-left: 1%;
	background-color: #FFF;

	padding: 1.5em;

	border: 1px solid #CCC;
    box-shadow: 0 4px 8px -2px #000;
    -moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
@media(min-width: 768px){
	.profile .right {
		display:block;
		visibility:visible;
	}
}
@media(min-width: 992px){
	.profile .right {
		display:block;
		visibility:visible;
	}
}
@media(min-width: 1200px){
	.profile .right {
		display:block;
		visibility:visible;
	}
}


.right .statistics {
	width: 100%;
	height: auto;
}

.right .statistics img {
	margin-right: 10px;
}

.right .updates {
	width: 100%;
	height: auto;
}

.pitchbox {
	padding: 10px;
	height: 50px;
	color: #AAA;
}

.pitchbox:active {
	color: #000;
	border: 0px;
	outline: none;
	border: none;
}

.pitchbox:focus {
	color: #000;
	border: 0px;
	outline: none;
	border: none;
}

.feed-data {
	-webkit-animation: hideAndShow 2000ms ease;
    -moz-animation: hideAndShow 2000ms ease;
    -ms-animation: hideAndShow 2000ms ease;
}

@-webkit-keyframes hideAndShow{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes hideAndShow{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}    
@-ms-keyframes hideAndShow{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}