body{
	font-family: "Gotham", "Lato", Helvetica, Arial, sans-serif;
}	
	.messagepop{
		width:50%;
		height:10%;
		position:absolute;
		top:90%;
		left:32%;
		font-size: 100%;
		color: red;
		transition: all 1s ease-in-out;
	}

	.c-briefcase{
	width:100%;
	margin:56.5% 0% 0% 0%;
	padding:0%;
	}

	.jonathan {
	width:53%;
	margin:-193% 20% 0% -2%;
	padding:0%;
	}

	.welcome-emp{
		width: 60%;
		height: 5%;
		position:absolute;
		margin:31.25% 0% 0% 35.75%;

		font-size: 250%;
		font-style:bold;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #ffffff;		
		text-align: center;
		display:block;
	}

	.username {
		width:80%;
		height:6%;
		position:absolute;
		margin:79.75% 0% 0% 13%;

		font-size: 170%;
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.password {
		width:80%;
		height:6%;
		position:absolute;
		margin:90.2% 0% 0% 13%;

		font-size: 170%;
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.login {
		width:40%;
		height:9%;
		position:absolute;
		margin:105.5% 0% 0% 32%;

		font-size: 190%;
		border-radius: 5px;
		border: 0;
		text-align: center;
	}
	.message-spacing{
		margin:-92% 0% 0% 25.25%;
	}

	.message{
		width: 80%;
		height: 5%;
		position:absolute;
		margin:0% 0% 0% 0%;

		font-size: 90%;
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #ffffff;		
		text-align: center;
	}
	.message-2{
		width: 60%;
		height: 5%;
		position:absolute;
		margin:4% 0% 0% 14%;

		font-size: 90%;
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #ffffff;		
		text-align: center;
	}
@media (min-width:768px) {
	.c-briefcase{
	width:65%;
	margin:11% 20% 0% 29%;
	padding:0%;
	}

	.jonathan {
	width:32%;
	margin:-30% 20% 0% 4.5%;
	padding:0%;
	}


	.welcome-emp{
		display:none;
	}

	.username {
		width: 50%;
		height: 4.75%;
		position:absolute;
		margin:35.5% 0% 0% 38%;

		font-size: 160%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.password {
		width: 50%;
		height: 4.75%;
		position:absolute;
		margin:40.5% 0% 0% 38%;

		font-size:160%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.login {
		width: 25%;
		height: 4.75%;
		position:absolute;
		margin:45.5% 0% 0% 52%;

		font-size: 160%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}
	.message-spacing{
		margin:-33% 0% 0% 31.5%;
	}

	.message{
		width: 65%;
		height: 5.5%;
		position:absolute;
		margin:0% 0% 0% 0%;

		font-size: 127%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #71e1af;		
		text-align: center;
	}
	.message-2{
		width: 40%;
		height: 7%;
		position:absolute;
		margin:3% 0% 0% 1.5%;

		font-size: 180%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #71e1af;		
		text-align: center;
	}
}
@media (min-width: 992px) {
	.c-briefcase{
	width:65%;
	margin:6.5% 20% 0% 30%;
	padding:0%;
	}

	.jonathan {
	width:32%;
	margin:-30% 20% 0% 4.5%;
	padding:0%;
	}


	.welcome-emp{
		display:none;
	}

	.username {
		width: 45%;
		height: 6%;
		position:absolute;
		margin:30.5% 0% 0% 43%;

		font-size: 180%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.password {
		width: 45%;
		height: 6%;
		position:absolute;
		margin:35.5% 0% 0% 43%;

		font-size:180%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.login {
		width: 25%;
		height: 6%;
		position:absolute;
		margin:40.5% 0% 0% 53%;

		font-size: 180%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}
	.message-spacing{
		margin:-33% 0% 0% 35.5%;
	}

	.message{
		width: 60%;
		height: 4%;
		position:absolute;
		margin:0% 0% 0% 0%;

		font-size: 150%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #71e1af;		
		text-align: center;
	}
	.message-2{
		width: 40%;
		height: 7%;
		position:absolute;
		margin:3% 0% 0% 1.5%;

		font-size: 180%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #71e1af;		
		text-align: center;
	}
}
@media (min-width: 1200px) {
	.c-briefcase{
	width:60%;
	margin:2.5% 20% 0% 27.75%;
	padding:0%;
	}

	.jonathan {
	width:27%;
	margin:-26% 20% 0% 7%;
	padding:0%;
	}


	.welcome-emp{
		display:none;
	}

	.username {
		width: 35%;
		height: 7%;
		position:absolute;
		margin:25.5% 0% 0% 45%;

		font-size: 200%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.password {
		width: 35%;
		height: 7%;
		position:absolute;
		margin:30.5% 0% 0% 45%;

		font-size: 200%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.login {
		width: 15%;
		height: 7%;
		position:absolute;
		margin:35.5% 0% 0% 55%;

		font-size: 200%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}
	.message-spacing{
		margin:-31.5% 0% 0% 35%;
	}

	.message{
		width: 50%;
		height: 6%;
		position:absolute;
		margin:0% 0% 0% 0%;

		font-size: 180%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #71e1af;		
		text-align: center;
	}
	.message-2{
		width: 40%;
		height: 7%;
		position:absolute;
		margin:3% 0% 0% 1.5%;

		font-size: 180%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #71e1af;		
		text-align: center;
	}
}

@media (min-width: 768px) {
	.messagepop{
		width:50%;
		height:30%;
		position:absolute;
		top:59.8%;
		left:48.8%;
		font-size: 140%;
		color: red;
		transition: all 1s ease-in-out;
	}
}
@media (min-width: 800px) {
	.messagepop{
		width:50%;
		height:30%;
		position:absolute;
		top:62%;
		left:49.8%;
		font-size: 140%;
		color: red;
		transition: all 1s ease-in-out;
	}
}
@media (min-width: 832px) {
	.messagepop{
		width:50%;
		height:30%;
		position:absolute;
		top:64.75%;
		left:50.8%;
		font-size: 140%;
		color: red;
		transition: all 1s ease-in-out;
	}
}
@media (min-width: 864px) {
	.messagepop{
		width:50%;
		height:30%;
		position:absolute;
		top:67.5%;
		left:51.2%;
		font-size: 140%;
		color: red;
		transition: all 1s ease-in-out;
	}
}
@media (min-width: 896px) {
	.messagepop{
		width:50%;
		height:30%;
		position:absolute;
		top:70%;
		left:51.75%;
		font-size: 140%;
		color: red;
		transition: all 1s ease-in-out;
	}
}
@media (min-width: 928px) {
	.messagepop{
		width:50%;
		height:30%;
		position:absolute;
		top:73%;
		left:51.7%;
		font-size: 140%;
		color: red;
		transition: all 1s ease-in-out;
	}
}
@media (min-width: 960px) {
	.messagepop{
		width:50%;
		height:30%;
		position:absolute;
		top:75%;
		left:52.3%;
		font-size: 140%;
		color: red;
		transition: all 1s ease-in-out;
	}
}
@media (min-width: 992px) {
	.messagepop{
		width:50%;
		height:30%;
		position:absolute;
		top:70%;
		left:53.8%;
		font-size: 140%;
		color: red;
		transition: all 1s ease-in-out;
	}
}
@media (min-width: 1006px) {
	.messagepop{
		width:50%;
		height:30%;
		position:absolute;
		top:71.75%;
		left:53.8%;
		font-size: 140%;
		color: red;
		transition: all 1s ease-in-out;
	}
}
@media (min-width: 1055px) {
	.messagepop{
		width:50%;
		height:30%;
		position:absolute;
		top:75%;
		left:54.6%;
		font-size: 140%;
		color: red;
		transition: all 1s ease-in-out;
	}
}
@media (min-width: 1200px) {
	.messagepop{
		width:50%;
		height:20%;
		position:absolute;
		top:80%;
		left:53.6%;
		font-size: 140%;
		color: red;
		transition: all 1s ease-in-out;
	}
}
