body {
	height: 100%;
	width: 100%;
  	font-family: "Gotham", "Lato", Helvetica, Arial, sans-serif;
  	font-size: 16px;
  	line-height: 1.72222;
  	color: #34495e;
  	background-color: #ffffff;
}
.c-size{
	width:95%;
}
@media(min-width: 768px){
	.c-size{
		width:150%;
	}
}
@media(min-width: 992px){
	.c-size{
		width:170%;
	}
}
.searchbar {
	border: 0;
	background-color: #1b3033;
	color: #FFF;
	border-bottom: solid 1px #CCC;
	border-radius: 0.5;

	width: 65%;
	height: 40px;
	font-size: 15px;
	padding: 5px;
	margin-top: 5px;
}
@media(min-width: 381px){
	.searchbar {
	width: 70%;
	}
}
@media(min-width: 768px){
	.searchbar {
	width: 400px;
	}
}

.searchbar:focus {
	border: 0;
	text-decoration: none;
	outline: none;
	border-bottom: solid 1px #CCC;
	color: #FFF;
}

.searchbar:hover {
	border: solid 1px #CCC;

}

.font12 {
	font-size: 12px;
}

.font13 {
	font-size: 13px;
}

.font14 {
	font-size: 14px;
}

.break {
	width: 98%;
	border-top: 1px solid #CCC;
	
	margin: 0 auto;
	margin-top: 2em;
	margin-bottom: 1em;
}

.top-spacer {
	margin-top: 20px;
}

.input-no-style {
	border: 0px;
	width: 100%;
	height: 50px;
}

.input-no-style:hover {
	border: 0px;
	text-decoration: none;
}

.link {
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}


.header1 {
	color: #a3a3a3;
	font-weight: bold;
	font-size: 1.5em;
}

.header2 {
	color: #000;
	font-weight: bold;
}

.header3 {
	color: #a3a3a3;
	font-weight: bold;
	font-size: 1.2em;
}

.header4 {
	color: #000;
	font-weight: bold;
	font-size: 1.3em;
}

.news {
	margin: 0 auto;
	width: 80%;
	height: auto;
	background-color: #CCC;
/*
	*/
}

.news .details {
	margin-top: 55px;
	width: 100%;
	height: 50px;

	border: 1px solid #CCC;
    box-shadow: 0 4px 8px -2px #000;
    -moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.main {
	width: 100%;
	height: auto;
	/*padding-left: 102px;*/
	margin-top: 30px;
}

.main .profile {
	width: 100%;
	margin: 0 auto;
}



/*MENU*/

.profile .menu {
	display:none;
	visibility:hidden;
	float: left;
	width: 17%; 
	min-height: 300px;
	margin-top:10px;
	margin-left: 1%;
	background-color: #FFF;

	padding: 1.5em;

	border: 1px solid #CCC;
    box-shadow: 0 4px 8px -2px #000;
    -moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
@media(min-width: 768px){
	.profile .menu {
		display:block;
		visibility:visible;
	}
}
@media(min-width: 992px){
	.profile .menu {
		display:block;
		visibility:visible;
	}
}
@media(min-width: 1200px){
	.profile .menu {
		display:block;
		visibility:visible;
	}
}


.profile .c-menu {
	position:fixed;
	display:inline-block;
	visibility:visible;
	width: 100%; 
	min-height: 20px;
	padding-left: 0px;
	background-color: #f1f3f5;
	border: 1px solid #CCC;
    /*box-shadow: 0 4px 8px -2px #000;*/
    /*-moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

@media(min-width: 768px){
	.profile .c-menu {
		display:none;
		visibility:hidden;
	}
}
@media(min-width: 992px){
	.profile .c-menu {
		display:none;
		visibility:hidden;
	}
}
@media(min-width: 1200px){
	.profile .c-menu {
		display:none;
		visibility:hidden;
	}
}
/*.c-menu li a img{
	width:8%;
	margin: 0;
    padding: 0;
}*/
.c-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.c-menu li {
    float: left;
}

.c-menu li a {
    display: block;
    text-align: center;
    padding: 10px 28px 8px 28px;
    text-decoration: none;
}
@media(min-width: 375px){
	.c-menu li a {
	    display: block;
	    text-align: center;
	    padding: 10px 34px 8px 34px;
	    text-decoration: none;
	}
}
@media(min-width: 425px){
	.c-menu li a {
	    display: block;
	    text-align: center;
	    padding: 10px 40px 8px 40px;
	    text-decoration: none;
	}
}

.c-menu li a:focus{
    background-color: #e6ffe6;
}

.c-menu .active{
    background-color: #9fe0ba;
}

.c-menu li a img{
    width:20px;
}

/*LEFT SIDE*/

.profile .left {
	float: left;
	width: 100%; 
	min-height: 450px;
	margin-left: 0%;
	background-color: #FFF;

	padding: 3.5em 1.5em 1.5em 1.5em;

    border: 1px solid #CCC;
    box-shadow: 0 4px 8px -2px #000;
    -moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
@media(min-width: 768px){
	.profile .left {
		width: 55%;
		margin-left: 1%;
		margin-top:10px;
	}
}
@media(min-width: 992px){
	.profile .left {
		width: 55%;
		margin-left: 1%;
		margin-top:10px;
	}
}
@media(min-width: 1200px){
	.profile .left {
		width: 55%;
		margin-left: 1%;
		margin-top:10px;
	}
}

	.c-length{
		width: 100%;
		border:1px solid;
	}
	.left .basic {
		margin-top:0%;
		width: 100%;
		height: auto;
		padding-bottom:3%;
	}
	.left .basic .picture {
		width:100%;
		float:right;
		padding-left:auto;
		padding-right:auto;
		padding-bottom:0%;
	}
	.left .basic .picture .img-circle {
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 5px;
		border-top:8px solid #9fe0ba;
		border-right:8px solid #9fe0ba;
		border-bottom:0px solid #9fe0ba;
		border-left:0px solid #9fe0ba;
		border-radius:100%;
		width:200px;
		height:200px;
		padding:7px;
	}
	.left .basic .picture .selftitle {
		text-align: center;
		font-size: 110%;
	}

	/*Name and Status*/
	.left .basic .details {
		letter-spacing: 0.15px;
		width:100%;
		float:top;
		margin: 20px auto auto auto;
	}
	.details .cborder{
		margin-top:-15px;
		margin-bottom:10px;
		border-top:2px solid #9fe0ba;
		border-right:0px solid #9fe0ba;
		border-bottom:2px solid #9fe0ba;
		border-left:0px solid #9fe0ba;
		border-radius:0%;
		padding:10px 0 5px 0;
	}
	.details .cborder .name {
		text-align: center;
		font-size: 200%;
		line-height: 100%;
		/*added*/
	}
	.details .cborder .status {
		text-align: center;	
		color: #00a51c;
		margin-bottom: 0px;
	}

@media(min-width: 768px){

	.c-length{
		width: 200%;
		border:1px solid;
	}
	.left .basic {
		margin-top:0%;
		width: 100%;
		height: auto;
		padding-bottom:3%;
	}
	.left .basic .picture {
		width:40%;
		float:right;
		margin-right:0%;
		padding-left:auto;
		padding-right:auto;
		padding-bottom:0px;
	}
	.left .basic .picture .img-circle {
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 10px;
	    border-top:5px solid #9fe0ba;
		border-right:5px solid #9fe0ba;
		border-bottom:0px solid #9fe0ba;
		border-left:0px solid #9fe0ba;
		border-radius:100%;
		width:130px;
		height:130px;
	}
	.left .basic .picture .selftitle {
		text-align: center;
		font-size: 80%;
	}

	/*Name and Status*/
	.left .basic .details {
		letter-spacing: 0.15px;
		width:50%;
		float:top;
		margin: -150px auto auto 0px;
		padding: 0px auto auto auto;
	}
	.details .cborder{
		border-top:2px solid #9fe0ba;
		border-bottom:2px solid #9fe0ba;
	}
	.details .cborder .name {
		text-align: left;
		font-size: 160%;
		line-height: 100%;
		margin-top:4px;
		/*added*/
	}
	.left .basic .details .cborder .status {
		text-align:left;	
		color: #00a51c;
		margin-bottom:5px;
	}

}
@media(min-width: 992px){

	.c-length{
		width: 192%;
		border:1px solid;
	}
	.left .basic {
		margin-top:0%;
		width: 100%;
		height: auto;
		padding-bottom:3%;
	}
	.left .basic .picture {
		width:40%;
		float:right;
		margin-right:0%;
		padding-left:auto;
		padding-right:auto;
		padding-bottom:0px;
	}
	.left .basic .picture .img-circle {
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 10px;
		border-radius:100%;
		width:170px;
		height:170px;
	}
	.left .basic .picture .selftitle {
		text-align: center;
		font-size: 80%;
	}

	/*Name and Status*/
	.left .basic .details {
		letter-spacing: 0.15px;
		width:50%;
		float:top;
		margin: -190px auto auto 15px;
		padding: 0px auto auto auto;
	}
	.details .cborder{
		border-top:2px solid #9fe0ba;
		border-bottom:2px solid #9fe0ba;
	}
	.details .name {
		text-align: left;
		font-size: 160%;
		line-height: 100%;
		/*added*/
	}
	.left .basic .details .status {
		text-align:left;	
		color: #00a51c;
		margin-bottom:20px;
	}

}
@media(min-width: 1200px){

	.c-length{
		width: 192%;
		border:1px solid;
	}
	.left .basic {
		margin-top:0%;
		width: 100%;
		height: auto;
		padding-bottom:3%;
	}
	.left .basic .picture {
		width:40%;
		float:right;
		margin-right:-15px;
		padding-left:auto;
		padding-right:auto;
		padding-bottom:0px;
	}
	.left .basic .picture .img-circle {
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 10px;
		border-radius:100%;
		width:200px;
		height:200px;
	}
	.left .basic .picture .selftitle {
		text-align: center;
		font-size: 80%;
	}

	/*Name and Status*/
	.left .basic .details {
		letter-spacing: 0.15px;
		width:50%;
		float:top;
		margin: -210px auto auto 15px;
		padding: 0px auto auto auto;
	}
	.details .cborder{
		border-top:2px solid #9fe0ba;
		border-bottom:2px solid #9fe0ba;
	}
	.details .name {
		text-align: left;
		font-size: 160%;
		line-height: 100%;
		/*added*/
	}
	.left .basic .details .status {
		text-align:left;	
		color: #00a51c;
		margin-bottom:20px;
	}

}

.left .basic .details img {
	margin-right: 10px;
}

.left .background {
	margin-top: 20px;
	width: 100%;
	height: auto;
	padding-left: 10px;
}

.left .c-background {
	margin-top: -20px;
	width: 100%;
	height: auto;
	padding-left: 10px
}

/*FEEDS*/
.left .feeds .post {}
.left .feeds .post .feed-data {
	width:100%;
}
/*BREAKER*/
.left .feeds .post .feed-data .Cbreak{
	width: 98%;
	border-top: 0px solid #CCC;
	
	margin: 0 auto;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
.left .CbreakSec{
	width: 98%;
	border-top: 1px solid #CCC;
	
	margin: 0 auto;
	margin-top:1em;
	margin-bottom: 1em;
}
/*UPPER PART*/
.left .feeds .post .feed-data .Cupperbox{
	width:100%;
	height:40%;
}
.left .feeds .post .feed-data .Cupperbox .Clogo{
	width:65%;
	margin:-33px 0px 5px 5px;
}
.left .feeds .post .feed-data .Cupperbox .Clogo img{
	width:100%;
	padding:5px;
	border-top:5px solid #9fe0ba;
	border-left:0px;
	border-right:5px solid #9fe0ba;
	border-bottom:0px;
	border-radius:13% 0 13% 13%;
}
.left .feeds .post .feed-data .Cupperbox .Cad{
	width:25%;
	margin:10px 0% 0px 75%;
	text-align:right;
	padding:8px 12px 8px 8px;
	border-left:4px solid #e4ebe0;
	border-bottom:2px solid #e4ebe0;

	line-height:1.2em;
	font-size:0.6em;
	background:#FDF07E;
	border-radius:25%;
}
.left .feeds .post .feed-data .Cupperbox .Cad span{
	color: #669999;
}
/*UPPER PART*/
.left .feeds .post .feed-data .CupperboxSec{
	display:none;
}
/*LOWER PART*/
.left .feeds .post .feed-data .Clowerbox{
	width:100%;
	height:60%;
}
/*TITLE AND DETAILS*/
.left .feeds .post .feed-data .Clowerbox .ClowerboxUp{
	width:100%;
	height:30%;
	background:#F4FCF2;
	padding:15px 4px;
	border-top:0px;
	border-left:5px solid #d2fcd2;
	border-right:5px solid #d2fcd2;
	border-bottom:0px;
	border-radius:5%;

	margin-bottom:8px;
}
.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Ctitlebox{
	width:100%;
	margin-bottom: 10px;
}
.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Ctitlebox .Ctitle{
	text-align:center;
	line-height: 1.25em;
	font-size:1.45em;
	display:block;
	margin-left:auto;
	margin-right:auto;
	color: #194d33;
}
.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Cdetailsbox{
	width:100%;
	margin-bottom: 5px;
}
.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Cdetailsbox .Cdetails{
	text-align:center;
	line-height: 1.5em;
	font-size:1em;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/*IMAGES, VIDEOS AND GIF*/
.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle{
	width:100%;
	height:50%;
}
.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox{
	width:100%;
}
.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cimage{
	width:100%;
}
.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cimage img{
	width:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border:5px solid white;
	border-radius:4%;
	padding:0px 10px 10px 10px;
}
.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cvideo{
	width:100%;
	height:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border:2px solid white;
	border-radius:0%;

	padding:0px 30px 10px 30px;
}

/*BUTTONS*/
.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom{
	width:100%;
	height:20%;
}
.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox{
	width:100%;
}
.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Csave{
	width:24%;
	height:50px;
	background:#4BC47D;
	border:#4BC47D;
	float:left;
	font-size:0.75em;
	padding:10px 0;
}
.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Crefer{
	width:50%;
	background:#77d477;
	border:#77d477;
	line-height: 1.25em;
	font-size: 0.75em;
	padding:10px 0;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1.25%;
}
.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Capply{
	width:24%;
	height:50px;
	background:rgb(113, 225, 175);
	border:rgb(113, 225, 175);
	float:right;
	font-size:0.75em;
	padding:10px 0;
}

.CClowerboxMiddle{
	width:100%;
	height:50%;
}
.CClowerboxMiddle .CCadbox{
	width:100%;
	padding-bottom:7px;
}
.CClowerboxMiddle .CCadbox .CCimage{
	width:100%;
	padding:3px;
	border-bottom:5px solid #5BBA92  ;
	border-right:0px;
	border-left:3px solid #5BBA92  ;
	border-top:0px;
	border-radius:13% 0 13% 13%;
}
.CClowerboxMiddle .CCadbox .CCimage img{
	width:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

@media(min-width: 375px){

	/*UPPER PART*/
	.left .feeds .post .feed-data .Cupperbox{
		display:none;
	}
	.left .feeds .post .feed-data .CupperboxSec{
		display:block;
		width:100%;
		height:40%;
	}
	.left .feeds .post .feed-data .CupperboxSec .CadSec{
		width:25%;
		margin:10px 0% 0px 75%;
		text-align:right;
		padding:8px;
		border-left:4px solid #e4ebe0;
		border-bottom:2px solid #e4ebe0;

		line-height:1.2em;
		font-size:0.6em;
		background:#FDF07E;
		border-radius:25%;
	}
	.left .feeds .post .feed-data .CupperboxSec .CadSec span{
		color: #669999;
	}

	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox{
		display:none;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec{
		display:block;
		width:100%;
		height:110px;
		border-bottom:1px solid #fff;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .ClogoSec{
		width:160px;
		margin:-152px 0px 0px 0px;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .ClogoSec img{
		width:100%;
		padding:5px;
		border-top:5px solid #9fe0ba;
		border-left:0px;
		border-right:5px solid #9fe0ba;
		border-bottom:0px;
		border-radius:13% 0 13% 13%;
	}
	
	
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .CbuttonsboxSec{
		margin: 25px 0 0 60%;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .CbuttonsboxSec .CsaveSec{
		width:100%;
		height:30px;
		background:#4BC47D;
		border:#4BC47D;
		float:none;
		font-size:0.6em;
		padding:5px 0;
		margin-bottom: 2px;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .CbuttonsboxSec .CreferSec{
		width:100%;
		background:#77d477;
		border:#77d477;
		float:none;
		line-height: 1.15em;
		font-size: 0.6em;
		padding:5px 0;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .CbuttonsboxSec .CapplySec{
		width:100%;
		height:30px;
		background:rgb(113, 225, 175);
		border:rgb(113, 225, 175);
		float:none;
		font-size:0.6em;
		padding:5px 0;
		margin-bottom: 2px;
	}

	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cvideo{
		width:100%;
		height:190px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		border:2px solid white;
		border-radius:0%;
	}
}
@media(min-width: 425px){

	/*UPPER PART*/
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec{
		display:block;
		width:100%;
		height:120px;
		border-bottom:1px solid #fff;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .ClogoSec{
		width:170px;
		margin:-172px 0px 0px 15px;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .ClogoSec img{
		width:100%;
		height:170px;
		padding:5px;
		border-top:5px solid #9fe0ba;
		border-left:0px;
		border-right:5px solid #9fe0ba;
		border-bottom:0px;
		border-radius:13% 0 13% 13%;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .CbuttonsboxSec{
		margin: 25px 0 0 55%;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .CbuttonsboxSec .CsaveSec{
		width:100%;
		height:37px;
		background:#4BC47D;
		border:#4BC47D;
		float:none;
		font-size:0.75em;
		padding:5px 0;
		margin-bottom: 2px;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .CbuttonsboxSec .CreferSec{
		width:100%;
		background:#77d477;
		border:#77d477;
		float:none;
		line-height: 1.15em;
		font-size: 0.75em;
		padding:5px 0;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .CbuttonsboxSec .CapplySec{
		width:100%;
		height:37px;
		background:rgb(113, 225, 175);
		border:rgb(113, 225, 175);
		float:none;
		font-size:0.75em;
		padding:5px 0;
		margin-bottom: 2px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cvideo{
		height:220px;
	}
}
@media(min-width: 525px){

	/*UPPER PART*/
	.left .feeds .post .feed-data .Cupperbox{
		display:block;
		height:100px;
	}
	.left .feeds .post .feed-data .CupperboxSec{
		display:none;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle{
		width:100%;
		height:50%;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox{
		width:100%;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox{
		display:block;
	}
	.left .feeds .post .feed-data .Cupperbox .Clogo{
		width:30%;
		margin:-23px 0px 5px 5px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp{
		width:63%;
		height:30%;
		/*background:none;*/
		background:#F4FCF2;

		margin:-99px 0 15px 37%;
	}
	.left .feeds .post .feed-data .Cupperbox .Cad{
		width:62%;
		margin:10px 1% 0px 37%;
		font-size:0.7em;
		border-radius:30% 30% 0 0;
		background:#FCF39E;
	}
	.left .feeds .post .feed-data .Cupperbox .Cad span{
		color: #669999;
	}	
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp{
		background:#F4FCF2;
		margin-bottom:15px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Ctitlebox{
		width:100%;
		margin-bottom: 10px;
		padding-top:30px;
		padding-left:10px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Ctitlebox .Ctitle{
		text-align:left;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Cdetailsbox{
		width:100%;
		margin-bottom: 5px;
		padding-left:10px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Cdetailsbox .Cdetails{
		text-align:left;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Csave{
		width:24%;
		height:35px;
		background:#4BC47D;
		border:#4BC47D;
		float:left;
		font-size:0.75em;
		padding:5px 0;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Crefer{
		width:50%;
		background:#77d477;
		border:#77d477;
		line-height: 1em;
		font-size: 0.75em;
		padding:5px 0;
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:1.25%;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Capply{
		width:24%;
		height:35px;
		background:rgb(113, 225, 175);
		border:rgb(113, 225, 175);
		float:right;
		font-size:0.75em;
		padding:5px 0;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cvideo{
		height:280px;
	}
}
@media(min-width: 600px){
	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cimage{
		padding:-2px 0 2px 0;
	}
	.left .feeds .post .feed-data .Cupperbox .Clogo{
		width:150px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp{
		background:#F4FCF2;
		margin-bottom:10px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cvideo{
		height:350px;
	}
}
@media(min-width: 700px){	
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Crefer{
		width:42%;
		margin-right:3px;
	}
	.left .feeds .post .feed-data .Cupperbox .Cad{
		width:66.25%;
		margin-left:33%;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp{
		background:#F4FCF2;
		width:67%;
		margin-left:33%;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cvideo{
		height:400px;
	}
}
@media(min-width: 768px){


	/*UPPER PART*/
	
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp{
		width:100%;
		height:30%;
		background:#F4FCF2;

		margin:0px 0 15px 0%;
	}
	.left .feeds .post .feed-data .Cupperbox{
		display:none;
	}
	.left .feeds .post .feed-data .CupperboxSec{
		display:block;
		width:100%;
		height:40%;
	}
	.left .feeds .post .feed-data .CupperboxSec .CadSec{
		width:25%;
		margin:10px 0% 0px 75%;
		text-align:right;
		padding:8px;
		border-left:4px solid #e4ebe0;
		border-bottom:2px solid #e4ebe0;

		line-height:1.2em;
		font-size:0.6em;
		background:#FDF07E;
		border-radius:25%;
	}
	.left .feeds .post .feed-data .CupperboxSec .CadSec span{
		color: #669999;
	}

	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox{
		display:none;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec{
		display:block;
		width:100%;
		height:110px;
		border-bottom:1px solid #fff;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .ClogoSec{
		width:160px;
		margin:-157px 0px 0px 5px;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .ClogoSec img{
		width:100%;
		height:158px;
		padding:5px;
		border-top:5px solid #9fe0ba;
		border-left:0px;
		border-right:5px solid #9fe0ba;
		border-bottom:0px;
		border-radius:13% 0 13% 13%;
	}
	
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp{
		width:100%;
		height:30%;
		background:#F4FCF2;
		padding:15px 4px;
		border-top:0px;
		border-left:5px solid #d2fcd2;
		border-right:5px solid #d2fcd2;
		border-bottom:0px;
		border-radius:5%;

		margin-bottom:8px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Ctitlebox{
		width:100%;
		margin-bottom: 10px;
		padding-top: 0px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Ctitlebox .Ctitle{
		text-align:center;
		line-height: 1.5em;
		font-size:1.25em;
		display:block;
		margin-left:auto;
		margin-right:auto;
		color: #194d33;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Cdetailsbox{
		width:100%;
		margin-bottom: 5px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Cdetailsbox .Cdetails{
		text-align:center;
		line-height: 1.5em;
		font-size:0.9em;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .CbuttonsboxSec{
		margin: 25px 0 0 55%;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .CbuttonsboxSec .CsaveSec{
		width:100%;
		height:33px;
		background:#4BC47D;
		border:#4BC47D;
		float:none;
		font-size:0.75em;
		padding:5px 0;
		margin-bottom: 2px;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .CbuttonsboxSec .CreferSec{
		width:100%;
		background:#77d477;
		border:#77d477;
		float:none;
		line-height: 1em;
		font-size: 0.75em;
		padding:5px 0;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	.left .feeds .post .feed-data .CupperboxSec .ClowerboxBottomSec .CbuttonsboxSec .CapplySec{
		width:100%;
		height:33px;
		background:rgb(113, 225, 175);
		border:rgb(113, 225, 175);
		float:none;
		font-size:0.75em;
		padding:5px 0;
		margin-bottom: 2px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cvideo{
		height:250px;
	}
}
@media(min-width: 992px){

	.left .feeds .post .feed-data .Cupperbox .Clogo{
		width:50%;
		height:auto;
		margin:-39px 0px 5px 5px;
	}
	.left .feeds .post .feed-data .Cupperbox .Clogo img{
		width:160px;
		height:auto;
		padding:5px;
		border-top:5px solid #9fe0ba;
		border-left:0px;
		border-right:5px solid #9fe0ba;
		border-bottom:0px;
		border-radius:13% 0 13% 13%;
	}
	/*UPPER PART*/
	.left .feeds .post .feed-data .Cupperbox{
		display:block;
		height:100px;
	}
	.left .feeds .post .feed-data .CupperboxSec{
		display:none;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle{
		width:100%;
		height:50%;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox{
		width:100%;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox{
		display:block;
	}
	.left .feeds .post .feed-data .Cupperbox .Clogo{
		width:30%;
		margin:-23px 0px 5px 5px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp{
		width:63%;
		height:30%;
		/*background:none;*/
		background:#F4FCF2;

		margin:-99px 0 15px 37%;
	}
	.left .feeds .post .feed-data .Cupperbox .Cad{
		width:62.5%;
		margin:10px 1% 0px 37%;
		font-size:0.7em;
		border-radius:30% 30% 0 0;
		background:#FCF39E;
	}
	.left .feeds .post .feed-data .Cupperbox .Cad span{
		color: #669999;
	}	
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp{
		background:#F4FCF2;
		margin-bottom:15px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Ctitlebox{
		width:100%;
		margin-bottom: 10px;
		padding-top:30px;
		padding-left:10px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Ctitlebox .Ctitle{
		font-size: 1.4em;
		text-align:left;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Cdetailsbox{
		width:100%;
		margin-bottom: 5px;
		padding-left:10px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Cdetailsbox .Cdetails{
		font-size: 1.1em;
		text-align:left;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Csave{
		width:24%;
		height:35px;
		background:#4BC47D;
		border:#4BC47D;
		float:left;
		font-size:0.75em;
		padding:5px 0;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Crefer{
		width:50%;
		background:#77d477;
		border:#77d477;
		line-height: 1em;
		font-size: 0.75em;
		padding:5px 0;
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:1.25%;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Capply{
		width:24%;
		height:35px;
		background:rgb(113, 225, 175);
		border:rgb(113, 225, 175);
		float:right;
		font-size:0.75em;
		padding:5px 0;
	}

	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cvideo{
		height:300px;
	}
}
@media(min-width: 1200px){

	.left .feeds .post .feed-data .Cupperbox .Clogo{
		width:50%;
		height:auto;
		margin:-20px 0px 5px 0px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Crefer{
		width:42%;
		margin-right:3px;
	}
	.left .feeds .post .feed-data .Cupperbox .Cad{
		width:66%;
		margin-left:33%;
		border-radius: 30% 30% 0 0;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp{
		width:67%;
		margin-left:33%;
		background:#F4FCF2;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cvideo{
		height:370px;
	}
	.left .feeds .post .feed-data .Cupperbox .Cad{
		font-size:1em;
	}
}
@media(min-width: 1440px){

	.CClowerboxMiddle .CCadbox .CCimage{
		width:250px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		padding:3px;
		border-bottom:5px solid #5BBA92  ;
		border-right:0px;
		border-left:3px solid #5BBA92  ;
		border-top:0px;
		border-radius:13% 0 13% 13%;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp{
		background:#F4FCF2;
		padding-bottom:20px;
	}
	.left .feeds .post .feed-data .Cupperbox .Clogo{
		width:60%;
		height:auto;
		margin:-20px 0px 5px 0px;
	}
	.left .feeds .post .feed-data .Cupperbox .Clogo img{
		width:180px;
		height:auto;
		padding:5px;
		border-top:5px solid #9fe0ba;
		border-left:0px;
		border-right:5px solid #9fe0ba;
		border-bottom:0px;
		border-radius:13% 0 13% 13%;
	}

	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Ctitlebox .Ctitle{
		font-size: 1.6em;
		text-align:left;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Cdetailsbox .Cdetails{
		font-size: 1.3em;
		text-align:left;
	}

	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Csave{
		width:24%;
		height:61px;
		background:#4BC47D;
		border:#4BC47D;
		float:left;
		font-size:1em;
		padding:10px 0;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Crefer{
		width:50%;
		background:#77d477;
		border:#77d477;
		line-height: 1.25em;
		font-size: 1em;
		padding:10px 0;
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:1.25%;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Capply{
		width:24%;
		height:61px;
		background:rgb(113, 225, 175);
		border:rgb(113, 225, 175);
		float:right;
		font-size:1em;
		padding:10px 0;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cvideo{
		height:550px;
	}
	.left .feeds .post .feed-data .Cupperbox .Cad{
		width:66.5%;
		margin-left:32.85%;
		border-radius: 30% 30% 0 0;
	}
}
@media(min-width: 1800px){
	.left .feeds .post .feed-data .Cupperbox .Cad{
		font-size:1.25em;
		padding-top: 10px;
	}
	.left .feeds .post .feed-data .Cupperbox .Cad{
		width:66.5%;
		margin-left:33%;
		border-radius: 30% 30% 0 0;
	}
}

@media(min-width: 2000px){

	.left .feeds .post .feed-data .Cupperbox .Cad{
		font-size:1.5em;
		padding-top: 15px;
	}

	.left .feeds .post .feed-data .Cupperbox .Clogo{
		width:20%;
		height:auto;
		margin:-20px 0px 5px 30px;
	}
	.left .feeds .post .feed-data .Cupperbox .Clogo img{
		width:100%;
		height:auto;
		padding:5px;
		border-top:5px solid #9fe0ba;
		border-left:0px;
		border-right:5px solid #9fe0ba;
		border-bottom:0px;
		border-radius:13% 0 13% 13%;
	}
	.CClowerboxMiddle .CCadbox .CCimage{
		width:400px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		padding:3px;
		border-bottom:5px solid #5BBA92  ;
		border-right:0px;
		border-left:3px solid #5BBA92  ;
		border-top:0px;
		border-radius:13% 0 13% 13%;
	}

	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Ctitlebox{
		padding-top:45px;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Ctitlebox .Ctitle{
		font-size: 3em;
		text-align:left;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Cdetailsbox .Cdetails{
		font-size: 2em;
		text-align:left;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp{
		background:#F4FCF2;
		margin-bottom:40px;
	}

	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Csave{
		width:20%;
		height:100px;
		background:#4BC47D;
		border:#4BC47D;
		float:left;
		font-size:2em;
		padding:10px 0;
		margin-left: 3%;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Crefer{
		width:42%;
		background:#77d477;
		border:#77d477;
		line-height: 1.25em;
		font-size: 2em;
		padding:10px 0;
		display:block;
		margin-left:auto;
		margin-right:5px;
		margin-bottom:1.25%;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Capply{
		width:24%;
		height:100px;
		background:rgb(113, 225, 175);
		border:rgb(113, 225, 175);
		float:right;
		font-size:2em;
		padding:10px 0;
	}

	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cimage img{
		padding:0 50px 50px 50px;
	}

	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cvideo{
		height:750px;
		padding:0 50px 30px 50px;
	}
}
@media(min-width: 2560px){

	.left .feeds .post .feed-data .Cupperbox .Cad{
		font-size:1.75em;
		padding-top: 20px;
	}

	.left .feeds .post .feed-data .Cupperbox .Clogo{
		width:20%;
		height:auto;
		margin:-20px 0px 5px 30px;
	}
	.left .feeds .post .feed-data .Cupperbox .Clogo img{
		width:100%;
		height:auto;
		padding:5px;
		border-top:5px solid #9fe0ba;
		border-left:0px;
		border-right:5px solid #9fe0ba;
		border-bottom:0px;
		border-radius:13% 0 13% 13%;
	}
	.CClowerboxMiddle .CCadbox .CCimage{
		width:400px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		padding:3px;
		border-bottom:5px solid #5BBA92  ;
		border-right:0px;
		border-left:3px solid #5BBA92  ;
		border-top:0px;
		border-radius:13% 0 13% 13%;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Ctitlebox .Ctitle{
		font-size: 3em;
		text-align:left;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp .Cdetailsbox .Cdetails{
		font-size: 2em;
		text-align:left;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxUp{
		background:#F4FCF2;
		margin-bottom:40px;
	}

	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Csave{
		width:20%;
		height:100px;
		background:#4BC47D;
		border:#4BC47D;
		float:left;
		font-size:2em;
		padding:10px 0;
		margin-left: 3%;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Crefer{
		width:42%;
		background:#77d477;
		border:#77d477;
		line-height: 1.25em;
		font-size: 2em;
		padding:10px 0;
		display:block;
		margin-left:auto;
		margin-right:5px;
		margin-bottom:1.25%;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxBottom .Cbuttonsbox .Capply{
		width:24%;
		height:100px;
		background:rgb(113, 225, 175);
		border:rgb(113, 225, 175);
		float:right;
		font-size:2em;
		padding:10px 0;
	}
	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cvideo{
		height:750px;
		padding:0 100px 50px 100px;
	}

	.left .feeds .post .feed-data .Clowerbox .ClowerboxMiddle .Cadbox .Cimage img{
		padding:0 100px 50px 100px;
	}
}


/*RIGHT SIDE*/

.profile .right {
	display:none;
	visibility:hidden;
	float: left;
	width: 24%; 
	min-height: 300px;
	margin-top:10px;
	margin-left: 1%;
	background-color: #FFF;

	padding: 1.5em;

	border: 1px solid #CCC;
    box-shadow: 0 4px 8px -2px #000;
    -moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
@media(min-width: 768px){
	.profile .right {
		display:block;
		visibility:visible;
	}
}
@media(min-width: 992px){
	.profile .right {
		display:block;
		visibility:visible;
	}
}
@media(min-width: 1200px){
	.profile .right {
		display:block;
		visibility:visible;
	}
}


.right .statistics {
	width: 100%;
	height: auto;
}

.right .statistics img {
	margin-right: 10px;
}

.right .updates {
	width: 100%;
	height: auto;
}

.pitchbox {
	padding: 10px;
	height: 50px;
	color: #AAA;
}

.pitchbox:active {
	color: #000;
	border: 0px;
	outline: none;
	border: none;
}

.pitchbox:focus {
	color: #000;
	border: 0px;
	outline: none;
	border: none;
}

.feed-data {
	-webkit-animation: hideAndShow 2000ms ease;
    -moz-animation: hideAndShow 2000ms ease;
    -ms-animation: hideAndShow 2000ms ease;
}

@-webkit-keyframes hideAndShow{
    from {
    	-webkit-transform: translateY(-40%);
        opacity: 0;
    }
    to {
    	-webkit-transform: translateY(0%);
        opacity: 1;
    }
}
@-moz-keyframes hideAndShow{
    from {
    	-moz-transform: translateY(-40%);
        opacity: 0;
    }
    to {
    	-moz-transform: translateY(0%);
        opacity: 1;
    }
}    
@-ms-keyframes hideAndShow{
    from {
    	-ms-transform: translateY(-40%);
        opacity: 0;
    }
    to {
    	-ms-transform: translateY(0%);
        opacity: 1;
    }
}

.credit {
	text-align: center;
	font-size: 20px;
}

.credit .label {
	color: #000;
}

.credit .amount {
	color: #daa520;
}

#share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}

#share-buttons img:hover {
	outline: none;
}

.main .profile .fullpage {
	width: 68%;
	
	margin: 0 auto;
	margin-top:40px;

	min-height: 450px;
	background-color: #FFF;

	padding: 3.5em 1.5em 1.5em 1.5em;

    border: 1px solid #CCC;
    box-shadow: 0 4px 8px -2px #000;
    -moz-box-shadow: 0 4px 8px -2px #000;
    -webkit-box-shadow: 0 4px 8px -2px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
