<div>
	<div>
		<!-- <nav id="sidebar-wrapper" class="active" style="margin-top:-20px;">
			<ul class="sidebar-nav">
	            <li>
	                <a href="#top" ng-click="logout()">Logout</a>
	            </li>
	        </ul>
	    </nav> -->

	    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
	        <div class="container topnav" style="color:#FFF !important;">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button> -->
	                <a class="navbar-brand topnav" href="#/home">
	                	JOBBER
	                </a>
	                <input type="text" class="searchbar" placeholder="Search jobs here" maxlength="60" data-ng-model="searchbox.text" data-ng-change="searchbig()" />
	                
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->

	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a href="#/">Jobs</a>
	                    </li>
	                    <li>
	                    	<a href="#/CHRS-{{profile.pin}}">Profile </a>
	                    </li>
	                    <li>
	                        <a>Help</a>
	                    </li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>
	</div>

	<!-- <div style="width:100%; height: 50px; text-align:center; padding-top: 30px;">
		<input type="text" class="searchbar" placeholder="Search..." maxlength="60" data-ng-model="searchbox.text" data-ng-change="searchbig()" />
	</div> -->
	<div style="clear:both;"></div>

	<!-- <div class="news">
		<div class="details"></div>
	</div> -->

	<div style="height:20px;"></div>

	<div class="main">
		<div style="clear:both;"></div>
		<div class="profile">

			<div class="c-menu megamenu">
				<ul>
					<li>
						<a  href="#/home">
							<img src="../ASSETS/img/profile.png">
						</a>
					</li>
					<li class="active">
						<a href="#/..">
							<img src="../ASSETS/img/attache.png">
						</a>
					</li>
					<li>
						<a>
							<img src="../ASSETS/img/message.png">
						</a>
					</li>
					<li>
						<a>
							<img src="../ASSETS/img/bookmark.png">
						</a>
					</li>
				</ul>
			</div>

			<div class="menu">
				<div>
					<img src="../ASSETS/img/profile.png" style="width:16px;">
					<span class="font12 link">Profile</span>
				</div>
				<div>
					<img src="../ASSETS/img/attache.png" style="width:16px;">
					<span class="font12 link">Applications</span>
				</div>
				<div>
					<img src="../ASSETS/img/message.png" style="width:16px;">
					<span class="font12 link">Messages</span>
				</div>
				<div>
					<img src="../ASSETS/img/bookmark.png" style="width:16px;">
					<span class="font12 link">Bookmarks</span>
				</div>
				<div>
					<img src="../ASSETS/img/star.png" style="width:16px;">
					<span class="font12 link">Talent Acquisition</span>
				</div>
			</div>

			<div class="left">
				<div class="cbreak"></div>
				<div class="feeds">
					<div class="post">
						<div class="feed-data">

							<div style="width:100%;">

								<div class="cbox2">
									<div class="cad">
										<div class="cad-circle">
											<span>AD</span>
										</div>
									</div>

									<div class="employer-logo">
										<img src="{{feeds.data[0].image}}" />
									</div>
								</div>

								<div class="ccbuttons">
										<button type="button" class="btn btn-info ccsave">SAVE</button>
										<button type="button" class="btn btn-primary ccapply">APPLY</button>
										<button type="button" class="btn btn-warning ccrefer">REFER 
											<div>{{feeds.data[0].fee.currency}} ({{feeds.data[0].fee.amount}})</div>
										</button>
								</div>

								<div class="employer-details">

									<div class="ctitleup">
										<span class="header4 ctitle">{{feeds.data[0].title}}</span>
									</div>

									<div class="cdetailsup">
										<span class="header2 cdetails">{{feeds.data[0].experience}}</span>
										<p class="cdetails">{{feeds.data[0].skills}}</p>
									</div>
		
									<div style="clear:both;"></div>

									<div class="cimageblock">
											<div ng-if="feeds.data[0].ad.type == 'gif'">
												<img src="{{feeds.data[0].ad.link}}" class="cimage"/>
											</div>
											<div ng-if="feeds.data[0].ad.type == 'image'">
												<img src="{{feeds.data[0].ad.link}}" class="cimage"/>
											</div>
											<div ng-if="feeds.data[0].ad.type == 'youtube'">
												<iframe src="https://www.youtube.com/embed/n9EgH-QxaUI" class="cvideo"frameborder="0" allowfullscreen></iframe>
											</div>
									</div>
								</div>

								<div class="ccimageblock">
									<div ng-if="feeds.data[0].ad.type == 'gif'">
										<img src="{{feeds.data[0].ad.link}}" class="ccimage"/>
									</div>
									<div ng-if="feeds.data[0].ad.type == 'image'">
										<img src="{{feeds.data[0].ad.link}}" class="ccimage"/>
									</div>
									<div ng-if="feeds.data[0].ad.type == 'youtube'">
										<iframe src="https://www.youtube.com/embed/n9EgH-QxaUI" class="ccvideo"frameborder="0" allowfullscreen></iframe>
									</div>
								</div>

								<div class="cbuttons">
									<span><button type="button" class="btn btn-info csave">SAVE</button>
									<button type="button" class="btn btn-primary capply">APPLY</button>
									<button type="button" class="btn btn-warning crefer">REFER 
										<span>{{feeds.data[0].fee.currency}}</span>
										<span>({{feeds.data[0].fee.amount}})</span>
									</button></span>
								</div>

								<div style="clear:both;"></div>
								<div style="clear:both;"></div>
								<div class="cbreak"></div>
							</div>
						</div>
					</div>			
				</div>

				<div class="break"></div>

				<div class="feeds">
					<div class="post">
						<div class="feed-data" data-ng-repeat="(k,v) in feeds.data">

							<div style="width:100%;">

								<div class="cbox2">
									<div class="cad">
										<div class="cad-circle">
											<span>{{v.time_passed}}</span>
										</div>
									</div>

									<div class="employer-logo">
										<img src="{{v.image}}" />
									</div>
								</div>

								<div class="ccbuttons">
										<button type="button" class="btn btn-info ccsave">SAVE</button>
										<button type="button" class="btn btn-primary ccapply">APPLY</button>
										<button type="button" class="btn btn-warning ccrefer">REFER 
											<div>{{v.fee.currency}} ({{v.fee.amount}})</div>
										</button>
								</div>

								<div class="employer-details">

									<div class="ctitleup">
										<span class="header4 ctitle">{{v.title}}</span>
									</div>

									<div class="cdetailsup">
										<span class="header2 cdetails">{{v.experience}}</span>
										<p class="cdetails">{{v.skills}}</p>
									</div>
		
									<div style="clear:both;"></div>

									<div class="cimageblock">
											<div ng-if="v.ad.type == 'gif'">
												<img src="{{v.ad.link}}" class="cimage"/>
											</div>
											<div ng-if="v.ad.type == 'image'">
												<img src="{{v.ad.link}}" class="cimage"/>
											</div>
											<div ng-if="v.ad.type == 'youtube'">

												<iframe src="https://www.youtube.com/embed/n9EgH-QxaUI" class="cvideo" frameborder="0" allowfullscreen></iframe>
											</div>
									</div>
								</div>

								<div class="ccimageblock">
									<div ng-if="v.ad.type == 'gif'">
										<img src="{{v.ad.link}}" class="ccimage"/>
									</div>
									<div ng-if="v.ad.type == 'image'">
										<img src="{{v.ad.link}}" class="ccimage"/>
									</div>
									<div ng-if="v.ad.type == 'youtube'">

										<iframe src="https://www.youtube.com/embed/n9EgH-QxaUI" class="ccvideo" frameborder="0" allowfullscreen></iframe>
									</div>
								</div>

								<div class="cbuttons">
									<span><button type="button" class="btn btn-info csave">SAVE</button>
									<button type="button" class="btn btn-primary capply">APPLY</button>
									<button type="button" class="btn btn-warning crefer">REFER 
											<span>{{v.fee.currency}}</span>
											<span>({{v.fee.amount}})</span>
									</button></span>
								</div>
								<div style="clear:both;"></div>
								<div style="clear:both;"></div>
								<div class="cbreak"></div>
							</div>
						</div>
					</div>			
				</div>
			</div>

				<!-- Cut Part -->

			<div class="right">
				<div class="statistics">
					<div>
						<img src="../ASSETS/img/attache.png" style="width:16px;">
						<span class="font12 link">35 Jobs Matches your profile</span>
					</div>
					<div>
						<img src="../ASSETS/img/heart.png" style="width:16px;">
						<span class="font12">Followed by 105 employers</span>
					</div>
					<div>
						<img src="../ASSETS/img/feedback.png" style="width:16px;">
						<span class="font12 link">You have 5 Recuitment Feedback</span>
					</div>
				</div>

				<div class="break"></div>

				<div class="ccimageblock">
					<img src="../ASSETS/Uploads/ads/post1.jpg" class="ccborder">
				</div>

				<div class="ccimageblock">
					<img src="../ASSETS/Uploads/ads/post2.jpg" class="ccborder">
				</div>

				<div class="break"></div>

				<div class="updates">
					<span class="header3">Latest Updates</span>

					<div>
						<div>
							<span class="sub">June 10, 2016 12:00 PM</span>
						</div>
						<div style="margin-top:-10px;">
							<span class="font12">Updated profile picture</span>
						</div>
					</div>
					<div>
						<div>
							<span class="sub">May 31, 2016 06:00 PM</span>
						</div>
						<div style="margin-top:-10px;">
							<span class="font12">Added new employer</span>
						</div>
					</div>
					<div>
						<div>
							<span class="sub">January 01, 2016 08:00 PM</span>
						</div>
						<div style="margin-top:-10px;">
							<span class="font12">Receives Recruitment Feedback</span>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>



		<!-- <div class="div-profile">
			<table class="row-border hover report table table-bordered" cellspacing="0" style="width:50%;">
				<tr>
					<td class="leftside">Applicant ID</td>
					<td>CHRS-{{profile.data.applicant_id}}</td>
				</tr>
				<tr>
					<td class="leftside">First Name</td>
					<td>{{profile.data.first_name}}</td>
				</tr>
				<tr>
					<td class="leftside">Middle Name</td>
					<td>{{profile.data.middle_name}}</td>
				</tr>
				<tr>
					<td class="leftside">Last Name</td>
					<td>{{profile.data.last_name}}</td>
				</tr>
			</table>
		</div> -->
	</div>
</div>

<script>

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>