<div>
	<div>
	    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" style="background-color:#003333;">
	        <div class="container topnav" style="color:#FFF !important;">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header" style="color:#999999">
	                <a class="navbar-brand topnav" href="#/home">
	                	Joberfied
	                </a>
	                <input type="text" class="searchbar" placeholder="Search jobs here" maxlength="60" data-ng-model="searchbox.text" data-ng-change="searchbig()"  style="background-color:#003333; color:#FFFFFF;"  />
	                
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->

	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a href="#/" style="color: #FF3333">Jobs</a>
	                    </li>
	                    <li>
	                    	<a href="#/CHRS-{{profile.pin}}" style="color: #FF3333">Profile </a>
	                    </li>
	                    <li>
	                        <a style="color: #FF3333">Help</a>
	                    </li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>
	</div>

	<div style="clear:both;"></div>

	<div style="height:20px;"></div>

	<div class="main">
		<div style="clear:both;"></div>

		<div class="profile">

			<div class="c-menu">
				<ul>
					<li>
						<a  href="#/home">
							<img src="../ASSETS/img/profile.png">
						</a>
					</li>
					<li class="active">
						<a href="#/..">
							<img src="../ASSETS/img/attache.png">
						</a>
					</li>
					<li>
						<a>
							<img src="../ASSETS/img/message.png">
						</a>
					</li>
					<li>
						<a>
							<img src="../ASSETS/img/bookmark.png">
						</a>
					</li>
				</ul>
			</div>

			<div class="menu">
				<div>
					<img src="../ASSETS/img/profile.png" style="width:16px;">
					<span class="font12 link">Profile</span>
				</div>
				<div>
					<img src="../ASSETS/img/attache.png" style="width:16px;">
					<span class="font12 link">Applications</span>
				</div>
				<div>
					<img src="../ASSETS/img/message.png" style="width:16px;">
					<span class="font12 link">Messages</span>
				</div>
				<div>
					<img src="../ASSETS/img/bookmark.png" style="width:16px;">
					<span class="font12 link">Bookmarks</span>
				</div>
				<div>
					<img src="../ASSETS/img/star.png" style="width:16px;">
					<span class="font12 link">Talent Acquisition</span>
				</div>
				<div class="credit">
					<span class="label" style="padding:0.2em 0 0 0;">Available</span>
					<span class="label" style="padding:0.3em 0 0.5em 0;">Credit</span> <br />
					<span class="amount">{{profile.data.currency}} {{profile.data.available}}</span>
				</div>
			</div>

			<div class="left">

				<div class="CbreakThr" style="width:100%; border:1px solid #f02921"></div>
				<div class="CbreakSec" style="margin-bottom:1em"></div>

				<div class="feeds">
					<div class="post">

						<div class="feed-data">

							<div class="Cupperbox" style="background: url({{feeds.ad.background}}); height:150px; margin-bottom:10px">
								<div class="Clogo">
									<img src="{{feeds.ad.image}}"/>
									<span class="Cad">AD</span>
								</div>
							</div>

							<div class="CupperboxSec">
								<div class="Clogo">
									<img src="{{feeds.ad.image}}"/>
									<div class="CbackG" style="background: url({{feeds.ad.background}});">
										<span  class="Cad" >AD</span>
									</div>
								</div>
							</div>

							<div class="Cbreak"></div>

							<div class="Clowerbox">
								<div class="ClowerboxUp">
									<div class="Ctitlebox">
										<a class="link"><span class="Ctitle header4">{{feeds.ad.title}}</span></a>
									</div>							

									<div class="Cdetailsbox">
										<h5 class="Cqualifications">QUALIFICATIONS</h5>
										<p class="Cdetails" style="color: #001616; line-height:1.25em">{{feeds.ad.experience}}</p>
										<p class="Cdetails" style="color:#001616; line-height:1.25em">{{feeds.ad.skills}}</p>
									</div>

									<div style="clear:both;"></div>

									<div class="Cbreak"></div>

									<div class="ClowerboxMiddle">
										<div class="Cadbox">
											<div ng-if="feeds.ad.ad.type == 'gif'" class="Cimage" >
												<img src="{{feeds.ad.ad.link}}"/>
											</div>
											<div ng-if="feeds.ad.ad.type == 'image'" class="Cimage">
												<img src="{{feeds.ad.ad.link}}"/>
											</div>
											<div ng-if="feeds.ad.ad.type == 'youtube'">

												<iframe src="https://www.youtube.com/embed/n9EgH-QxaUI" frameborder="0" allowfullscreen class="Cvideo"></iframe>
											</div>
										</div>
									</div>

								</div>
								<div class="Cbreak"></div>

								<div class="ClowerboxBottom">
									<div class="Cbuttonsbox">
										<button type="button" class="btn btn-info Csave">SAVE</button>
										<button type="button" class="btn btn-primary Capply">APPLY</button>
										<button type="button" class="btn btn-warning Crefer">REFER 
											<div>{{feeds.ad.fee.currency}} ({{feeds.ad.fee.amount}})</div>
										</button>
									</div>
								</div>
							</div>

							<div class="ClowerboxSec">

								<div class="ClowerboxBottom">
									<div class="Cbuttonsbox">
										<button type="button" class="btn btn-info Csave">SAVE</button>
										<button type="button" class="btn btn-warning Crefer">REFER 
											<div>{{feeds.ad.fee.currency}} ({{feeds.ad.fee.amount}})</div>
										</button>
										<button type="button" class="btn btn-primary Capply">APPLY</button>
									</div>
								</div>

								<div class="ClowerboxUp">
									<div class="Ctitlebox">
										<a class="link"><span class="Ctitle header4">{{feeds.ad.title}}</span></a>
									</div>							

									<div class="Cdetailsbox">
										<h5 class="Cqualifications">QUALIFICATIONS</h5>
										<p class="Cdetails" style="color: #001616; line-height:1.25em">{{feeds.ad.experience}}</p>
										<p class="Cdetails" style="color:#001616; line-height:1.25em">{{feeds.ad.skills}}</p>
									</div>

									<div style="clear:both;"></div>

									<div class="Cbreak"></div>

									<div class="ClowerboxMiddle">
										<div class="Cadbox">
											<div ng-if="feeds.ad.ad.type == 'gif'" class="Cimage" >
												<img src="{{feeds.ad.ad.link}}"/>
											</div>
											<div ng-if="feeds.ad.ad.type == 'image'" class="Cimage">
												<img src="{{feeds.ad.ad.link}}"/>
											</div>
											<div ng-if="feeds.ad.ad.type == 'youtube'">

												<iframe src="https://www.youtube.com/embed/n9EgH-QxaUI" frameborder="0" allowfullscreen class="Cvideo"></iframe>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div style="clear:both;"></div>
						</div>

						<div style="clear:both;"></div>
						<!-- <div class="CbreakSec"></div> -->
					</div>			
				</div>

				<div class="CbreakSec" style="margin-top:1em"></div>
				<div class="CbreakThr" style="margin-bottom: 2em; width:100%; border:1px solid #f02921"></div>

				<div class="feeds">
					<div class="post">
						<div class="feed-data" data-ng-repeat="(k,v) in feeds.data" >
							<div class="Cupperbox" style="background: url({{v.background}}); height:150px; margin-bottom:10px">
								<div class="Clogo">
									<img src="{{v.image}}"/>
									<span class="Cad">{{v.time_passed}}</span>
								</div>
							</div>

							
							<div class="CupperboxSec">
								<div class="Clogo">
									<img src="{{v.image}}"/>
									<div class="CbackG" style="background: url({{v.background}});">
										<span  class="Cad" >{{v.time_passed}}</span>
									</div>
								</div>
							</div>

							<div class="Cbreak"></div>

							<div class="Clowerbox">
								<div class="ClowerboxUp">
									<div class="Ctitlebox">
										<a class="link"><span class="Ctitle header4">{{v.title}}</span></a>
									</div>							

									<div class="Cdetailsbox">
										<h5 class="Cqualifications">QUALIFICATIONS</h5>
										<p class="Cdetails" style="color: #001616; line-height:1.25em">{{v.experience}}</p>
										<p class="Cdetails" style="color:#001616; line-height:1.25em">{{v.skills}}</p>
									</div>

									<div style="clear:both;"></div>

									<div class="ClowerboxMiddle">
										<div class="Cadbox">
											<div ng-if="v.ad.type == 'gif'" class="Cimage" >
	   											<img src="{{v.ad.link}}"/>
	   										</div>
	   										<div ng-if="v.ad.type == 'image'" class="Cimage" >
	   											<img src="{{v.ad.link}}"/>
	   										</div>
	   										<div ng-if="v.ad.type == 'youtube'">

												<iframe src="https://www.youtube.com/embed/n9EgH-QxaUI" frameborder="0" allowfullscreen class="Cvideo"></iframe>
											</div>
										</div>
									</div>
								</div>

								<div class="Cbreak"></div>

								<div class="ClowerboxBottom">
									<div class="Cbuttonsbox">
										<button type="button" class="btn btn-info Csave">SAVE</button>
										<button type="button" class="btn btn-primary Capply">APPLY</button>
										<button type="button" class="btn btn-warning Crefer">REFER 
											<div>{{v.fee.currency}} ({{v.fee.amount}})</div>
										</button>
									</div>
								</div>
							</div>

							<div class="ClowerboxSec">

								<div class="ClowerboxBottom">
									<div class="Cbuttonsbox">
										<button type="button" class="btn btn-info Csave">SAVE</button>
										<button type="button" class="btn btn-warning Crefer">REFER 
											<div>{{v.fee.currency}} ({{v.fee.amount}})</div>
										</button>
										<button type="button" class="btn btn-primary Capply">APPLY</button>
									</div>
								</div>

								<div class="ClowerboxUp">
									<div class="Ctitlebox">
										<a class="link"><span class="Ctitle header4">{{v.title}}</span></a>
									</div>							

									<div class="Cdetailsbox">
										<h5 class="Cqualifications">QUALIFICATIONS</h5>
										<p class="Cdetails" style="color: #001616; line-height:1.25em">{{v.experience}}</p>
										<p class="Cdetails" style="color:#001616; line-height:1.25em">{{v.skills}}</p>
									</div>

									<div style="clear:both;"></div>

									<div class="Cbreak"></div>
									
									<div class="ClowerboxMiddle">
										<div class="Cadbox">
											<div ng-if="v.ad.type == 'gif'" class="Cimage" >
	   											<img src="{{v.ad.link}}"/>
	   										</div>
	   										<div ng-if="v.ad.type == 'image'" class="Cimage" >
	   											<img src="{{v.ad.link}}"/>
	   										</div>
	   										<div ng-if="v.ad.type == 'youtube'">

												<iframe src="https://www.youtube.com/embed/n9EgH-QxaUI" frameborder="0" allowfullscreen class="Cvideo"></iframe>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div style="clear:both;"></div>
							<div class="CbreakThr" style="margin-bottom: 2em;"></div>
						</div>

					</div>			
				</div>
				<div class="CbreakSec" style="margin-top: -20px;"></div>
			</div>

			<div class="right">
				<div class="statistics">
					<div>
						<img src="../ASSETS/img/attache.png" style="width:16px;">
						<span class="font12 link">35 Jobs Matches your profile</span>
					</div>
					<div>
						<img src="../ASSETS/img/heart.png" style="width:16px;">
						<span class="font12">Followed by 105 employers</span>
					</div>
					<div>
						<img src="../ASSETS/img/feedback.png" style="width:16px;">
						<span class="font12 link">You have 5 Recuitment Feedback</span>
					</div>
				</div>

				<div class="break"></div>
				<div class="CClowerboxMiddle">
					<div class="CCadbox">
						<img src="../ASSETS/Uploads/ads/post1.jpg" class="CCimage">
					</div>

					<div class="CCadbox">
						<img src="../ASSETS/Uploads/ads/post2.jpg" class="CCimage">
					</div>
				</div>
				<div class="break"></div>

				<div class="updates">
					<span class="header3">Latest Updates</span>

					<div>
						<div>
							<span class="sub">June 10, 2016 12:00 PM</span>
						</div>
						<div style="margin-top:-10px;">
							<span class="font12">Updated profile picture</span>
						</div>
					</div>
					<div>
						<div>
							<span class="sub">May 31, 2016 06:00 PM</span>
						</div>
						<div style="margin-top:-10px;">
							<span class="font12">Added new employer</span>
						</div>
					</div>
					<div>
						<div>
							<span class="sub">January 01, 2016 08:00 PM</span>
						</div>
						<div style="margin-top:-10px;">
							<span class="font12">Receives Recruitment Feedback</span>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>



		<!-- <div class="div-profile">
			<table class="row-border hover report table table-bordered" cellspacing="0" style="width:50%;">
				<tr>
					<td class="leftside">Applicant ID</td>
					<td>CHRS-{{profile.data.applicant_id}}</td>
				</tr>
				<tr>
					<td class="leftside">First Name</td>
					<td>{{profile.data.first_name}}</td>
				</tr>
				<tr>
					<td class="leftside">Middle Name</td>
					<td>{{profile.data.middle_name}}</td>
				</tr>
				<tr>
					<td class="leftside">Last Name</td>
					<td>{{profile.data.last_name}}</td>
				</tr>
			</table>
		</div> -->
	</div>
</div>

<script>

    // Scrolls to the selected menu item on the page
    $(function() {

        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>