<style type="text/css">





/*CSS*/
.briefcase {
	width: 800px;
	height: 571px;
	background: url("./ASSETS/img/briefcase_jobseeker.png");

	margin: 0 auto;
}

.briefcase .division {
	float: left;
	
}

.briefcase .img {
	width: 45%;
	height: 55%;

	padding-top: 40%;
	padding-left: 5%;
}

.briefcase .input {
	width: 300px;
	height: 40px;

	font-size: 30px;	
	border-radius: 5px;
	border: 0;
	text-align: center;
}

.briefcase .loginform {
	width: 45%;
	height: 60%;

	padding-top: 32%;
}

.briefcase .loginform input {
	margin-top: 5%;
}

.briefcase .input:active {
	border: 1px solid #71e1af;
}

.loginform .login {
	width: 175px;
	height: 40px;

	margin-top: 5%;
	margin-left: 30%;

	font-size: 30px;	
	border-radius: 5px;
	border: 0;
	text-align: center;
	cursor: pointer;
}

.loginform .message {
	width: 570px;
	height: 40px;

	font-size: 20px;	
	border-radius: 5px;
	border: 0;
	text-align: center;

	color: #71e1af;		
	text-align: left;
}

</style>
<div>
	<div class="briefcase">
		<div class="division img">
			<img class="jonathan" src="./ASSETS/img/jonathan_jr.gif"/>
		</div>
		<div class="division loginform">
			<input type="text" class="input" maxlength="20" placeholder="APP PIN" />
			<input type="password" class="input" maxlength="20" placeholder="PASSWORD" />

			<button class="login">LOGIN</button>

			<div class="message">
				<p>Get your resume noticed within minutes.</p>
			</div>
		</div>
	</div>

</div>		