<html data-ng-app="onload">
<head>
	
	<link href='../CSS/profile_login.css' rel='stylesheet' type='text/css'>
	
</head>

<body>

		<div>
			<p class="welcome-emp">WELCOME !</p>
			<input type="text" data-ng-model="user.pin" class="username" maxlength="30" placeholder="APP PIN" enter-key="onKeypress();"/>
			<input type="password" data-ng-model="user.password" class="password" maxlength="30" placeholder="PASSWORD" enter-key="onKeypress();" />
			<input type="button" class="login" value="LOGIN" enter-key="onKeypress();" data-ng-click="login()">

			<img class="c-briefcase" src="../ASSETS/img/briefcase_jobseeker.png"/>
			<img class="jonathan" src="../ASSETS/img/jonathan_jr.gif"/>

			<div class="message-spacing">
				<span class="message">Get your resume noticed within minutes.</span>	
			</div>
		</div>			

    
</body>

</html>
