<style type="text/css">

	.c-briefcase{
	width:100%;
	margin:56.5% 0% 0% 0%;
	padding:0%;
	}

	.jonathan {
	width:53%;
	margin:-193% 20% 0% -2%;
	padding:0%;
	}

	.welcome-emp{
		width: 60%;
		height: 5%;
		position:absolute;
		margin:31.25% 0% 0% 34.25%;

		font-size: 200%;
		font-style:bold;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #ffffff;		
		text-align: center;
		display:block;
	}

	.username {
		width:70%;
		height: 4%;
		position:absolute;
		margin:88% 0% 0% 18%;

		font-size: 100%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.password {
		width:70%;
		height: 4%;
		position:absolute;
		margin:96% 0% 0% 18%;

		font-size: 100%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.login {
		width: 35%;
		height: 4%;
		position:absolute;
		margin:104% 0% 0% 35%;

		font-size: 100%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}
	.message-spacing{
		margin:-93% 0% 0% 24.25%;
	}

	.message{
		width: 80%;
		height: 5%;
		position:absolute;
		margin:0% 0% 0% 0%;

		font-size: 90%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #ffffff;		
		text-align: center;
	}
	.message-2{
		width: 60%;
		height: 5%;
		position:absolute;
		margin:4% 0% 0% 14%;

		font-size: 90%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #ffffff;		
		text-align: center;
	}
@media (min-width:768px) {
	.c-briefcase{
	width:65%;
	margin:11% 20% 0% 29%;
	padding:0%;
	}

	.jonathan {
	width:32%;
	margin:-30% 20% 0% 4.5%;
	padding:0%;
	}


	.welcome-emp{
		display:none;
	}

	.username {
		width: 50%;
		height: 4.75%;
		position:absolute;
		margin:35.5% 0% 0% 38%;

		font-size: 160%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.password {
		width: 50%;
		height: 4.75%;
		position:absolute;
		margin:40.5% 0% 0% 38%;

		font-size:160%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.login {
		width: 25%;
		height: 4.75%;
		position:absolute;
		margin:45.5% 0% 0% 52%;

		font-size: 160%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}
	.message-spacing{
		margin:-35.5% 0% 0% 31.5%;
	}

	.message{
		width: 65%;
		height: 5.5%;
		position:absolute;
		margin:0% 0% 0% 0%;

		font-size: 150%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #71e1af;		
		text-align: center;
	}
	.message-2{
		width: 40%;
		height: 7%;
		position:absolute;
		margin:3% 0% 0% 1.5%;

		font-size: 180%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #71e1af;		
		text-align: center;
	}
}
@media (min-width: 992px) {
	.c-briefcase{
	width:65%;
	margin:6.5% 20% 0% 30%;
	padding:0%;
	}

	.jonathan {
	width:32%;
	margin:-30% 20% 0% 4.5%;
	padding:0%;
	}


	.welcome-emp{
		display:none;
	}

	.username {
		width: 45%;
		height: 6%;
		position:absolute;
		margin:30.5% 0% 0% 43%;

		font-size: 180%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.password {
		width: 45%;
		height: 6%;
		position:absolute;
		margin:35.5% 0% 0% 43%;

		font-size:180%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.login {
		width: 25%;
		height: 6%;
		position:absolute;
		margin:40.5% 0% 0% 53%;

		font-size: 180%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}
	.message-spacing{
		margin:-34.5% 0% 0% 40.5%;
	}

	.message{
		width: 50%;
		height: 6%;
		position:absolute;
		margin:0% 0% 0% 0%;

		font-size: 170%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #71e1af;		
		text-align: center;
	}
	.message-2{
		width: 40%;
		height: 7%;
		position:absolute;
		margin:3% 0% 0% 1.5%;

		font-size: 180%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #71e1af;		
		text-align: center;
	}
}
@media (min-width: 1200px) {
	.c-briefcase{
	width:60%;
	margin:2.5% 20% 0% 27.75%;
	padding:0%;
	}

	.jonathan {
	width:27%;
	margin:-26% 20% 0% 7%;
	padding:0%;
	}


	.welcome-emp{
		display:none;
	}

	.username {
		width: 35%;
		height: 7%;
		position:absolute;
		margin:25.5% 0% 0% 45%;

		font-size: 200%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.password {
		width: 35%;
		height: 7%;
		position:absolute;
		margin:30.5% 0% 0% 45%;

		font-size: 200%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}

	.login {
		width: 15%;
		height: 7%;
		position:absolute;
		margin:35.5% 0% 0% 55%;

		font-size: 200%;	
		border-radius: 5px;
		border: 0;
		text-align: center;
	}
	.message-spacing{
		margin:-30.5% 0% 0% 43%;
	}

	.message{
		width: 40%;
		height: 7%;
		position:absolute;
		margin:0% 0% 0% 0%;

		font-size: 180%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #71e1af;		
		text-align: center;
	}
	.message-2{
		width: 40%;
		height: 7%;
		position:absolute;
		margin:3% 0% 0% 1.5%;

		font-size: 180%;	
		border-radius: 5px;
		border: 0;
		text-align: center;

		color: #71e1af;		
		text-align: center;
	}
}

</style>
<div>
	<p class="welcome-emp">WELCOME !</p>
	<input type="text" data-ng-model="user.pin" class="username" maxlength="20" placeholder="APP PIN" enter-key="onKeypress();"/>
	<input type="password" data-ng-model="user.password" class="password" maxlength="20" placeholder="PASSWORD" enter-key="onKeypress();" />
	<input type="button" class="login" value="LOGIN" enter-key="onKeypress();" data-ng-click="login()">

	<img class="c-briefcase" src="../ASSETS/img/briefcase_jobseeker.png"/>
	<img class="jonathan" src="../ASSETS/img/jonathan_jr.gif"/>

	<div class="message-spacing">
		<span class="message">Get your resume noticed within minutes.</span>
		
	</div>
</div>		
