<div>
	<div>
	    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
	        <div class="container topnav" style="color:#FFF !important;">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button> -->
	                <a class="navbar-brand topnav" href="#/home">
	                	Joberfied
	                </a>
	                <!-- <input type="text" class="searchbar" placeholder="Search jobs here" maxlength="60" data-ng-model="searchbox.text" data-ng-change="searchbig()" /> -->
	                
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->

	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	               <!--  <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a href="#/">Jobs</a>
	                    </li>
	                    <li>
	                    	<a href="#/CHRS-{{profile.pin}}">Profile </a>
	                    </li>
	                    <li>
	                        <a>Help</a>
	                    </li>
	                </ul> -->
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>
	</div>

	<!-- <div style="width:100%; height: 50px; text-align:center; padding-top: 30px;">
		<input type="text" class="searchbar" placeholder="Search..." maxlength="60" data-ng-model="searchbox.text" data-ng-change="searchbig()" />
	</div> -->
	<div style="clear:both;"></div>

	<!-- <div class="news">
		<div class="details"></div>
	</div> -->

	<div style="height:20px;"></div>

	<div class="main">
		<div style="clear:both;"></div>
		<div class="profile">
			<div class="fullpage" style="text-align:center;">
				<div style="width: 70%; margin: 0 auto;">
					<div style="float:left; margin-right:5px;">
						<img src="../ASSETS/Uploads/employers/accenture.png" style="height: 100px;"/>
					</div>
					<div style="float:left; margin-right:5px;">
						<img src="../ASSETS/Uploads/employers/CSSCORP.png" style="height: 100px;"/>
					</div>
					<div style="float:left; margin-right:5px;">
						<img src="../ASSETS/Uploads/employers/ibex.jpg" style="height: 100px;"/>
					</div>
					<div style="float:left; margin-right:5px;">
						<img src="../ASSETS/Uploads/employers/logo_8773_banner_0_9226.jpeg" style="height: 100px;"/>
					</div>
					<div style="float:left; margin-right:5px;">
						<img src="../ASSETS/Uploads/employers/teleperformance-philippines.png" style="height: 100px;"/>
					</div>
					<div style="float:left; margin-right:5px;">
						<img src="../ASSETS/Uploads/employers/uhg.jpg" style="height: 100px;"/>
					</div>
					<div style="float:left; margin-right:5px;">
						<img src="../ASSETS/Uploads/employers/inner-works-logo-thumb.jpg" style="height: 100px;"/>
					</div>
					<div style="clear:both;"></div>
				</div>
				<h4 style="margin-top: 100px; margin-bottom: 100px;">Your email address has been confirmed. You can now close this window.</h4>
			</div>
			
			<div style="clear:both;"></div>
		</div>

	</div>
</div>
