<style>
table,td{
	padding-bottom: 2%;
/*
	border:3px solid black;*/
}
.labels{
	text-align: right;
	width:30%;
	padding-right: 2%;
}
.input{
		padding: 5%;
		background-color: #E5E5E5;
		width:100%;
		padding-left: 2%;
}
.dropdown{
		border:none;
		background-color: white;
		padding:1%;
		border-right:none; 
		border-left:none;
		border-top:none;
		border-bottom: 2px solid #f46963;
}

.btnsubmit{
		background-color: #f46963;
		color: white;
		border:none;
		padding: 7px;
		width:20%;

}
.btnadd{
		background-color: #f46963;
		color: white;
		border:none;
		height:25px;
		width:25px;
		padding:0 ;
		border-radius:15px 15px 15px 15px;
		float:right;
}
.btnskip{
		background-color: #77b562;
		color: white;
		border:none;
		width:10%;
		padding: 3px;
		float:right;

}
.btnreset{
		background-color: #CAC8C4;
		color: white;
		border:none;
		padding: 7px;
		width:20%;
}
/*.dropdown:hover{

		border: 1px solid #f46963;
}*/
.dropdown:active{
		color:black;
}

.btnsubmit:hover{
		background-color: #F02921;
		cursor: pointer;
}
.btnskip:hover{
		background-color: #56a33b;
		cursor: pointer;
}
.btnreset:hover{
		background-color: #544C47;
		cursor: pointer;
}
.btnsubmit:disabled{
		cursor: not-allowed;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  		padding-left: 6px;
  		color:;
}
.autoform *:focus{	
	outline: none;

}

</style>


<div>
	<div>
	    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" style="background-color:#003333;">
	        <div class="container topnav" style="color:#FFF !important;">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header" style="color:#999999; float:left;">
	                <a class="navbar-brand topnav" href="#/home">
	                	Joberfied
	                </a>
	                <!-- <input type="text" class="searchbar" placeholder="Search jobs here" maxlength="60" data-ng-model="searchbox.text" data-ng-change="searchbig()"  style="background-color:#003333; color:#FFFFFF;"  /> -->
	                
	            </div>
	            <div style="float:left;"><div>
                		<!-- <autocomplete ng-model="result" attr-placeholder="Search candidates here" click-activation="true" data="candidates.data" on-type="bigsearch_changed" on-select="run_search" class="searchbar"></autocomplete> -->
                		<input type="text" class="searchbar" placeholder="Search jobs here" maxlength="60" data-ng-model="searchbox.text" data-ng-change="searchbig()"  style="background-color:#003333; color:#FFFFFF;"  />
                	</div>
                </div>
	            
	            <!-- Collect the nav links, forms, and other content for toggling -->

	            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a href="#/" style="color: #FF3333">Jobs</a>
	                    </li>
	                    <li>
	                    	<a href="#/{{profile.pin}}" style="color: #FF3333">Profile </a>
	                    </li>
	                    <li>
	                        <a style="color: #FF3333">Help</a>
	                    </li>
	                </ul>
	            </div> -->

	            <div style="float:right;">
            		<input id="profile_toggle" type="checkbox" checked data-toggle="toggle">
            	</div>

	            <div style="clear:both;"></div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>
	</div>

	<div style="clear:both;"></div>

	<div style="height:20px;"></div>

	<div class="main">
		<div style="clear:both;"></div>
		<div class="profile">

			<div class="c-menu">
				<ul>
					<li>
						<a  href="#/home">
							<img src="../ASSETS/img/profile.png">
						</a>
					</li>
					<li class="active">
						<a href="#/..">
							<img src="../ASSETS/img/attache.png">
						</a>
					</li>
					<li>
						<a>
							<img src="../ASSETS/img/message.png">
						</a>
					</li>
					<li>
						<a>
							<img src="../ASSETS/img/bookmark.png">
						</a>
					</li>
				</ul>
			</div>

			<div class="menu">
				<div>
					<img src="../ASSETS/img/profile.png" style="width:16px;">
					<a href="#/{{profile.pin}}"><span class="font12 link">Profile</span></a>
				</div>
				<div>
					<img src="../ASSETS/img/attache.png" style="width:16px;">
					<span class="font12 link">Applications</span>
				</div>
				<div>
					<img src="../ASSETS/img/message.png" style="width:16px;">
					<span class="font12 link">Messages</span>
				</div>
				<div>
					<img src="../ASSETS/img/bookmark.png" style="width:16px;">
					<span class="font12 link">Bookmarks</span>
				</div>
				<div>
					<img src="../ASSETS/img/star.png" style="width:16px;">
					<span class="font12 link">Talent Acquisition</span>
				</div>
				<div class="credit">
					<span class="label" style="padding:0.2em 0 0 0;">Available</span>
					<span class="label" style="padding:0.3em 0 0.5em 0;">Credit</span> <br />
					<span class="amount">{{profile.data.currency}} {{profile.data.available}}</span>
				</div>
			</div>
			<div class="left">

				<div class="fillup">
					<div ng-if="profile.suspended == 'f' && profile.profile.confirmed == 'false'">
						<p style="text-align:justify; font-size:0.9em; color:black;">Your account will be suspended if you don't confirm your email address. Would you like us to <a href="#">resend</a> a new confirmation email?</p>
					</div>
					
					<div ng-if="profile.suspended == 't'">
						<p style="text-align:justify; font-size:0.9em; color:black;">Your account has been suspended. Please confirm your email address to reactivated your account. Would you like us to <a href="#">resend</a> a new confirmation email?</p>
					</div>
					
					<div class="autoform"  ng-if="profile.suspended == 'f' && profile.profile.confirmed == 'true'">
						<div class="personalinfo" ng-class="view.personal_info" >
							<p style="text-align:justify; font-size:0.9em">
								<span style="cursor:pointer">
								</span>
								<span>You have not yet filled up your
									<a style="text-decoration:none" >Personal Information</a>
								</span>
							</p>
							<hr>
					
							<h4 style="background-color:#F79490;margin-bottom:-10px;font-weight:bold; padding:4% 4% 4% 2%;">Personal Information</h5></h4>
						    <form name="personal_form">
						    	<div class="input">
						    	<table   width=100%>
						    		<tr>
						    			<td colspan=2></td>
						    		</tr>
						    		<tr>
						    			<td class="labels"><label style="">Name:</label></td>
						    			<td style=" "><input style=" width: 26%; margin-right:2%;border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="text" name="name_first" ng-model="profile_form.personal.name.first" placeholder="First Name" tabindex= required/>
						    			<input style=" width: 6%; margin-right:2%;  border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963
										;" type="text" name="name_middle" ng-model="profile_form.personal.name.MI" placeholder="MI"  tabindex= required/>
										<input style=" width: 26%; margin-right:2%;  border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963
										;" type="text" name="name_last" ng-model="profile_form.personal.name.last" placeholder="Last Name" tabindex= required/>
										</td>
						    		</tr>
						    		<tr>
						    			<td class="labels"></td>
						    			<td style=" ">
						    				<span style="color:#a81c17; font-size: 13px;" ng-show="personal_form.name_first.$invalid && !personal_form.name_first.$pristine">*First Name is required.</span>
						    				<span style="color:#a81c17; font-size: 13px;" ng-show="personal_form.name_last.$invalid && !personal_form.name_last.$pristine">*Last Name is required.</span>
										</td>
						    		</tr>
						    		<tr>
						    			<td class="labels">Address Line 1:</td>
						    			<td style=" ">
						    				<input style="width: 65%; margin-right:2%; border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="text" name="address_line1" placeholder="Street address,P.O.box, company name" size="50" ng-model="profile_form.personal.address.line1" tabindex= required/>
										</td>
						    		</tr>
						    		<tr>
						    			<td class="labels"></td>
						    			<td style=" ">
											<span style="color:#a81c17; font-size: 13px;" ng-show="personal_form.address_line1.$invalid && personal_form.address_line1.$dirty ">*Address is required.</span>
										</td>
						    		</tr>
						    		<tr>
						    			<td class="labels">Address Line 2:</td>
						    			<td style=" ">
											<input style="width: 65%; margin-right:2%; border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="text" name="address_line2" placeholder="Apartment,suite,unit,building,floor,etc" size="50" ng-model="profile_form.personal.address.line2" tabindex=/>
		
						    			</td>
						    		</tr>
						    		<tr>
						    			<td class="labels">
						    					<label style="">City:</label>
						    			</td>
						    			<td style=" ">
						   					<input style="width: 36%; margin-right:2%; border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="text" name="address_city" placeholder="City" size="50" ng-model="profile_form.personal.address.City"  tabindex= required/>
								
						    			</td>
						    		</tr>
						    		<tr>
						    			<td class="labels">
						    				<label style="">Zip Code:</label>
						    			</td>
						    			<td style=" ">
						    				<input style="width: 20%; margin-right:2%; border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="text" name="address_zip" placeholder="XXXX" size="50" ng-model="profile_form.personal.address.zip" maxlength=4 is-number tabindex= required/>
								
						    			</td>
						    		</tr>
						    		<tr>
						    			<td class="labels"></td>
						    			<td style=" ">
						    				<span style="color:#a81c17; font-size: 13px;" ng-show="personal_form.address_zip.$invalid && personal_form.address_zip.$dirty">*Zip code is invalid.</span>
						    			</td>
						    		</tr>
						    		<tr>
						    			<td class="labels">
											<label >Country:</label>
										</td>
						    			<td style=" ">
						    				<select class="dropdown" ng-model="profile_form.personal.address.country" name="country" default="Country" style="margin-right:2%; " 
						    				tabindex= required>		
                           					 <option value="" disabled selected style="display:none">Country</option>
											<option ng-repeat="v in countries" value="{{v}}">{{v}}</option>
											</select>
						    			</td>
						    		</tr>
						    		<tr>
						    			<td class="labels">
						    				<label>Gender:</label>
						    			</td>
						    			<td style=" ">
						    				<select class="dropdown" ng-model="profile_form.personal.gender" name="Gender" default="Gender" style="margin-right:2%; " tabindex=>		
			                           		 <option value="" disabled selected style="display:none">Gender</option>
											<option ng-repeat="v in gender" value="{{v}}">{{v}}</option>
											</select>

						    			</td>
						    		</tr>
						    		<tr>
						    			<td class="labels">
						    				<label style="">Birthday:</label>
								
						    			</td>
						    			<td style=" ">
					    					<select class="dropdown" ng-model="profile_form.personal.birthday.month" name="month" default="Month" style="margin" tabindex= required> 
			                           		 <option value="" disabled selected style="display:none">Month</option>
											<option ng-repeat="v in months" value="{{v}}">{{v}}</option>
											</select>

											<select class="dropdown" ng-model="profile_form.personal.birthday.day" name="day" default="Day" style="margin-right:2%; " tabindex= required>		
			                           		 <option value="" disabled selected style="display:none">Day</option>
											<option ng-repeat="v in days" value="{{v}}">{{v}}</option>
											</select>
											
											<input style=" width: 20%; margin-right:2%; border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="text" name="year" placeholder="Year" ng-model="profile_form.personal.birthday.year" is-number maxlength=4 tabindex=/> 

						    			</td>
						    		</tr>
						    		<tr>
						    			<td class="labels">
						    				Mobile Number:
						    			</td>
						    			<td style=" ">
						    				<input style=" width: 10%; margin-right:2%; border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="text" name="phonenumber_network" placeholder="0917" ng-model="profile_form.personal.number.network" is-number maxlength=4 tabindex= required/>
											<input style=" width: 20%; margin-right:2%; border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="text" name="phonenumber_digits" placeholder="XXXXXXX" ng-model="profile_form.personal.number.digits" is-number maxlength=7 tabindex= required/>
											
						    			</td>
						    		</tr>
						    		<tr>
						    			<td class="labels"></td>
						    			<td style=" ">
						    				<span style="color:#a81c17; font-size: 13px;" ng-show="personal_form.phonenumber_digits.$invalid && personal_form.phonenumber_digits.$dirty || personal_form.phonenumber_network.$invalid && personal_form.phonenumber_network.$dirty">*Phone Number is required.</span>
							
						    			</td>
						    		</tr>
						    		<tr>
						    			<td class="labels">
						    				<label style="">Home Number:</label>
						    			</td>
						    			<td style=" ">
						    				<input style=" width: 30%;margin-right:2%; border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="text" name="phonenumber_home" placeholder="639XXXX" ng-model="profile_form.personal.number.home" is-number maxlength=7 required tabindex=/>
								
						    			</td>
						    		</tr>
						    		<tr>
						    			<td class="labels"></td>
						    			<td style=" ">
						    				<span style="color:#a81c17; font-size: 13px; " ng-show="personal_form.phonenumber_home.$invalid && personal_form.phonenumber_home.$dirty ">*Home Number is required.</span>
										</td>
						    		</tr>
						    		<tr>
						    			<td class="labels">
						    				<label style="padding-left:14%">Email:</label>
						    			</td>
						    			<td style=" ">
						    				<input style="width: 50%; margin-right:2%; border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="email" name="email" placeholder="Email" style="width:20%" ng-model="profile_form.personal.email" tabindex= required/>
								
						    			</td>
						    		</tr>
						    		<tr>
						    			<td sclass="labels"></td>
						    			<td style=" ">
						    				<span style="color:#a81c17; font-size: 13px;" ng-show="personal_form.email.$dirty && personal_form.email.$invalid">
											<span style="color:#a81c17; font-size: 13px;" ng-show="personal_form.email.$error.required">*Email is required.</span>
											<span style="color:#a81c17; font-size: 13px; " ng-show="personal_form.email.$error.email">*Invalid Email</span></span>
											
						    			</td>
						    		</tr>
						    		<tr>
						    			<td style=" " colspan=2 style="">
						    				<hr>
						    				<div style="text-align:center;">
											<input class="btnsubmit" type="submit" value="Submit" ng-click="update('personal_info')" ng-disabled="personal_form.$invalid"/>
											<input class="btnreset"type="reset" value="Reset" />
											</div>
										</td>
						    		</tr>
						    	</table>
						    </div>
						    </form>
						 </div>
						</div>


						<div class="achievements" ng-class="view.achievements">
							<p style="text-align:justify; font-size:0.9em">
								<span style="cursor:pointer">You have not yet filled up your 
									<a style="text-decoration:none">Achievements</a><button style=""class="btnskip" style="margin-:-100%" type="submit" ng-click="skip('achievements')" title="Skip">Skip</button>
								</span>
							</p>
							<hr>
							<div style="background-color:#F79490;margin-bottom:-10px;font-weight:bold; padding:4% 4% 4% 2%;"><h4>Achievements (Optional)</h4>
									</p></div>
							<div class="input">
							<form name="achievements_form">
							<table width=100%>
								<tr>
						    			<td colspan=2></td>
						    		</tr>
								<tr>
									<td>
										<textarea style="background-color: #FCFCFC;border:none; width:98%;" name="achievements" rows="8" cols="44" ng-model="profile_form.achievements.data" placeholder="Awards, achievements, titles"></textarea>
									</td>
								</tr>
								<tr>
									<td>
										<hr>
						    			<div style="text-align:center;">
										<input style="" class="btnsubmit" type="submit" value="Submit" ng-click="update('achievements')" ng-disabled="achievements_form.$invalid"/> <input style="" class="btnreset" type="reset" value="Reset" />
										</div>
									</td>
								</tr>
							</table>
							</form>
							</div>
							</div>
							
						<div class="education" ng-class="view.education">
							<p style="text-align:justify; font-size:0.9em">
								<span style="cursor:pointer">You have not yet filled up your
									<a style="text-decoration:none">Educational Background</a>
								</span>
							</p>
							<hr>
							<h4 style="background-color:#F79490;margin-bottom:-10px;font-weight:bold; padding:4% 4% 4% 2%;">Education</h4>
							<div class="input">
							<form name="education_form">
								
								<table width=100%>
									<tr>
						    			<td colspan=2></td>
						    		</tr>
									<tr>
										<td class="labels"><label>Educational<br>Attainment:</label></td>
										<td>
											<select class="dropdown" ng-model="profile_form.education.educational_attainment" name="educational_attainment" default="" style="margin-right:2%" tabindex= required>

			                           		 <option value="" disabled selected style="display:none">Degree</option>
											<option ng-repeat="v in educational_attainment" value="{{v}}">{{v}}</option>
											</select>
										</td>
									</tr>
									<tr>
										<td class="labels"><label>School:</label></td>
										<td>
											<input style="width: 57%; margin-right:2%;  border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="text" name="school"placeholder="School" ng-model="profile_form.education.school" tabindex= required/>

										</td>
									</tr>
									<tr>
										<td class="labels"></td>
										<td>
											<span style="color:#a81c17; font-size: 13px;" ng-show="education_form.school.$invalid && !education_form.school.$pristine">*School is required</span>
										</td>
									</tr>
									<tr>
										<td class="labels"><label>Major:</label></td>
										<td>
											<input style=" width: 57%; margin-right:2%;  border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;"  type="text" name="major" placeholder="Major" ng-model="profile_form.education.major" tabindex=/>
										</td>
									</tr>
									<tr>
										<td class="labels"><label >Date From:</label></td>
										<td>
											<select class="dropdown" ng-model="profile_form.education.start_date.month" name="start_month" default="Month" style="padding:1%;margin-right:2%;" tabindex= required>
			                           		 <option value="" disabled selected style="display:none">Month</option>
											<option ng-repeat="v in months" value="{{v}}">{{v}}</option>
											</select>

											<input style=" width: 20%; margin-right:2%; border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="text" name="start_year" placeholder="Year" ng-model="profile_form.education.start_date.year" is-number maxlength=4 tabindex= required/>
									
										</td>
									</tr>
									<tr>
										<td class="labels"><label style="padding-left:9.5%">Status of<br>Degree:</label></td>
										<td>
											<div ng-init="profile_form.education.status='completed'">
											<input type="radio" ng-model="profile_form.education.status" value="ongoing" ng-change='status(profile_form.education.status)'tabindex= ><label style="margin-right:3%;" enter-Key>Ongoing</label></input>
											<input type="radio" ng-model="profile_form.education.status" value="completed" ng-change='status(profile_form.education.status)' tabindex= ng-checked=true enter-Key><label>Completed</label></input>
											</div>
										</td>
									</tr>
									<tr>
										<td class="labels">
											<div ng-class="completed">
												<label>Date To:</labeL>
											</div>
											<div ng-class="present">
												<label >Expected Date<br> of Graduation :</label>
											</div>
										</td>
										<td>
											<div ng-class="present" >
											 
											<select class="dropdown" ng-model="profile_form.education.expected_graduation.month" name="month" default="Month" style="padding:1%; margin-right:2%;" tabindex= >
			                           		 <option value="" disabled selected style="display:none" >Month</option>
											<option ng-repeat="v in months" value="{{v}}">{{v}}</option>
											</select>
											

											
											<select class="dropdown" ng-model="profile_form.education.expected_graduation.year" name="year" default="Year" style="padding:1%; margin-right:2%;" tabindex= placeholder="Year">
			                           		 <option value="" disabled selected style="display:none">Year</option>
											<option ng-repeat="v in graduation_years" value="{{v}}">{{v}}</option>
											</select>
											</div>

											<div ng-class="completed">
											<select class="dropdown" ng-model="profile_form.education.end_date.month" name="month" default="Month" style="padding:1%;margin-right:2%;" tabindex=>
			                           		 <option value="" disabled selected style="display:none">Month</option>
											<option ng-repeat="v in months" value="{{v}}">{{v}}</option>
											</select>

											<input style=" width: 20%; margin-right:2%; border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="text" name="year" placeholder="Year" ng-model="profile_form.education.end_date.year" is-number maxlength=4 tabindex=/>
											</div>
								
										</td>
									</tr>
									</table>

									<div add-input style="width:100%;">
									<table width="100%">
									<button class="btnadd" formnovalidate >+</button><br>
									</table>
									</div>
									
									
									
									<table width=100%>
									<tr>
										<td colspan=2>
											<hr>
											
											<div style="text-align:center;">
											<br><input class="btnsubmit" type="submit" value="Submit" ng-click="update('education')" ng-disabled="education_form.$invalid"/> <input class="btnreset"type="reset" value="Reset" />
											</div>
											</td>
									</tr>
									</table>
							</form>
								</div>
								</div>
					
						<div class="work" ng-class="view.work">
							<p style="text-align:justify; font-size:0.9em">
								<span style="cursor:pointer">You have not yet filled up your
									<a style="text-decoration:none">Work Experience</a><input style=""class="btnskip" type="submit" ng-click="skip('work')"value="Skip" formnovalidate/>
								</span>
							</p>
							<hr>
							<h4 style="background-color:#F79490;margin-bottom:-10px;font-weight:bold; padding:4% 4% 4% 2%;">Work Experience (Optional)</h4>
							<div>
							<form name="work_form">
								<div class="input">


									<table width=100%>
										<tr>
						    				<td colspan=2></td>
						    			</tr>
										<tr>
											<td class="labels"><label>Company:</label></td>
											<td>
												<input style="width: 56%; margin-right:2%;  border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;"  type="text" name="company" placeholder="Company" ng-model="profile_form.work.company" tabindex=  required/>
											</td>
										</tr>
										<tr>
											<td class="labels"></td>
											<td>
												<span style="color:#a81c17; font-size: 13px;" ng-show="work_form.company.$invalid && !work_form.company.$pristine">*Company is required</span>

											</td>
										</tr>
										<tr>
											<td class="labels"><label>Position:</label></td>
											<td>
												<input style="width: 56%; margin-right:2%;  border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="text" name="position" placeholder="Position" ng-model="profile_form.work.position" tabindex=  required/>
											</td>
										</tr>
										<tr>
											<td class="labels"></td>
											<td>	
												<span style="color:#a81c17; font-size: 13px;" ng-show="work_form.position.$invalid && !work_form.position.$pristine">*Position is required</span>
											</td>
										</tr>
										<tr>
											<td class="labels"><label>Date From:</label></td>
											<td>
												<select class="dropdown" ng-model="profile_form.work.start_date.month" name="month" default="Month" style="margin-right:2%;" tabindex= >
				                           		 <option value="" disabled selected style="display:none" >Month</option>
												<option ng-repeat="v in months" value="{{v}}">{{v}}</option>
												</select>

												<select class="dropdown" ng-model="profile_form.work.start_date.day" name="day" default="Day" style="margin-right:2%; " tabindex= required>		
				                           		 <option value="" disabled selected style="display:none">Day</option>
												<option ng-repeat="v in days" value="{{v}}">{{v}}</option>
												</select>

												<input style=" width: 16%; margin-right:2%; border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="text" name="year" placeholder="Year" ng-model="profile_form.work.start_date.year" is-number maxlength=4 tabindex=/>
											</td>
										</tr>
										<tr>
											<td class="labels"></td>
											<td>
												<input type="checkbox" ng-model="profile_form.work.isEmployed" value="Employed" ng-change='isEmployed(profile_form.work.isEmployed)' tabindex= enter-key><label> Present</label></input>				
											</td>
										</tr>
										<tr>
											<td class="labels"><div ng-class="work_end"><label>Date To:</label></td></div>
											<td>
											<div ng-class="work_end">
												<select class="dropdown" ng-model="profile_form.work.end_date.month" name="month" default="Month" style="margin-right:2%;" tabindex= >
				                           		 <option value="" disabled selected style="display:none">Month</option>
												<option ng-repeat="v in months" value="{{v}}">{{v}}</option>
												</select>

												<select class="dropdown" ng-model="profile_form.work.end_date.day" name="day" default="Day" style="margin-right:2%; " tabindex=>		
				                           		 <option value="" disabled selected style="display:none">Day</option>
												<option ng-repeat="v in days" value="{{v}}">{{v}}</option>
												</select>

												<input style=" width: 16%; margin-right:2%; border-right:none; border-left:none;border-top:none;border-bottom: 2px solid #f46963;" type="text" name="year" placeholder="Year" ng-model="profile_form.work.end_date.year" is-number maxlength=4 tabindex=/>
											</div>
											</td>
										</tr>
										<tr>
											<td class="labels"><label>Experience<br>Description:</label></td>
											<td>
												<textarea style="background-color: #FCFCFC;border:none;width:78%;" name="experience_description" rows="5" ng-model="profile_form.work.experience_description" placeholder="Accomplishments, notable projects, etc." tabindex=></textarea>
									
											</td>
										</tr>
										<tr>
											<td class="labels"></td>
											<td></td>
										</tr>
									</table>
										<div add-work style="width:100%;">
										<table width="100%">
										<button class="btnadd" formnovalidate >+</button><br>
										</table>
										</div>
									
									<table width=100%>
										<tr>
											<td colspan=2>
												<hr>
												
												<div style="text-align:center;">
												<input style=";" class="btnsubmit" type="submit" value="Submit" ng-click="update('work')" ng-disabled="work_form.$invalid"/> <input style="" class="btnreset" type="reset" value="Reset" />
												</div>
											</td>
										</tr>
									</table>
								</div>
							</form>
						
					</div>
				</div>
				</div>
				<div class="CbreakThr" style="width:100%; border:1px solid #f02921"></div>
				<div class="CbreakSec" style="margin-bottom:1em"></div>

				<div class="feeds">
					<div class="post">

						<div class="feed-data">

							<div class="Cupperbox" style="background: url({{feeds.ad.background}}); height:150px; margin-bottom:10px">
								<div class="Clogo">
									<img src="{{feeds.ad.image}}"/>
									<span class="Cad">AD</span>
								</div>
							</div>

							<div class="CupperboxSec">
								<div class="Clogo">
									<img src="{{feeds.ad.image}}"/>
									<div class="CbackG" style="background: url({{feeds.ad.background}});">
										<span  class="Cad" >AD</span>
									</div>
								</div>
							</div>

							<div class="Cbreak"></div>

							<div class="Clowerbox">
								<div class="ClowerboxUp">
									<div class="Ctitlebox">
										<a class="link"><span class="Ctitle header4">{{feeds.ad.title}}</span></a>
									</div>							

									<div class="Cdetailsbox">
										<h5 class="Cqualifications">QUALIFICATIONS</h5>
										<p class="Cdetails" style="color: #001616; line-height:1.25em">{{feeds.ad.experience}}</p>
										<p class="Cdetails" style="color:#001616; line-height:1.25em">{{feeds.ad.skills}}</p>
									</div>

									<div style="clear:both;"></div>

									<div class="Cbreak"></div>

									<div class="ClowerboxMiddle">
										<div class="Cadbox">
											<div ng-if="feeds.ad.ad.type == 'gif'" class="Cimage" >
												<img src="{{feeds.ad.ad.link}}"/>
											</div>
											<div ng-if="feeds.ad.ad.type == 'image'" class="Cimage">
												<img src="{{feeds.ad.ad.link}}"/>
											</div>
											<div ng-if="feeds.ad.ad.type == 'youtube'">

												<iframe src="https://www.youtube.com/embed/n9EgH-QxaUI" frameborder="0" allowfullscreen class="Cvideo"></iframe>
											</div>
										</div>
									</div>
								</div>
								
								<div class="Cbreak"></div>

								<div class="ClowerboxBottom">
									<div class="Cbuttonsbox">
										<button type="button" class="btn btn-info Csave">SAVE</button>
										<button type="button" class="btn btn-primary Capply">APPLY</button>
										<button type="button" class="btn btn-warning Crefer">REFER 
											<div>{{feeds.ad.fee.currency}} ({{feeds.ad.fee.amount}})</div>
										</button>
									</div>
								</div>
							</div>

							<div class="ClowerboxSec">

								<div class="ClowerboxBottom">
									<div class="Cbuttonsbox">
										<button type="button" class="btn btn-info Csave">SAVE</button>
										<button type="button" class="btn btn-warning Crefer">REFER 
											<div>{{feeds.ad.fee.currency}} ({{feeds.ad.fee.amount}})</div>
										</button>
										<button type="button" class="btn btn-primary Capply">APPLY</button>
									</div>
								</div>
								<div style ="position:absolute;top:2465px;left:733px;">
									<a style="cursor:pointer;" ng-click="facebook()"><img src="../ASSETS/img/icon/facebook.png" height ="28"  width ="28"/></a>
									<a style="cursor:pointer;" ng-click="twitter()"><img src = "../ASSETS/img/icon/twitter.png" height ="28" width ="28" /></a>
									<a style="cursor:pointer;" ng-click="google()"><img src = "../ASSETS/img/icon/google.png"  height ="28" width ="28" /></a>
									<a style="cursor:pointer;" ng-click="linkedin()"><img src = "../ASSETS/img/icon/linkedin.png" height ="28" width ="28" /></a>
									<a style="cursor:pointer;" ng-click="email()"><img src = "../ASSETS/img/icon/email.png" height ="28" width ="28" /></a>
							</div>
								<div class="ClowerboxUp">
									<div class="Ctitlebox">
										<a class="link"><span class="Ctitle header4">{{feeds.ad.title}}</span></a>
									</div>							

									<div class="Cdetailsbox">
										<h5 class="Cqualifications">QUALIFICATIONS</h5>
										<p class="Cdetails" style="color: #001616; line-height:1.25em">{{feeds.ad.experience}}</p>
										<p class="Cdetails" style="color:#001616; line-height:1.25em">{{feeds.ad.skills}}</p>
									</div>

									<div style="clear:both;"></div>

									<div class="Cbreak"></div>

									<div class="ClowerboxMiddle">
										<div class="Cadbox">
											<div ng-if="feeds.ad.ad.type == 'gif'" class="Cimage" >
												<img src="{{feeds.ad.ad.link}}"/>
											</div>
											<div ng-if="feeds.ad.ad.type == 'image'" class="Cimage">
												<img src="{{feeds.ad.ad.link}}"/>
											</div>
											<div ng-if="feeds.ad.ad.type == 'youtube'">

												<iframe src="https://www.youtube.com/embed/n9EgH-QxaUI" frameborder="0" allowfullscreen class="Cvideo"></iframe>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div style="clear:both;"></div>
						</div>

						<div style="clear:both;"></div>
					</div>			
				</div>

				<div class="CbreakSec" style="margin-top:1em"></div>
				<div class="CbreakThr" style="margin-bottom: 2em; width:100%; border:1px solid #f02921"></div>

				<div class="feeds">
					<div class="post">
						<div class="feed-data" data-ng-repeat="(k,v) in feeds.data" >
							<div class="Cupperbox" style="background: url({{v.background}}); height:150px; margin-bottom:10px">
								<div class="Clogo">
									<img src="{{v.image}}"/>
									<span class="Cad">{{v.time_passed}}</span>
								</div>
							</div>

							
							<div class="CupperboxSec">
								<div class="Clogo">
									<img src="{{v.image}}"/>
									<div class="CbackG" style="background: url({{v.background}});">
										<span  class="Cad" >{{v.time_passed}}</span>
									</div>
								</div>
							</div>

							<div class="Cbreak"></div>

							<div class="Clowerbox">
								<div class="ClowerboxUp">
									<div class="Ctitlebox">
										<a class="link"><span class="Ctitle header4">{{v.title}}</span></a>
									</div>							

									<div class="Cdetailsbox">
										<h5 class="Cqualifications">QUALIFICATIONS</h5>
										<p class="Cdetails" style="color: #001616; line-height:1.25em">{{v.experience}}</p>
										<p class="Cdetails" style="color:#001616; line-height:1.25em">{{v.skills}}</p>
									</div>

									<div style="clear:both;"></div>

									<div class="ClowerboxMiddle">
										<div class="Cadbox">
											<div ng-if="v.ad.type == 'gif'" class="Cimage" >
	   											<img src="{{v.ad.link}}"/>
	   										</div>
	   										<div ng-if="v.ad.type == 'image'" class="Cimage" >
	   											<img src="{{v.ad.link}}"/>
	   										</div>
	   										<div ng-if="v.ad.type == 'youtube'">

												<iframe src="https://www.youtube.com/embed/n9EgH-QxaUI" frameborder="0" allowfullscreen class="Cvideo"></iframe>
											</div>
										</div>
									</div>
								</div>

								<div class="Cbreak"></div>

								<div class="ClowerboxBottom">
									<div class="Cbuttonsbox">
										<button type="button" class="btn btn-info Csave">SAVE</button>
										<button type="button" class="btn btn-primary Capply">APPLY</button>
										<button type="button" class="btn btn-warning Crefer">REFER 
											<div>{{v.fee.currency}} ({{v.fee.amount}})</div>
										</button>
									</div>
								</div>
							</div>
							<div style ="position:absolute;top:3130px;left:733px;">
									<a style="cursor:pointer;" ng-click="facebook()"><img src="../ASSETS/img/icon/facebook.png" height ="28"  width ="28"/></a>
									<a style="cursor:pointer;" ng-click="twitter()"><img src = "../ASSETS/img/icon/twitter.png" height ="28" width ="28" /></a>
									<a style="cursor:pointer;" ng-click="google()"><img src = "../ASSETS/img/icon/google.png"  height ="28" width ="28" /></a>
									<a style="cursor:pointer;" ng-click="linkedin()"><img src = "../ASSETS/img/icon/linkedin.png" height ="28" width ="28" /></a>
									<a style="cursor:pointer;" ng-click="email()"><img src = "../ASSETS/img/icon/email.png" height ="28" width ="28" /></a>
							</div>
							<div class="ClowerboxSec">

								<div class="ClowerboxBottom">
									<div class="Cbuttonsbox">
										<button type="button" class="btn btn-info Csave">SAVE</button>
										<button type="button" class="btn btn-warning Crefer">REFER 
											<div>{{v.fee.currency}} ({{v.fee.amount}})</div>
										</button>
										<button type="button" class="btn btn-primary Capply">APPLY</button>
									</div>
								</div>
								<div style ="position:absolute;top:3940px;left:733px;top">
									<a style="cursor:pointer;" ng-click="facebook()"><img src="../ASSETS/img/icon/facebook.png" height ="28"  width ="28"/></a>
									<a style="cursor:pointer;" ng-click="twitter()"><img src = "../ASSETS/img/icon/twitter.png" height ="28" width ="28" /></a>
									<a style="cursor:pointer;" ng-click="google()"><img src = "../ASSETS/img/icon/google.png"  height ="28" width ="28" /></a>
									<a style="cursor:pointer;" ng-click="linkedin()"><img src = "../ASSETS/img/icon/linkedin.png" height ="28" width ="28" /></a>
									<a style="cursor:pointer;" ng-click="email()"><img src = "../ASSETS/img/icon/email.png" height ="28" width ="28" /></a>
							</div>
								<div class="ClowerboxUp">
									<div class="Ctitlebox">
										<a class="link"><span class="Ctitle header4">{{v.title}}</span></a>
									</div>							

									<div class="Cdetailsbox">
										<h5 class="Cqualifications">QUALIFICATIONS</h5>
										<p class="Cdetails" style="color: #001616; line-height:1.25em">{{v.experience}}</p>
										<p class="Cdetails" style="color:#001616; line-height:1.25em">{{v.skills}}</p>
									</div>

									<div style="clear:both;"></div>

									<div class="Cbreak"></div>
									
									<div class="ClowerboxMiddle">
										<div class="Cadbox">
											<div ng-if="v.ad.type == 'gif'" class="Cimage" >
	   											<img src="{{v.ad.link}}"/>
	   										</div>
	   										<div ng-if="v.ad.type == 'image'" class="Cimage" >
	   											<img src="{{v.ad.link}}"/>
	   										</div>
	   										<div ng-if="v.ad.type == 'youtube'">

												<iframe src="https://www.youtube.com/embed/n9EgH-QxaUI" frameborder="0" allowfullscreen class="Cvideo"></iframe>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div style="clear:both;"></div>
							<div class="CbreakThr" style="margin-bottom: 2em;"></div>
						</div>

					</div>			
				</div>
				<div class="CbreakSec" style="margin-top: -20px;"></div>
			</div>

			<div class="right">
				<div class="statistics">
					<div>
						<img src="../ASSETS/img/attache.png" style="width:16px;">
						<span class="font12 link">35 Jobs Matches your profile</span>
					</div>
					<div>
						<img src="../ASSETS/img/heart.png" style="width:16px;">
						<span class="font12">Followed by 105 employers</span>
					</div>
					<div>
						<img src="../ASSETS/img/feedback.png" style="width:16px;">
						<span class="font12 link">You have 5 Recuitment Feedback</span>
					</div>
				</div>

				<div class="break"></div>
				<div class="CClowerboxMiddle">
					<div class="CCadbox">
						<img src="../ASSETS/Uploads/ads/post1.jpg" class="CCimage">
					</div>

					<div class="CCadbox">
						<img src="../ASSETS/Uploads/ads/post2.jpg" class="CCimage">
					</div>
				</div>
				<div class="break"></div>

				<div class="updates">
					<span class="header3">Latest Updates</span>

					<div>
						<div>
							<span class="sub">June 10, 2016 12:00 PM</span>
						</div>
						<div style="margin-top:-10px;">
							<span class="font12">Updated profile picture</span>
						</div>
					</div>
					<div>
						<div>
							<span class="sub">May 31, 2016 06:00 PM</span>
						</div>
						<div style="margin-top:-10px;">
							<span class="font12">Added new employer</span>
						</div>
					</div>
					<div>
						<div>
							<span class="sub">January 01, 2016 08:00 PM</span>
						</div>
						<div style="margin-top:-10px;">
							<span class="font12">Receives Recruitment Feedback</span>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
</div>

<script>

    // Scrolls to the selected menu item on the page
    $(function() {

        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });

        $('#profile_toggle').bootstrapToggle({
	      	on: 'Visible',
	      	off: 'Hidden'
	    });
    });
</script>