
<link href='../CSS/profile_login.css' rel='stylesheet' type='text/css'>

	

<div>

	<p class="welcome-emp">WELCOME !</p>
	<input type="text" class="username" ng-model="user.pin" ui-mask="9999-AA"  ui-mask-placeholder ui-mask-placeholder-char="_" enter-key="onKeypress();" style="text-transform: uppercase"/>
	<input type="password" data-ng-model="user.password" class="password" maxlength="30" placeholder="PASSWORD" enter-key="onKeypress();" />
	<input type="button" class="login" value="LOGIN" enter-key="onKeypress();" data-ng-click="login()">
	<div class="or"> <span> OR </span> </div>
	<a href="#/register"><input type="button" class="signup" value="SIGN UP" data-ng-click="register()"></a>
	<img class="c-briefcase" src="../ASSETS/img/briefcase_jobseeker.png"/>
	<img class="jonathan" src="../ASSETS/img/jonathan_jr.gif"/>

	<div class="message-spacing">
		<span class="message">Get your resume noticed within minutes.</span>
		<span class="messagepop">{{user.error_msg}}</span>
	</div>
</div>
