<link rel="stylesheet" type="text/css" href="http://www.joberfied.com/CSS/email.css" />
<div class="parent">
    <div class="box">
        <img src="http://www.joberfied.com/ASSETS/img/seagulls350.png" style="width:40%; margin-left: 35%;" />

        <h1 style="font-size:2.5em;line-height:1.3em;margin-bottom:5px;text-align:center;">Welcome to Joberfied!</h1>

        <p style="font-size:1.0em;line-height:1.3em;margin-bottom:5px;text-align:center;">Click the button below to confirm you email address</p>

        <p style="text-align:center;">
            <a href="http://www.joberfied.com/confirm/"><button>CONFIRM</button></a>
        </p>
        
    </div>
    
</div>