<link href="../CSS/employer.css" rel="stylesheet">
<div>
	<div>
		<nav id="sidebar-wrapper" style="margin-top:-20px;">
			<ul class="sidebar-nav">
	            <li>
	                <a href="#top" ng-click="logout()">Logout</a>
	            </li>
	        </ul>
	    </nav>

	    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
	        <div class="container topnav" style="color:#FFF !important;">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header" style="width:100%;">
	            	<div style="float:left;">
	            		<a class="navbar-brand topnav" href="#/home">
		                	JOBBER
		                </a>
	            	</div>

	                <div style="float:left; width: 40%;">
	                	<autocomplete ng-model="result" attr-placeholder="Search candidates here" click-activation="true" data="movies" on-type="doSomething" on-select="doSomethingElse" class="searchbar"></autocomplete>
	                </div>
	                <div style="clear:both;"></div>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            	

	                <ul class="nav navbar-nav navbar-right adjust">
	                    <li >
	                        <a>About</a>
	                    </li>
	                    <li>
	                        <a>Services</a>
	                    </li>
	                    <li>
	                    	<a id="menu-toggle" href="#">Profile</a>
	                    </li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <div class="credit">
	                	<span class="label">Available Credit:</span>
	                	<span class="label count">{{employer.currency}} {{employer.available}}</span>
	        </div>
	        <!-- /.container -->
	    </nav>
	</div>

	<!-- <div style="width:100%; height: 50px; text-align:center; padding-top: 30px;">
		<input type="text" class="searchbar" placeholder="Search..." maxlength="60" data-ng-model="searchbox.text" data-ng-change="searchbig()" />
	</div> -->
	<div style="clear:both;"></div>

	<div class="main">
		<div style="clear:both;"></div>
		<div class="profile">

		<div class="c-menu megamenu">
				<ul>
					<li  class="active">
						<a href="#/">
							<img src="../ASSETS/img/profile.png">
						</a>
					</li>
					<li>
						<a>
							<img src="../ASSETS/img/attache.png">
						</a>
					</li>
					<li>
						<a>
							<img src="../ASSETS/img/message.png">
						</a>
					</li>
					<li>
						<a>
							<img src="../ASSETS/img/bookmark.png">
						</a>
					</li>
				</ul>
			</div>

		<div class="searchresults">
			<!-- <nav role="navigation" class="navbar navbar-default" style="background-color:#fff; color:#000; width:69%;">
			    
			    <div id="navbarCollapse" class="collapse navbar-collapse">
			        <ul class="nav navbar-nav" style="color:#000 !important;">
			            <li><a href="#">All</a></li>
			            <li class="active"><a>Actively looking</a></li>
			            <li><a>Inactively looking</a></li>
			        </ul>
			    </div>
			</nav> -->
			<div class="left">
				<div class="data" ng-repeat="(k,v) in candidates.data">
					<div class="pin">
						<span>CHRS-{{v.applicant_id}}</span>
						<span style="float:right;">Currently unemployed</span>
					</div>
					<div>
						<a href="#">http:www.jobber.ph/CHRS-{{v.applicant_id}}</a>
						<span style="float:right;">
							<img src="../ASSETS/img/follow.png" style="width:42px; cursor:pointer;" title="FOLLOW"/>
							<img src="../ASSETS/img/stalk.png" style="width:42px; cursor:pointer;" title="STALK"/>
							<a ng-click="request_cv(v.applicant_id)" >
								<img src="../ASSETS/img/go.png" style="width:42px; cursor:pointer;" title="Request for CV" />
							</a>
						</span>
					</div>

					<div>
						<span>PHP Programmer, Python, PostgreSQL</span>
						
					</div>
				</div>
			</div>
			<div>
				<div class="c-adds">
					<img src="../ASSETS/Uploads/signavio.png" />
				</div>
				
			</div>
		</div>
	</div>
</div>

	<!-- <div class="main">
		<div class="searchresults" data-ng-if="candidates.status">
			sdfa
			
			
		</div>
	</div> -->
</div>

<script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>