
<style>
    .noTopBottomPad
    {
        padding-top : 2px !important;
        padding-bottom : 2px !important;
    }
	.overlap {position: absolute !important;
        z-index: 900 !important; width: inherit  !important ;}
	.loadImage { background: white url('{!URLFOR($Resource.AutoCompleteWithModal, 'AjaxLoad.gif')}') right center no-repeat; }

</style>

<div ng-controller="Background" style="background-color: #f02921">
	<div>
	    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
	        <div class="container topnav" style="color:#FFF !important;">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header" style="width:100%;">
	            	<div style="float:left;">
	            		<a class="navbar-brand topnav" href="#/home">
		                	Joberfied
		                </a>
	            	</div>

	                <div style="float:left;">
	                	<!-- <autocomplete ng-model="searchbox.text" attr-placeholder="Search candidates here" click-activation="true" data="movies" on-type="searchbig()" on-select="doSomethingElse" class="searchbar"></autocomplete> -->
	                	<div>
	                		<autocomplete ng-model="result" attr-placeholder="Search candidates here" click-activation="true" data="candidates.data" on-type="bigsearch_changed" on-select="run_search" class="searchbar"></autocomplete>
	                	</div>

	                </div>
	                <div style="clear:both;"></div>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	                <!-- <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a>About</a>
	                    </li>
	                    <li>
	                        <a>Services</a>
	                    </li>
	                    <li>
	                    	<a id="menu-toggle" href="#">Profile</a>
	                    </li>
	                </ul> -->
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>
	</div>

	<!-- <div style="width:100%; height: 50px; text-align:center; padding-top: 30px;">
		<input type="text" class="searchbar" placeholder="Search..." maxlength="60" data-ng-model="searchbox.text" data-ng-change="searchbig()" />
	</div> -->
	<div style="clear:both;"></div>
	<div class="main" style="margin-top: 50px;">
			<div style="clear:both;"></div>
			<div class="profile">
				<div class="c-menu">
					<nav style="margin-top:50px;margin-left:-15px;float:left" class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
					    <div class="container topnav" style="color:#FFF !important;margin-top:3px;">
					    	<div class="c-menu">
								<ul>
									<li>
										<a href="#/profile">
											<img src="../ASSETS/img/profile.png">
										</a>
									</li>
									<li class="active">
										<a href="#/home">
											<img src="../ASSETS/img/attache.png">
										</a>
									</li>
									<li>
										<a>
											<img src="../ASSETS/img/message.png">
										</a>
									</li>
									<li>
										<a href="#/posts">
											<img src="../ASSETS/img/bookmark.png">
										</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
				<div class="menu">
					<div class="ccimageblock">
						<img src="../ASSETS/Uploads/employers/accenture.png" class="cccompany"/>
					</div>
					<div class="employer-name">
						<span class="font14">{{employer.name}}</span>
					</div>
					
					<div>
						<img src="../ASSETS/img/attache.png" style="width:16px;">
						<a href="#/posts"><span class="font12 link">Job Posts</span></a>
					</div>
					<div>
						<img src="../ASSETS/img/message.png" style="width:16px;">
						<a href="#/messages"><span class="font12 link">Messages</span></a>
					</div>
					<div>
						<img src="../ASSETS/img/bookmark.png"  style="width:16px;">
						<a href="#/admired"><span class="font12 link">Admired Candidates</span></a>
					</div>

					<div class="credit">
						<span class="label" style="padding:0.2em 0 0 0;">Available</span>
						<span class="label" style="padding:0.3em 0 0.5em 0;">Credit</span> <br />
						<span class="amount">{{employer.currency}} {{employer.available}}</span>
					</div>
				</div>

			<div class="left">
				
				<div class="candidates-updates">
					<div>
						<div style="clear:both;"></div>

						<div class="CbreakSec"></div>
						<div class="CbreakThr"></div>

						<div class="feed-data" data-ng-repeat="(k,v) in candidates.data">
							<div style="width:100%;">

									<div class="Cstatus">
										<p>
											<img ng-if="v.online == 't'" src="../ASSETS/img/online.png"/>
											<img ng-if="v.online == 'f'" src="../ASSETS/img/offline.png"/>
											{{v.external_status}}
										</p>
										<span class="CupdateSec">Updated: 02/06/16</span>
									</div>

								<div  class="Cmargin">

									<div class="Cimage">
										<img src="{{v.pic}}">
										<div class="CbreakThr" style="border:1px solid #669999"></div>
										<p style="font-style:bold; font-size:1.5em; color:#003333"> APPPIN </p>
										<p style="margin-top:-17px">- {{v.applicant_id}} -</p>
									</div>

									<div class="Cskills">
										<div class="skill">
											<p>SKILLS</p>
										</div>
										<div class="content">
											<p>Programmer, Assistant Manager in a superhyroelectricitypod company
											Programmer, Assistant network Specialist  {{v.tags}}</p>
										</div>
										<div ng-if="v.ad.type == 'gif'">
											<img src="{{v.ad.link}}" style="max-width: 560px;"/>
										</div>
										<div ng-if="v.ad.type == 'image'">
											<img src="{{v.ad.link}}" style="max-width: 560px;"/>
										</div>
										<div ng-if="v.ad.type == 'youtube'">

											<iframe src="https://www.youtube.com/embed/n9EgH-QxaUI" width="560" height="315" frameborder="0" allowfullscreen></iframe>
										</div>
									</div>

									<div style="clear:both;"></div>
									<div class="Cbreak"></div>
									<div class="Cbuttonsbox">

										<button ng-if="v.online == 't'" type="button" class="btn btn-warning Cvideochat" ng-click="videochat()">VIDEO CHAT</button>
										<button type="button" class="btn btn-danger Cadmire">ADMIRE</button>
										<button type="button" class="btn btn-primary Cview" ng-click="request_cv(v.applicant_id)">VIEW</button>

									</div>
									<div class="Cbreak"></div>
								</div>

									<div class="Cupdate">
										<span>Updated: 02/06/16</span>
									</div>
							</div>
							<div style="clear:both;"></div>
							<div class="CbreakSec"></div>
							<div class="CbreakThr"></div>
						</div>
					</div>
				</div>

				<!-- <div class="break"></div> -->

				<div class="feeds">
					<div class="post">
						<div class="feed-data" data-ng-repeat="(k,v) in feeds.data">
							<div>
								<div style="float:left; width:85%;">
									<span class="header4">{{v.title}}</span>
								</div>
								<div style="float:left; width:15%;">
									<span class="sub">{{v.time_passed}}</span>
								</div>
								<div style="clear:both;"></div>
							</div>							

							<div>
								<span class="header2">{{v.experience}}</span>
								<p>
									{{v.skills}}
								</p>
							</div>
							<div class="break"></div>
						</div>
					</div>			
				</div>
			</div>

			<div class="right">
				<div class="statistics">
					<div>
						<img src="../ASSETS/img/online.png" style="width:16px;">
						<span class="font12">1,205 candidates are online</span>
					</div>
					<div>
						<img src="../ASSETS/img/heart.png" style="width:16px;">
						<span class="font12">Admired by 105 candidates</span>
					</div>
					<div>
						<img src="../ASSETS/img/attache.png" style="width:16px;">
						<span class="font12 link">Received 35 Responses</span>
					</div>
					
					<div>
						<img src="../ASSETS/img/feedback.png" style="width:16px;">
						<span class="font12 link">You have 5 Candidate Feedback</span>
					</div>
				</div>

				<div class="break"></div>

				<div class="ccimageblock">
					<img src="../ASSETS/Uploads/ads/signavio.png" class="ccborder">
				</div>

				<div class="ccimageblock">
					<img src="../ASSETS/Uploads/ads/collabs.jpg" class="ccborder">
				</div>

				<div class="break"></div>

				<div class="updates">
					<span class="header3">Latest Updates</span>

					<div>
						<div>
							<span class="sub">June 10, 2016 12:00 PM</span>
						</div>
						<div style="margin-top:-10px;">
							<span class="font12">Updated profile picture</span>
						</div>
					</div>
					<div>
						<div>
							<span class="sub">May 31, 2016 06:00 PM</span>
						</div>
						<div style="margin-top:-10px;">
							<span class="font12">Added new employer</span>
						</div>
					</div>
					<div>
						<div>
							<span class="sub">January 01, 2016 08:00 PM</span>
						</div>
						<div style="margin-top:-10px;">
							<span class="font12">Receives Recruitment Feedback</span>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>

</div>

	