
	<link href='../CSS/employer_login.css' rel='stylesheet' type='text/css'>
	
	<div>
		<p class="welcome-emp">WELCOME !</p>
		<input type="text" data-ng-model="user.pin" class="username" maxlength="20" placeholder="PIN" enter-key="onKeypress();"/>
		<input type="password" data-ng-model="user.password" class="password" maxlength="20" placeholder="PASSWORD" enter-key="onKeypress();" />
		<input type="button" class="login" value="LOGIN" enter-key="onKeypress();" data-ng-click="login()">

		<img class="c-briefcase" src="../ASSETS/img/briefcase_employer.png"/>
		<img class="jonathan" src="../ASSETS/img/jonathan.gif"/>

		<div class="message-spacing">
			<span class="message">Professionalism? Commitment?</span>
			<span class="message-2">Let Jonathan do the Job!</span>
			<span class="messagepop">{{user.error_msg}}</span>
		</div>
	</div>	    

