<style type="text/css">
.myfileupload input {
    width: 100%;
    height: 32px;
    border: solid 1px #CCC;
}

.myfileupload .fileleft {
    width: 80%;
    float: left;
}

.myfileupload .fileright {
    width: 20%;
    float: left;
}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

</style>

<div>
	<div>
	    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
	        <div class="container topnav" style="color:#FFF !important;">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header" style="width:100%;">
	            	<div style="float:left;">
	            		<a class="navbar-brand topnav" href="#/home">
		                	Joberfied
		                </a>
	            	</div>

	                <div style="float:left;">
	                	<autocomplete ng-model="result" attr-placeholder="Search candidates here" click-activation="true" data="candidates.data" on-type="bigsearch_changed" on-select="run_search" class="searchbar"></autocomplete>
	                </div>
	                <div style="clear:both;"></div>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            </div>
	        </div>
	    </nav>
	</div>

	<div style="clear:both;"></div>

	<div class="main" style="margin-top: 50px;">
		<div style="clear:both;"></div>
		<div class="profile">
			<div class="c-menu">
				<nav style="margin-top:50px;margin-left:-15px;float:left" class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
				    <div class="container topnav" style="color:#FFF !important;margin-top:3px;">
				    	<div class="c-menu">
							<ul>
								<li>
									<a>
										<img src="../ASSETS/img/profile.png">
									</a>
								</li>
								<li>
									<a href="#/home">
										<img src="../ASSETS/img/attache.png">
									</a>
								</li>
								<li>
									<a>
										<img src="../ASSETS/img/message.png">
									</a>
								</li>
								<li class="active">
									<a href="#/posts">
										<img src="../ASSETS/img/bookmark.png">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<div class="menu">
				<div class="ccimageblock">
					<img src="../ASSETS/Uploads/employers/accenture.png" class="cccompany"/>
				</div>
				<div class="employer-name">
					<span class="font14">{{employer.name}}</span>
				</div>
				
				<div>
					<img src="../ASSETS/img/attache.png" style="width:16px;">
					<a href="#/posts"><span class="font12 link">Job Posts</span></a>
				</div>
				<div>
					<img src="../ASSETS/img/message.png" style="width:16px;">
					<a href="#/messages"><span class="font12 link">Messages</span></a>
				</div>
				<div>
					<img src="../ASSETS/img/bookmark.png"  style="width:16px;">
					<a href="#/admired"><span class="font12 link">Admired Candidates</span></a>
				</div>

				<div class="credit">
					<span class="label" style="padding:0.2em 0 0 0;">Available</span>
					<span class="label" style="padding:0.3em 0 0.5em 0;">Credit</span> <br />
					<span class="amount">{{employer.currency}} {{employer.available}}</span>
				</div>
			</div>
			<div class="left">
				<div class="job-posts">
					<div>
						<div class="feed-filter" style="width:100%; margin:20px auto 0px auto; display:block; padding:0px 5px">
							<button type="button" class="btn btn-default button-selected font13 createbutton" class="" ng-click="navigate_ads('create')">Create Ads</button>

							<button type="button" class="btn btn-default font13 createbutton" ng-click="navigate_ads('link')">Link a video</button>

							<button type="button" class="btn btn-default font13 createbutton" ng-click="navigate_ads('post')">Post a Job</button>
						</div>

						<div class="break"></div>

						<div style="margin-top: 20px;">
							<div ng-if="newad.create">
								<div style="width: 88%; margin: 0 auto; padding:10px 0px;">
									<h3 style="color:#669999">Create Ads</h3>

									<table style="width:100%;">
										<tr>
											<td style="padding-top: 15px;">
												<input type="text" class="form-control" placeholder="Title"
												ng-model="new_job_post.ad.title" />
											</td>
										</tr>
										<tr>
											<td style="padding-top: 15px;">
												<tags-input
													ng-model="new_job_post.ad.required_skills"
													placeholder="Required Skills"
													template="my-custom-template">
												</tags-input>
											</td>
										</tr>
										<tr>
											<td style="padding-top: 15px;">
												<input type="number" class="form-control" placeholder="Years of Experience"
												ng-model="new_job_post.ad.years_experience" />
											</td>
										</tr>
										<tr>
											<td style="padding-top: 15px;">

			                                    <div class="myfileupload">
				                                    <form enctype="multipart/form-data">
					                                    <div class="fileleft">
					                                    	<input type="file" id="picnic" name="upload" ng-model="upload"/>
					                                    	<input type="hidden" name="MAX_FILE_SIZE" value="524288" />
				                                    	</div>
				                                    	<div class="fileright">
					                                            <input type="submit" class="btn btn-info" value="UPLOAD" ng-click="upload_pic(upload)"/>
				                                        </div>
			                                        </form>
		                                        </div>
												
			                                    

											</td>
										</tr>
										<tr>
											<td>
											<br>
											<h5>Effectivity of Job Post</h5>
												<input type="date" min="{{currentDate}}" value="{{currentDate}}"
												ng-model="new_job_post.ad.effectDate1"/>
												 to 
												<input type="date" min="{{postDate}}" value="{{postDate}}"
												ng-model="new_job_post.ad.effectDate2"/>
											</td>
										</tr>
										<tr>
											<td>
											<br>
											<h5>Commission Type</h5>
												<select ng-model="new_job_post.ad.commission_type" ng-change="nav_select()">
													<option value="monetary" selected>Monetary</option>
													<option value="points">Points</option>
												</select>
											<h6>Value:</h6>
												<div ng-show="comm_val.money">
													<select ng-model="new_job_post.ad.commission_value">
														<option value="500">500</option>
														<option value="1000">1000</option>
														<option value="2000">2000</option>
														<option value="3000">3000</option>
														<option value="4000">4000</option>
														<option value="5000">5000</option>
													</select>
												</div>
												<div ng-show="comm_val.points">
													<select ng-model="new_job_post.ad.commission_value">
														<option value="100">100</option>
														<option value="200">200</option>
														<option value="300">300</option>
														<option value="400">400</option>
														<option value="500">500</option>
														<option value="600">600</option>
														<option value="700">700</option>
														<option value="800">800</option>
														<option value="900">900</option>
														<option value="1000">1000</option>
													</select>
												</div>
											</td>
										</tr>
									</table>
									<div style="width: 80%; margin: 20px auto 0px auto; text-align:right;">
										<button type="submit" class="btn btn-primary postbutton" ng-click="post_job(1)">POST AD</button>
									</div>
								</form>
								</div>
								
							</div>
							<div ng-if="newad.link">
								<form>
								<div style="width: 88%; margin: 0 auto; padding:10px 0px;">
									<h3 style="color:#669999">Link a video</h3>

									<table style="width:100%;">
										<tr>
											<td style="padding-top: 15px;">
												<input type="text" class="form-control" placeholder="Title"
												ng-model="new_job_post.video.title" required/>
											</td>
										</tr>
										<tr>
											<td style="padding-top: 15px;">
												<textarea type="text" class="form-control" placeholder="Description"
												ng-model="new_job_post.video.description" required></textarea>
											</td>
										</tr>
										<tr>
											<td style="padding-top: 15px;">
												<tags-input
															ng-model="new_job_post.video.required_skills"
															placeholder="Required Skills"
															template="my-custom-template">
												</tags-input>
											</td>
										</tr>
										<tr>
											<td style="padding-top: 15px;">
												<input type="url" class="form-control" placeholder="Link"
												ng-model="new_job_post.video.link" required/>
											</td>
										</tr>
										<tr>
											<td>
											<br>
											<h5>Effectivity of Job Post</h5>
												<input type="date" min="{{currentDate}}" value="{{currentDate}}"
												ng-model="new_job_post.ad.effectDate1"/>
												 to 
												<input type="date" min="{{postDate}}" value="{{postDate}}"
												ng-model="new_job_post.ad.effectDate2"/>
											</td>
										</tr>
										<tr>
											<td>
											<br>
											<h5>Commission Type</h5>
												<select ng-model="new_job_post.ad.commission.type" ng-change="nav_select()">
													<option value="monetary" selected>Monetary</option>
													<option value="points">Points</option>
												</select>
											<h6>Value:</h6>
												<div ng-show="comm_val.money">
													<select ng-model="new_job_post.ad.commission.value">
														<option value="500">500</option>
														<option value="1000">1000</option>
														<option value="2000">2000</option>
														<option value="3000">3000</option>
														<option value="4000">4000</option>
														<option value="5000">5000</option>
													</select>
												</div>
												<div ng-show="comm_val.points">
													<select ng-model="new_job_post.ad.commission.value">
														<option value="100">100</option>
														<option value="200">200</option>
														<option value="300">300</option>
														<option value="400">400</option>
														<option value="500">500</option>
														<option value="600">600</option>
														<option value="700">700</option>
														<option value="800">800</option>
														<option value="900">900</option>
														<option value="1000">1000</option>
													</select>
												</div>
											</td>
										</tr>
									</table>
								</div>
								<div style="width: 80%; margin: 0 auto; text-align:right; margin-top:20px;">
									<button type="submit" class="btn btn-primary postbutton" ng-click="post_job(2)">POST VIDEO</button>
								</div>
								</form>
							</div>
							<div ng-if="newad.post">
								<div class="filloutform">
									<h3 style="color:#669999">Post a job</h3>

									<div style="width:100%">
										<div style="padding-top: 15px;">
											<input type="text" class="form-control" placeholder="Title"
											ng-model="new_job_post.job.title"/>
										</div>
										<div style="padding-top: 15px;">
											<textarea ui-tinymce="tinymceOptions" class="form-control" placeholder="Job Requirements" ng-model="new_job_post.job.requirements">
											</textarea>
										</div>
										<div style="padding-top: 15px;">
											<textarea ui-tinymce="tinymceOptions" class="form-control" placeholder="Job Qualifications" ng-model="new_job_post.job.qualifications">
											</textarea>
										</div>
										<div style="padding-top: 15px;">
											<tags-input
												ng-model="new_job_post.job.required_skills"
												placeholder="Required Skills"
												template="my-custom-template">
											</tags-input>
										</div>
										<div style="padding-top: 15px;">
											<input type="text" class="form-control" placeholder="Years of Experience" 
											ng-model="new_job_post.job.years_experience"/>
										</div>
										<div style="padding-top: 15px;">
											<h5>Effectivity of Job Post</h5>
												<input type="date" min="{{currentDate}}" value="{{currentDate}}"
												ng-model="new_job_post.ad.effectDate1"/>
												 to 
												<input type="date" min="{{postDate}}" value="{{postDate}}"
												ng-model="new_job_post.ad.effectDate2"/>
										</div>
										<div style="padding-top: 15px;">
											<h5>Commission Type</h5>
											<select ng-model="new_job_post.ad.commission.type" ng-change="nav_select()">
												<option value="monetary" selected>Monetary</option>
												<option value="points">Points</option>
											</select>
										</div>
										<div style="padding-top: 15px;">
											<h6>Value:</h6>
											<div ng-show="comm_val.money">
												<select ng-model="new_job_post.ad.commission.value">
													<option value="500">500</option>
													<option value="1000">1000</option>
													<option value="2000">2000</option>
													<option value="3000">3000</option>
													<option value="4000">4000</option>
													<option value="5000">5000</option>
												</select>
											</div>
											<div ng-show="comm_val.points">
												<select ng-model="new_job_post.ad.commission.value">
													<option value="100">100</option>
													<option value="200">200</option>
													<option value="300">300</option>
													<option value="400">400</option>
													<option value="500">500</option>
													<option value="600">600</option>
													<option value="700">700</option>
													<option value="800">800</option>
													<option value="900">900</option>
													<option value="1000">1000</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div style="width: 80%; margin: 0 auto; text-align:right; margin-top:20px;">
									<button type="button" class="btn btn-primary postbutton" ng-click="post_job(3)">POST JOB</button>
								</div>
							</div>
						</div>
						<div style="clear:both;"></div>
						<div class="break"></div>

						<div>
							<input type="text" class="form-control quicksearch" placeholder="Quick Search">
							<div style="clear:both;"></div>
						</div>


						<div class="feed-data" data-ng-repeat="(k,v) in job_posts.data">

							<div style="width:100%;">
								<div class="employer-logo">
									<img src="{{v.image}}" />
								</div>
								<div class="employer-details">
									<div>
										<div style="float:left; width:85%;">
											<span class="header4">{{v.title}}</span>
										</div>
										<div style="float:left; width:15%;">
											<span class="sub">{{v.time_passed}}</span>
										</div>
										<div style="clear:both;"></div>
									</div>							

									<div>
										<span class="header2">{{v.experience}}</span>
										<p>
											{{v.skills}}
										</p>
									</div>
									<div>
											<div ng-if="v.ad.type == 'gif'">
												<img src="{{v.ad.link}}" style="max-width: 560px;"/>
											</div>
											<div ng-if="v.ad.type == 'image'">
												<img src="{{v.ad.link}}" style="max-width: 560px;"/>
											</div>
											<div ng-if="v.ad.type == 'youtube'">

												<iframe src="https://www.youtube.com/embed/n9EgH-QxaUI" width="560" height="315" frameborder="0" allowfullscreen></iframe>
											</div>
									</div>
									<!-- <div class="break"></div> -->
								</div>
								<div style="clear:both;"></div>
							</div>


							<div style="text-align:right; margin-top: 20px;">
								<div style="float:left;">
									<!-- <button type="button" class="btn btn-info" style="width:100px; margin-bottom:5px;">SAVE</button> -->
								</div>
								<div style="float:right;">
									<button type="button" class="btn btn-danger" style="width:100px; margin-bottom:5px;">CLOSE</button>
									<button type="button" class="btn btn-primary" style="width:100px; margin-bottom:5px;">EDIT</button>
								</div>
								<div style="clear:both;"></div>
									
							</div>
							<div style="clear:both;"></div>
							<div class="break"></div>
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>

				<!-- <div class="break"></div> -->

				<div class="feeds">
					<div class="post">
						<div class="feed-data" data-ng-repeat="(k,v) in job_posts.data">
							<div>
								<div style="float:left; width:85%;">
									<span class="header4">{{v.title}}</span>
								</div>
								<div style="float:left; width:15%;">
									<span class="sub">{{v.time_passed}}</span>
								</div>
								<div style="clear:both;"></div>
							</div>							

							<div>
								<span class="header2">{{v.experience}}</span>
								<p>
									{{v.skills}}
								</p>
							</div>
							<div class="break"></div>
						</div>
					</div>			
				</div>
			</div>
			<div class="right">
					<div class="statistics">
						<div>
							<img src="../ASSETS/img/heart.png" style="width:16px;">
							<span class="font12">Admired by 105 candidates</span>
						</div>
						<div>
							<img src="../ASSETS/img/attache.png" style="width:16px;">
							<span class="font12 link">Received 35 Responses</span>
						</div>
						
						<div>
							<img src="../ASSETS/img/feedback.png" style="width:16px;">
							<span class="font12 link">You have 5 Candidate Feedback</span>
						</div>
					</div>

					<div class="break"></div>

					<div class="ccimageblock">
						<img src="../ASSETS/Uploads/ads/signavio.png" class="ccborder">
					</div>

					<div class="ccimageblock">
						<img src="../ASSETS/Uploads/ads/collabs.jpg" class="ccborder">
					</div>

					<div class="break"></div>

					<div class="updates">
						<span class="header3">Latest Updates</span>

						<div>
							<div>
								<span class="sub">June 10, 2016 12:00 PM</span>
							</div>
							<div style="margin-top:-10px;">
								<span class="font12">Updated profile picture</span>
							</div>
						</div>
						<div>
							<div>
								<span class="sub">May 31, 2016 06:00 PM</span>
							</div>
							<div style="margin-top:-10px;">
								<span class="font12">Added new employer</span>
							</div>
						</div>
						<div>
							<div>
								<span class="sub">January 01, 2016 08:00 PM</span>
							</div>
							<div style="margin-top:-10px;">
								<span class="font12">Receives Recruitment Feedback</span>
							</div>
						</div>
					</div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="my-custom-template">
    <div class="tag-template">
        <div>
            <div style="float:left;">
                <span>{{$getDisplayText()}}</span>
            </div>
            <div style="float:left; padding-top: 3px;">
                <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
            </div>
        </div>
    </div>
</script>