
<div>
	<div>
		<nav id="sidebar-wrapper" style="margin-top:-20px;">
			<ul class="sidebar-nav">
	            <li>
	                <a href="#top" ng-click="logout()">Logout</a>
	            </li>
	        </ul>
	    </nav>

	    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
	        <div class="container topnav" style="color:#FFF !important;">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	               
	                <a class="navbar-brand topnav" href="#/home">
	                	JOBBER
	                </a>
	                <input type="text" class="searchbar" placeholder="Search candidates here" maxlength="60" data-ng-model="searchbox.text" data-ng-change="searchbig()" />
	                
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a>About</a>
	                    </li>
	                    <li>
	                        <a>Services</a>
	                    </li>
	                    <li>
	                    	<a id="menu-toggle" href="#">Profile</a>
	                    </li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>
	</div>

	<!-- <div style="width:100%; height: 50px; text-align:center; padding-top: 30px;">
		<input type="text" class="searchbar" placeholder="Search..." maxlength="60" data-ng-model="searchbox.text" data-ng-change="searchbig()" />
	</div> -->
	<div style="clear:both;"></div>

	<div class="news">
		<div class="details"></div>
	</div>

	<div class="main">
		<div style="clear:both;"></div>
		<div class="profile">
			<div class="left">
				<div class="basic">
					<div>
						<div style="clear:both;"></div>
						<div class="details">
							<div>
								<div>
									<span class="name">{{profile.data.first_name}} {{profile.data.last_name}}</span>
								</div>
								<div class="status">
									<span class="font14">{{profile.data.status}}</span>
								</div>
							</div>
							<div>
								<img src="../ASSETS/img/key.png" style="width:16px;">
								<span class="font14">{{profile.pin}}</span>
							</div>
							<div>
								<img src="../ASSETS/img/map.png" style="width:16px;">
								<span class="font14">4828 V. Baltazar St. Pinagbuhatan, Pasig City</span>
							</div>
							<div>
								<img src="../ASSETS/img/phone.png" style="width:16px;">
								<span class="font14">{{profile.data.contact_number}}</span>
							</div>
							<div>
								<img src="../ASSETS/img/gmail.png" style="width:16px;">
								<span class="font14">{{profile.data.email_address}}</span>
							</div>
							
						</div>
						<div class="picture">
							<div>
								<img class="img-circle" src="../ASSETS/Uploads/rafael1.jpg">
							</div>
							<div class="selftitle">
								<span class="font12">"IdealProgrammer"</span>
							</div>
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>

				<div class="break"></div>

				<div class="background font14">
					<span class="header1">Achievements</span>

					<div>
						<span class="header2">Class Valedictorian</span>
					</div>
				</div>

				<div class="break"></div>

				<div class="background font14">
					<span class="header1">Work Experiences</span>

					<div>
						<span class="header2">JuanLab</span>
						<p>
							Responsible with the overall IT Operations.
						</p>
					</div>
				</div>

				<div class="break"></div>

				<div class="background font14">
					<span class="header1">Education</span>

					<div>
						<span class="header2">Pamantasan ng Lungsod ng Pasig</span>
						<div>
							Bachelor of Science in Information Technology
						</div>
					</div>

					<div class="top-spacer">
						<span class="header2">Rizal High School</span>
						<div class="font12">
							June 1999 - March 2003
						</div>
						<div class="font12">
							Class Valedictorian
						</div>
					</div>
				</div>

				
			</div>

			<div class="right">
				<div class="statistics">
					<span class="header3">Statistics</span>

					<div>
						<img src="../ASSETS/img/view.png" style="width:16px;">
						<span class="font12">Viewed 1,500 times since May 10</span>
					</div>
					<div>
						<img src="../ASSETS/img/heart.png" style="width:16px;">
						<span class="font12">Followed by 105 employers</span>
					</div>
					<div>
						<img src="../ASSETS/img/feedback.png" style="width:16px;">
						<span class="font12 link">Receives 5 Recuitment Feedback</span>
					</div>
				</div>

				<div class="break"></div>

				<div>
					<button type="button" class="btn btn-danger" style="width:100%; margin-bottom:5px;">ADMIRE</button>

					<button type="button" class="btn btn-info" style="width:100%; margin-bottom:5px;">NONAME</button>
					
					<button type="button" class="btn btn-warning" style="width:100%; margin-bottom:5px;">SEND FEEDBACK</button>

					<button type="button" class="btn btn-default" style="width:100%; margin-bottom:5px;">EXPORT CV</button>
				</div>

				<div class="break"></div>

				<div class="updates">
					<span class="header3">Latest Updates</span>

					<div>
						<div>
							<span class="sub">June 10, 2016 12:00 PM</span>
						</div>
						<div style="margin-top:-10px;">
							<span class="font12">Updated profile picture</span>
						</div>
					</div>
					<div>
						<div>
							<span class="sub">May 31, 2016 06:00 PM</span>
						</div>
						<div style="margin-top:-10px;">
							<span class="font12">Added new employer</span>
						</div>
					</div>
					<div>
						<div>
							<span class="sub">January 01, 2016 08:00 PM</span>
						</div>
						<div style="margin-top:-10px;">
							<span class="font12">Receives Recruitment Feedback</span>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>



		<!-- <div class="div-profile">
			<table class="row-border hover report table table-bordered" cellspacing="0" style="width:50%;">
				<tr>
					<td class="leftside">Applicant ID</td>
					<td>CHRS-{{profile.data.applicant_id}}</td>
				</tr>
				<tr>
					<td class="leftside">First Name</td>
					<td>{{profile.data.first_name}}</td>
				</tr>
				<tr>
					<td class="leftside">Middle Name</td>
					<td>{{profile.data.middle_name}}</td>
				</tr>
				<tr>
					<td class="leftside">Last Name</td>
					<td>{{profile.data.last_name}}</td>
				</tr>
			</table>
		</div> -->
	</div>
</div>

<script>

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>