
<style>
    .noTopBottomPad
    {
        padding-top : 2px !important;
        padding-bottom : 2px !important;
    }
	.overlap {position: absolute !important;
        z-index: 900 !important; width: inherit  !important ;}
	.loadImage { background: white url('{!URLFOR($Resource.AutoCompleteWithModal, 'AjaxLoad.gif')}') right center no-repeat; }

</style>

<div ng-controller="Background" style="background-color: #f02921">
	<div>
	    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
	        <div class="container topnav" style="color:#FFF !important;">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header" style="width:100%;">
	            	<div style="float:left;">
	            		<a class="navbar-brand topnav" href="#/home">
		                	Joberfied
		                </a>
	            	</div>

	                <div style="float:left; width: 40%;">
	                	<!-- <autocomplete ng-model="searchbox.text" attr-placeholder="Search candidates here" click-activation="true" data="movies" on-type="searchbig()" on-select="doSomethingElse" class="searchbar"></autocomplete> -->
	                	<!-- <div class="autocomplete">
	                		<autocomplete ng-model="result" attr-placeholder="Search candidates here" click-activation="true" data="movies" on-type="doSomething" on-select="doSomethingElse" class="searchbar"></autocomplete>
	                	</div> -->
						    
	                </div>
	                <div style="clear:both;"></div>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	                <!-- <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a>About</a>
	                    </li>
	                    <li>
	                        <a>Services</a>
	                    </li>
	                    <li>
	                    	<a id="menu-toggle" href="#">Profile</a>
	                    </li>
	                </ul> -->
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>
	</div>

	<!-- <div style="width:100%; height: 50px; text-align:center; padding-top: 30px;">
		<input type="text" class="searchbar" placeholder="Search..." maxlength="60" data-ng-model="searchbox.text" data-ng-change="searchbig()" />
	</div> -->
	<div style="clear:both;"></div>
	<div class="main" style="margin-top: 50px;">
			<div style="clear:both;"></div>
			<div class="registration">
				<form name="userForm" ng-submit="register()" novalidate>
				<div class="register"><span> REGISTRATION </span></div>

					<div class="inputs">
						<div class="leftinputs">
							<div ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
								<input class="company" type="text" name="name" ng-model="form.company_name" placeholder="COMPANY NAME" required>
								<span class="cerror" ng-show="userForm.name.$invalid && !userForm.name.$pristine">Your Company Name is required.</span>
							</div>
							<div ng-class="{ 'has-error' : userForm.person.$invalid && !userForm.person.$pristine }">
								<input class="fname" type="text" is-letters name="person" ng-model="form.first_name" placeholder="FIRST NAME" required>
								<input  class="lname" type="text" name="person" is-letters ng-model="form.last_name" placeholder="LAST NAME" required></br>
								<span class="cerror" style="margin-bottom:-25px; margin-top:10px" ng-show="userForm.person.$invalid && !userForm.person.$pristine" >Your Full name is required.</span></br>
							</div>
							<div ng-class="{ 'has-error' : userForm.number.$invalid && !userForm.number.$pristine }">
								<input type="text" is-number maxlength="12" name="number" class="office_number oname" ng-model="form.office_number" placeholder="OFFICE NUMBER" required>
								<input type="text" is-number maxlength="10" name="number" class="extensions lname" ng-model="form.extensions" placeholder="EXTENSIONS" required></br>
								<span class="cerror" style="margin-bottom:-25px; margin-top:10px" ng-show="userForm.number.$invalid &&!userForm.number.$pristine">The following Numbers are required.</span></br>
							</div>
							<div ng-class="{ 'has-error' : userForm.mobile_number.$invalid && !userForm.mobile_number.$pristine }">
								<input class="contact" type="text" is-number placeholder="Contact Number" maxlength="12" name="mobile_number" ng-model="form.mobile_number" required>
								<span class="cerror" ng-show="userForm.mobile_number.$invalid && !userForm.mobile_number.$pristine">Your Mobile Number is required.</span>
							</div>
							<div ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
								<input class="email" type="text" name="email" ng-model="form.email_address" placeholder="E-mail" required>
								<span class="cerror" style="margin-bottom:15px" ng-show="userForm.email.$invalid && !userForm.email.$pristine">Enter a valid email.</span>
							</div>
						</div>
						<div class="regbreak"></div>


						<div class="regbreakSec"></div>
						<div class="extra">
							<div>
							For Other Information:
							</div>
							<div>
							Please Fill out the following.
							</div>
							<div>
							And for inquiries:
							</div>
							<div>
							Please contact us at 09777654321.
							</div>
						</div>

						<!--Button-->
						<button type="submit" class="btn btn-primary button" ng-disabled="userForm.$invalid" ng-click="register()">REGISTER</button>
					</div>
				</form>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>

</div>

	