
<style>
    .noTopBottomPad
    {
        padding-top : 2px !important;
        padding-bottom : 2px !important;
    }
	.overlap {position: absolute !important;
        z-index: 900 !important; width: inherit  !important ;}
	.loadImage { background: white url('{!URLFOR($Resource.AutoCompleteWithModal, 'AjaxLoad.gif')}') right center no-repeat; }

</style>

<div ng-controller="Background" style="background-color: #f02921">
	<div>
	    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
	        <div class="container topnav" style="color:#FFF !important;">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header" style="width:100%;">
	            	<div style="float:left;">
	            		<a class="navbar-brand topnav" href="#/home">
		                	Joberfied
		                </a>
	            	</div>

	                <div style="float:left; width: 40%;">
	                	<!-- <autocomplete ng-model="searchbox.text" attr-placeholder="Search candidates here" click-activation="true" data="movies" on-type="searchbig()" on-select="doSomethingElse" class="searchbar"></autocomplete> -->
	                	<!-- <div class="autocomplete">
	                		<autocomplete ng-model="result" attr-placeholder="Search candidates here" click-activation="true" data="movies" on-type="doSomething" on-select="doSomethingElse" class="searchbar"></autocomplete>
	                	</div> -->
						    
	                </div>
	                <div style="clear:both;"></div>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	                <!-- <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a>About</a>
	                    </li>
	                    <li>
	                        <a>Services</a>
	                    </li>
	                    <li>
	                    	<a id="menu-toggle" href="#">Profile</a>
	                    </li>
	                </ul> -->
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>
	</div>

	<!-- <div style="width:100%; height: 50px; text-align:center; padding-top: 30px;">
		<input type="text" class="searchbar" placeholder="Search..." maxlength="60" data-ng-model="searchbox.text" data-ng-change="searchbig()" />
	</div> -->
	<div style="clear:both;"></div>
	<div class="main" style="margin-top: 50px;">
			<div style="clear:both;"></div>
			<div class="registration">
				<form name="userForm" ng-submit="register()" novalidate>
				<div class="breakthick"></div>
				<div class="breakthickSec"></div>
				<span class="title"> REGISTRATION </span>
				<div class="inputs">
					<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
						<input type="text" name="name" class="company" ng-model="form.company_name" placeholder="COMPANY NAME" required>
						<span style ="margin:-5.5% 0% 0% 37%;font-size:13px;width:300px;color:red;" ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="name">Your Company Name is required.</span>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : userForm.person.$invalid && !userForm.person.$pristine }">
						<input type="text" style="width:49.5%; float:left" is-letters name="person" class="fname" ng-model="form.first_name" placeholder="FIRST NAME" required>
						<input type="text" style="width:49.5%; float:left" name="person" class="lname" is-letters ng-model="form.last_name" placeholder="LAST NAME" required>
						<span style ="margin:-5.5% 0% 0% 39%;font-size:13px;width:300px;color:red;" ng-show="userForm.person.$invalid && !userForm.person.$pristine" class="person">Your Full name is required.</span>
					</div>
					<div class="form-group"  ng-class="{ 'has-error' : userForm.number.$invalid && !userForm.number.$pristine }">
						<input type="text"style="width:50%; float:left" is-number maxlength="12" name="number" class="office_number" ng-model="form.office_number" placeholder="OFFICE NUMBER" required>
						<input type="text"style="width:50%; float:left" is-number maxlength="10" name="number" class="extensions" ng-model="form.extensions" placeholder="EXTENSIONS" required>
						<span style ="margin:-5.5% 0% 0% 40%;font-size:13px;width:300px;color:red;" ng-show="userForm.number.$invalid &&!userForm.number.$pristine" class="number">The following Numbers are required.</span>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : userForm.mobile_number.$invalid && !userForm.mobile_number.$pristine }">
						<input type="text" placeholder="Contact Number" maxlength="12" name="mobile_number" class="mobile_number" ng-model="form.mobile_number" required>
						<span style ="margin:0% 0% 0% 36.5%;font-size:13px;width:300px;color:red;" ng-show="userForm.mobile_number.$invalid && !userForm.mobile_number.$pristine" class="help-block">Your Mobile Number is required.</span>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
						<input type="text" name="email" class="email" ng-model="form.email_address" placeholder="E-mail" required>
						<span style ="margin:-4% 0% 0% 42%;font-size:13px;width:300px;color:red;" ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</span>
					</div>
						<div class="breakthickSec"></div>
						<button type="submit" class="btn btn-primary register" ng-disabled="userForm.$invalid" ng-click="register()">REGISTER</button>
				</div>
				<div class="breakthickSecR"></div>
				<div class="breakthickR"></div>
				</form>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>

</div>

	