<div>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav" style="color:#FFF !important;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="width:100%;">
            	<div style="float:left;">
            		<a class="navbar-brand topnav" href="#/home">
	                	Joberfied
	                </a>
            	</div>
                <div style="clear:both;"></div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            </div>
        </div>
    </nav>
</div>

<div style="clear:both;"></div>
<div class="main" style="margin-top: 50px;">
	<div style="clear:both;"></div>
	<div class="profile">
		<div class="c-menu">
			<nav style="margin-top:50px;margin-left:-15px;float:left" class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
			    <div class="container topnav" style="color:#FFF !important;margin-top:3px;">
			    	<div class="c-menu">
						<ul>
							<li>
								<a>
									<img src="../ASSETS/img/profile.png">
								</a>
							</li>
							<li>
								<a href="#/home">
									<img src="../ASSETS/img/attache.png">
								</a>
							</li>
							<li>
								<a>
									<img src="../ASSETS/img/message.png">
								</a>
							</li>
							<li>
								<a href="#/posts">
									<img src="../ASSETS/img/bookmark.png">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div>
			<div class="email_sent">
				<div style="padding-top:50px;">
					<p>Thank you for choosing Joberfied. In order to complete this registration process, an account manager will call you
					within 24 hours.</p>
					<br>
					<p>But if you're excited, call our customer hotline 02 514-1136 from Mon-Fri, 9:00 AM to 6:00PM.</p>
					<div class ="footer">
						<img src ="../ASSETS/img/chrs.png"/>
					</div>
				</div>
			</div>				
		</div>
	</div>
</div>